[2022-08-15 14:28] Zebradil commented on #381
Thanks @praveenrewar, `default-label-scoping-rules` flag works for me.

[2022-08-16 06:15] 100mik commented on #381
@Zebradil Am I understanding correctly that the StatefulSet is created by the operator at a later stage after the operator itself is created by `kapp` ?

[2022-08-16 07:48] revolunet commented on #573
After trying to overwrite fields displayed in the diff (`initialDelaySeconds` and `cpu`) i end up with :

[code]

[2022-08-16 09:02] renuy commented on #577
Hey @firgavin good to see your here. Looking forward to your PR for this issue.

[2022-08-16 09:06] 100mik commented on #577
This would be a "known risk" I guess?

We might also lose out on some "retryable cases", where `kapp` would retry in case of a failed delete due to a retryable error.

[2022-08-16 09:21] 100mik commented on #573
Hey @revolunet !
Since you have changed up the manifest, could you share the initial diff as well? It will really help in finding out what is up.
(This is me assuming that the initial diff has changed now, since you had put it in this thread the last time)

[2022-08-16 09:35] revolunet commented on #573
Ok here's the top of the diff for that deployment :

note `1b7c24b0876fdb5c244aa3ada4d96329eb72e1a4` is the sha of the image currently running in the namespace

[code]

[2022-08-16 09:42] 100mik commented on #573
I see the only conflicting change is the annotation
[code]
Could you help me understand what the resource on the cluster looks like a bit better.

Was it previously deployed by `kapp`? If so, what are the labels and annotations on it?
(I am just interested in `kapp.k14s.io/.....` annotations mainly)

It might be that we are handling some of our own annotations differently while recalculating the d

[2022-08-16 09:47] revolunet commented on #573
So on the previous deploy, made with kapp (currently up on the cluster) we have :

[code]

[2022-08-16 09:58] 100mik commented on #573
Does the deployment currently have the label `kubeworkflow/kapp` ?
(the one being supplied to `kapp` as well - `-a kubeworkflow/kapp`)

[2022-08-16 09:59] revolunet commented on #573
sorry, missed the labels :

[code]

[2022-08-16 10:11] 100mik commented on #573
Thanks for the prompt replies!

Gonna take a closer look at this, this is definitely not expected. However, I cannot reproduce the exact issue y'all have been running into :(

The closest I could get was over [here](https://github.com/vmware-tanzu/carvel-kapp/issues/573#issuecomment-1211360204) in the similar reproduction I posted, where `kapp` shows that the `identity` annotation is being removed

[2022-08-16 10:16] revolunet commented on #573
Thanks for your help, we're digging here too. yes, the ns is `env-xxx-5dc5hx`.

[2022-08-16 11:55] revolunet commented on #573
meanwhile, any strategy to force the deployment ?

[2022-08-17 12:27] mamachanko opened #578 "Diff UI applies colour inconsistently"
**What steps did you take:**

The Diff UI applies colour inconsistently when toggling groups.

**What happened:**

📺 [screen recording](https://user-images.githubusercontent.com/1182927/185119569-f09d9e5a-e2ce-4b7e-bf63-cf3a30e619b4.mov)

![Screenshot 2022-08-17 at 14 28 18](https://user-images.githubusercontent.com/1182927/185121171-4076cc59-0c1a-4b3b-adc5-2a1b4cd52ede.png)
![Screenshot 2022-08-1

[2022-08-17 13:19] mamachanko opened #579 "`kapp` deletes `ServiceAccount` before `PackageInstall`"
**What steps did you take:**

Deploy an `ns`, `pkg`, `pkgi`, `SA` and RBAC with kapp:
[code]

Uninstall the app:
[code]

[code]

**What happened:**
The deleteion of the kapp app is stuck on the `PackageInstall`, because its `SA` is already deleted:
[code]

**What did you expect:**

The kapp app smoothly deletes and cleans up.

**Anything else you would like to add:**

**Environment:**

- kapp vers

[2022-08-17 13:24] praveenrewar commented on #579
Hi @mamachanko !
Can you try using the latest version of kapp-controller (v0.39.0 I think) as the version you have mentioned is using an old version of kapp which doesn't have the default ordering for these resources.

[2022-08-17 13:29] mamachanko opened #580 "Diff UI explains how to read it"
**Describe the problem/challenge you have**

The content of the Diff UI `--diff-ui-alpha` of `kapp 0.52.0` is super helpful, but not intuitive to read.

**Describe the solution you'd like**

@kumaritanushree explained to me how to read it. I really liked her explanation and now I understand it better. Maybe it could be helpful to add a similar explanation to the Diff UI's page itself.

---
Vote on

[2022-08-17 13:30] mamachanko commented on #579
I can, but we are locked into `kapp-controller v0.38.4` via [Tanzu Cluster Essentials](https://network.tanzu.vmware.com/products/tanzu-cluster-essentials). Furthermore, I want to manage these resources with `kapp` from outside the cluster.

[2022-08-17 13:32] 100mik commented on #578
`--diff-ui-alpha` is generally used by us for debugging with sticky edge cases, it's not something users generally end up using.

Will take a look at it tho!

[2022-08-17 13:41] kumaritanushree commented on #579
@mamachanko thanks for bringing up this issue. As we had discussion over slack, deleting namespace  before (Just the logical order created by kapp) serviceAccount and packageInstall(which is part of that namespace itself) seems causing issue. It seems kapp is not following the order to delete namespaced resources properly.  Will dig into it more and will try to resolve it ASAP.

[2022-08-17 14:17] mamachanko commented on #579
As @kumaritanushree suggested, I can confirm that a custom set of change groups and rules successfully works around the issue:

[code]

[2022-08-17 16:06] 100mik commented on #573
Heyo! Sorry for the delay I was verifying a few options.

For the time being you could add the following kapp Config to you manifests:
[code]

This would exclude the problematic field while diffing all together.

If you already have a `kapp` Config you can just amend it with:
[code]

[2022-08-17 16:20] praveenrewar commented on #579
Ah, sorry, missed the namespace part.
@kumaritanushree I think we are missing a default change rule to delete resources belonging to a namespace before deleting the namespace itself.

[2022-08-17 21:54] 100mik commented on #573
Do let us know if this solution works out for you!
Thanks for reporting this, we will be looking into this behaviour.

For reference while prioritisation,
As a part of our diffing process we remove certain annotations added by kapp before generating a diff.
However, the `identity` annotation is not one of these. This _might_ be one of the reasons causing this.

It is also worth noting that even th

[2022-08-17 21:54] 100mik commented on #573
@revolunet We will drop a ping on this issue when we have a release which resolves this.

[2022-08-17 22:15] revolunet commented on #573
Thanks for the follow-up; we have quite a specific use-case and maybe this is not kapp related but due to some other misconfig but i prefer to share in case this can help anyone in that situation :)

kapp works perfectly in most cases and really helps when deploying a bunch of manifests with dependencies 💯

I tried to add your kapp config as a ConfigMap into our manifests YAML output but it didnt

[2022-08-18 14:00] scothis opened #582 "Add example for ownershipLabelRules"
I couldn't find an example of how [`ownershipsLabelRules`](https://carvel.dev/kapp/docs/v0.51.0/config/#ownershiplabelrules) are expected to work.

I was trying to show logs from a Pod managed by a Knative Service, despite adding the log annotations to the resulting Pod and using `--logs` with my deploy command, nothing was showing up...

By reading the source, this seems to solve my issue, but I

[2022-08-18 16:57] cppforlife commented on #577
i think additional flag would be reasonable to disable this check. may be under dangerous?

[2022-08-18 17:05] 100mik commented on #577
This approach makes sense to me

[2022-08-19 05:58] rohitagg2020 commented on #582
Thanks @scothis for bringing it up. We will revisit the docs and add the example so that user has reference while using `ownershipLabelRules`

[2022-08-19 06:02] rohitagg2020 commented on #580
Thanks @mamachanko for pointing it out. `--diff-ui-alpha` is an advanced feature. We will see how to enrich the command/documentation to add more context.

[2022-08-19 06:04] rohitagg2020 commented on #562
Add an example so that it will be easy to triage when somebody picks it up

[2022-08-19 06:06] rohitagg2020 commented on #557
If you find test cases which pass/fail sometimes, add them here.

[2022-08-19 06:08] rohitagg2020 commented on #541
Moving it to unprirotized backlog

[2022-08-19 06:49] rohitagg2020 commented on #342
Moving it to low priority.

[2022-08-19 06:51] rohitagg2020 commented on #350
Not picking it up as it is marked as `good first issue`. Do reach out in case more context is needed.

[2022-08-19 09:55] mamachanko commented on #582
If I may, I would like to extend this request with an example for how to use `ownershipLabelRules` so that one can see logs for `Deployments` that result from a `PackageInstall`.

_edit: I realise that the relationship between a `pkgi` and its resources is not based on ownership but managed by kapp. So `ownershipLabelRules` may not help. Either way it would be cool if the logs for `pkgi`-"owned" c

[2022-08-19 12:48] marckhouzam opened #583 "Extra output and errors during shell completion"
**What steps did you take:**
There is extra output in the shell completion choices and in some cases is even causes errors during shell completion.

**What happened:**

For bash, notice the error in this particular case (some other bash completions do work):
[code]
For zsh, notice the extra output at the end (`:4`, `Succeeded`, etc):
[code]
Also happens for fish shell.

**What did you expect:**

S

[2022-08-19 13:01] renuy commented on #583
Thanks for reporting this @marckhouzam. Checking it out.

[2022-08-19 14:16] marckhouzam commented on #583
BTW, some projects explicitly check if processing with the `__complete` command and adapt their behaviour accordingly.

For example: https://github.com/kubernetes/kubernetes/blob/d581cc90adba6c84919738841fe3e07302d53e33/staging/src/k8s.io/kubectl/pkg/cmd/cmd.go#L131

[2022-08-19 16:16] cppforlife commented on #583
@marckhouzam which version of kapp are you using? i believe latest of kapp should not have this problem.

[2022-08-19 16:48] marckhouzam commented on #583
Version `0.52.0` as installed by `brew`.
I just tried on the `develop` branch and I see the problem.

Note that this similar but not the same problem as #447.  The `completion` command had a similar problem and now we need to fix the `__complete` command.

[2022-08-20 03:49] firgavin commented on #577
Hi @cppforlife, @100mik, @praveenrewar   - Thanks for your insights! Here's my proposal:

We can add a flag `--dangerous-disable-checking-app-deletion` to enable or disable the check:

- The value is set to `false` by default, which is compatible with the current behavior.
- Once the flag is specified, kapp skips this check, and users might need to manually delete related resources.

Before I work

[2022-08-20 12:36] devthejo commented on #573
Hey !!

I finally resolved this issue that was occasioned by many factors (but finally only one was determining),

# hypothesis &#35; 1 The Bad
first, rancher was adding `metadata.annotations."field.cattle.io/publicEndpoints"` and the fix you gave us, using rebase rule is working for this issue, this is now patched in kube-workflow (legacy) and kontinuous
@revolunet here are the fix (you could als

[2022-08-21 05:47] mamachanko commented on #580
Actually, now that I am looking at it again, I don't think that the existing explanation that is displayed by the Diff UI is lacking per se. But I say that _after_ I have grokked it.

[2022-08-22 04:20] praveenrewar commented on #577
I think that we should keep the working of these 2 flags independent of each other because a user should be able to use `--dangerous-disable-checking-app-deletion` irrespective of `--wait` being enabled or disabled.

Maybe we can add a hint in the error message?

[2022-08-22 04:27] praveenrewar commented on #580
💯
I had faced the same issue initially, but once I understood the working of it, the statement `"Changes are sorted ..."` made complete sense to me.

I think that we can add an example in the docs and add a link to that example along with the explanation on the ui. Even though this is an advanced feature, it definitely helps into getting some insights into how kapp orders changes.

[2022-08-22 05:39] renuy commented on #564
@praveenrewar  to see the feasibility and figure out a way to make these functions as APIs

[2022-08-22 05:53] 100mik commented on #573
This is what I was about to suggest when you mentioned you are using reloader! This would ensure that every part of the update is handled by `kapp`. It might reduce some overhead as well!

No worries! Happy to hack through this with you

Trying to process all the information, but two thoughts come to mind.
1. Are the change rules working as expected?
2. Are you using `versioned resources` to updat

[2022-08-22 06:03] 100mik commented on #573
I am marking this issue as "helping with an issue" for the time being. Mainly because it seems like there is a lot in your environment that we are not aware of, which makes reproducing the issue _exactly_ difficult.

If something that warrants a change on our side surfaces, we will definitely prioritise it!

[2022-08-22 06:09] renuy commented on #561
Marking this as an enhancement to the existing error message.
@universam1 , Would be great if you could help us out by contributing to this issue. We will prioritise the review for this.

[2022-08-22 06:12] renuy commented on #580
1. Enhance diff-ui-alpha to explaining the output
2. Alternatively, add documentation around this feature.

[2022-08-22 06:19] mamachanko commented on #580
I understand that `--diff-ui-alpha` is considered off the happy path, but when things aren't happy it can safe your ~~life~~ day. Like it did for me last week. I could not explain why the installation of TAP waited forever until I checked the Diff UI. And, indeed, the `SecretExport` with the registry credentials was upserted after TAP's `PackageInstall`. I would never have figured that out.

[2022-08-22 06:23] renuy commented on #582
@scothis , There is a [format](https://carvel.dev/kapp/docs/v0.51.0/config/#format) in the same page you linked above, was it not helpful or not easily obvious in the documentation?

We could look at adding this as an example in our examples folder as you have suggested.

[2022-08-22 15:06] scothis commented on #582
@renuy I didn't see that config sample. I probably used the table of contents on the page to skip the overview section and go directly to the `ownershipLabelRules` section.

[2022-08-23 03:52] praveenrewar commented on #583
💯

[2022-08-23 11:28] universam1 commented on #561
@renuy Happy to contribute, I am currently in vacation please have a couple of weeks patience, thanks

[2022-08-25 10:54] #437 closed, assigned to kumaritanushree

[2022-08-26 09:49] SachithKasthuriarachchi commented on #15
@cppforlife I couldn't use this new flag on v0.52.0 release. Has it been removed?

[2022-08-26 12:37] praveenrewar commented on #15
Hey @SachithKasthuriarachchi !
We now have `--apply-timeout` and `--wait-timeout` instead of `--apply-wait-timeout`, and `--apply-check-interval` and `--wait-check-interval` instead of `--apply-wait-check-interval` (I think since v0.10.0).
You can take a look at the description by using `kapp deploy --help`.

[2022-08-27 16:30] SachithKasthuriarachchi commented on #15
@praveenrewar thanks a lot for the clarification!

[2022-08-29 06:51] praveenrewar commented on #11
Related to #442. Can be closed with #475 (using [ytt wait rules](https://carvel.dev/kapp/docs/v0.52.0/config/#waitrules)). Available in v0.48.0+.

[2022-08-29 06:51] #11 closed

[2022-09-02 19:50] mohansitaram commented on #89
Can we raise the priority of this? We are hitting a very similar error with bitnami grafana charts
[code]

Is there a workaround other than the ytt based one that @voor described? We don't use `ytt` in our deployments so it's a little inconvenient to have to go through the learning curve and introduce it to our framework.

[2022-09-03 05:42] praveenrewar commented on #89
Hey @mohansitaram! I am not sure if there is any other alternative, but we have definitely put this on high priority and it might be available in the next release. Meanwhile, we could help you with resolving this with ytt if you want.

[2022-09-03 20:48] devthejo commented on #573
Yes, thanks.

We are working on it, but it will be the case soon.

We have encountered others issues with kube-controller-manager changing annotations and making kapp fail. Each time we have a restarting Deployment because of failure during kapp deploy command is running we have conflict. To resolve this, we have now a detection of these case and cleanup before running kapp deploy, but it would be

[2022-09-03 20:56] devthejo opened #595 "InternalError connection reset by peer"
**Describe the problem/challenge you have**
Hello, sometimes I get this kind of error using kapp deploy

**Describe the solution you'd like**
Maybe this kind of error could be detected and retried automatically because it's a classical network error and rerun almost always solve the problem.

**Anything else you would like to add:**
I saw that this problem was adressed here
https://github.com/vmwa

[2022-09-04 06:06] mamachanko opened #596 "Include default template rules for packaging resources"
**Describe the problem/challenge you have**

My `PackageInstall` is referring to a `Secret` which contains its values. `kapp-controller` is kind enough to reconcile the resource again, when the `Secret` changes. However, the `PackageInstall` remains the same, and so `kapp` does not wait for the new round of reconciliation, b/c its the same resource version.

I want `kapp` to wait for the reconcili

[2022-09-05 06:07] renuy commented on #595
@praveenrewar please triage

[2022-09-05 06:07] renuy commented on #596
@praveenrewar please triage

[2022-09-05 09:18] praveenrewar commented on #595
Hmm, this definitely seems like an internal error which should have been caught by [IsInternalError](https://github.com/vmware-tanzu/carvel-kapp/blob/develop/pkg/kapp/resources/resources.go#L499). I will take a deeper look into it to see why it's being missed. Meanwhile please do let me know if there are any details that you could share which would help me in debugging this (like kapp version, log

[2022-09-06 04:58] praveenrewar commented on #573
Thank you so much for sharing. We will definitely take a look at it and let you know our next steps :)

[2022-09-06 05:14] praveenrewar opened #599 "Performance enhancements"
**Describe the problem/challenge you have**
We rely on `list` api calls to get information from the cluster which could put some burden on the cluster if the number of objects returned is high. When the number of apps being deployed using kapp increases (in cases of kapp-controller packages), this becomes a problem as the time taken to deploy the apps increases after a certain point without any bu

[2022-09-06 05:19] 100mik commented on #599
Do we have reason to believe that it is the `list` call adding to the burden rather than `get` calls in the wait stage?
I believe those would be higher in number.

[2022-09-06 05:20] 100mik commented on #599
Not sure if it will be helpful, but [this](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/1040-priority-and-fairness/README.md) KEP elaborates on the thought process and goals of API fairness and priority in detail.

[2022-09-06 15:58] devthejo commented on #595
kapp version 0.52 (using the cli, not the kube controller)
long running (jobs, deployment), many rule to make a dependency tree
I no longer have the full logs but there was no relevant things IMHO, but on next incident I will give you the full log

[2022-09-08 19:38] evankanderson commented on #599
In particular, both `list` and `get` calls will be counted against the API fairness and priority budget in a way that `watch` calls are not (there's a separate budget for those, but the assumption is that they are long-running and the cost of the initial population is amortized over the duration of the watch, possibly in conjunction with the golang informer cache).

[2022-09-12 14:58] ChristianCiach opened #603 "Kapp shows "update" operation for ConfigMap that has no changes"
**What steps did you take:**

I have a simple, static ConfigMap where kapp insists that deploying the ConfigMap will result in an `update` operation, although the ConfigMap is exactly the same as the deployed one. If I deploy the file multiple times in a row, kapp still announces the `update` operation every time.

**What did you expect:**

When the ConfigMap has not changed, kapp should not show

[2022-09-12 15:01] ChristianCiach commented on #603
The actual deployment of the not-really-changed ConfigMap is very fast, less than a second:

[code]

[2022-09-12 15:06] ChristianCiach commented on #603
Kapp version 0.51.0 behaves the same, so this is not a very new bug.

[2022-09-12 17:56] praveenrewar commented on #603
Hi @ChristianCiach! I am not able to reproduce the issue with kapp version 0.52.0 and kubernetes version 1.24. Do you have any kapp config (like rebase rules) along with the manifest or are there any external factors that could effect this resource?

kapp adds annotations to store the original resource (kapp.k14s.io/original) and the diff md5 (kapp.k14s.io/original-diff-md5).

[2022-09-12 17:59] ChristianCiach commented on #603
Thank you for your fast response!

Well, we do have a custom kapp config, but I can reproduce this issue even without those. This is very confusing. I will try to investigate this further tomorrow and I will report back then.

[2022-09-12 18:10] ChristianCiach commented on #603
There is something **inside** the ConfigMap contents that triggers this issue. It is a root-certiticate bundle and after stripping more and more certificates from the ConfigMap, the issue eventually disappears. I don't think the file is confidential, so I will upload it after a quick verification.

[2022-09-12 18:20] ChristianCiach commented on #603
Here you go: https://gist.github.com/ChristianCiach/3ac9b7261ab9b14d7cdefe7b171b542f

Can you reproduce the issue when deploying this file using `kapp deploy -a app-name -f configmap-with-bug.yaml`?

By the way, the file has been automatically created from a `cacert.pem` file using a Kustomize configMapGenerator.

[2022-09-12 18:39] praveenrewar commented on #603
Yeah, I see what's happening. We add the `kapp.k14s.io/original` annotation for every resource, but if the `kapp.k14s.io/disable-original` annotation is present or if the resource size is large then this annotation is not added (as it would exceed the maximum size allowed for an annotation). Right now it seems to be the latter case and I think this is a bug because of which this diff is being prod

[2022-09-12 19:47] ChristianCiach commented on #603
According to https://github.com/vmware-tanzu/carvel-kapp/issues/410#issuecomment-1015259613 , adding `kapp.k14s.io/disable-original` may also trigger the issue I am currently seeing:

This issue seems to be purely cosmetic, so I am okay with not doing anything on my side for the time being,.

[2022-09-12 20:15] praveenrewar commented on #603
It's true that adding the `kapp.k14s.io/disable-original` could result in unwanted diffs because the `kapp.k14s.io/original` annotation is used to calculate diff in a much smarter way. Although, right now, the reason is a bit different.
kapp adds the `kapp.k14s.io/original`, `kapp.k14s.io/original-diff-md5` and the `kapp.k14s.io/identity` annotation for all the resources. The identity annotation i

[2022-09-12 20:22] ChristianCiach commented on #603
Thanks so far! I can confirm that adding the annotation removes the bogus `update` operation in this case. Of course it would be nice to see this fixed properly some day, but this works fine for us for the time being. Thanks so much for your quick help!

[2022-09-13 07:52] 100mik opened #604 "Move `TestAppKindChangeWithMetadataOutput` to a separate file"
Today `TestAppKindChangeWithMetadataOutput` resides in `app_change_test.go`.
However, it does not have anything to do with the `app-change` command group.

This should be moved to a separate file (maybe `app_metadata_output_test.go`)

[2022-09-13 07:53] 100mik commented on #604
A quick snack for someone looking to contribute!

[2022-09-13 08:31] #583 closed, assigned to praveenrewar, sethiyash

[2022-09-13 08:57] #579 closed, assigned to kumaritanushree

[2022-09-13 11:23] #89 closed

[2022-09-13 11:52] voor commented on #89
![happy dance](https://c.tenor.com/TJMS2eBbrjMAAAAM/happy-dancing-dancing.gif)

[2022-09-13 21:45] mohansitaram commented on #89
Thanks @praveenrewar. Can I assume that this will be a part of kapp controller version 0.41.0?

[2022-09-14 05:39] 100mik commented on #89
That is the goal for now ! @mohansitaram

[2022-09-15 11:01] voor opened #605 "Add pv.kubernetes.io/migrated-to to deploy defaults for PersistentVolume and PersistentVolumeClaim"
**Describe the problem/challenge you have**
Upgrading to Kubernetes 1.23 requires migrating off the in-tree storage classes, this means any clusters that are migrating are getting  the annotation `pv.kubernetes.io/migrated-to` applied to their `PersistentVolumeClaim`.  There is already a rule for:
[code]

**Describe the solution you'd like**
Would like to add:
[code]

---
Vote on this request

Thi

[2022-09-15 14:43] praveenrewar commented on #605
Sounds reasonable to me :)

[2022-09-16 13:46] #605 closed, assigned to nobody

[2022-09-19 07:54] #426 closed, assigned to praveenrewar

[2022-09-19 08:49] #479 closed, assigned to praveenrewar

[2022-09-19 17:22] alexfouche commented on #146
Did it ever worked as fixed ?
I waited and tried all Kapp releases from 0.47 to 0.53, and i still get the Kapp configMap created with the name of my app:

[code]

This is created: I see not `.app` or no `-ctrl` or whatever suffix

[code]

[code]

[2022-09-19 17:33] ChristianCiach commented on #146
It is my understanding that Kapp uses the fully qualified configMap names by default now (edit: I may be wrong about that), but existing apps are not automatically migrated to the new naming scheme. This is documented here: https://carvel.dev/kapp/docs/v0.52.0/configmap-migration/

We are deploying with migration enabled (`KAPP_FQ_CONFIGMAP_NAMES=true`) since Kapp 0.47.0 and we didn't encounter an

[2022-09-19 18:03] devthejo commented on #595
here is a full log:
[code]

[2022-09-19 19:01] praveenrewar commented on #146
Hi @alexfouche! Just as @ChristianCiach has pointed out, kapp doesn't use the fully qualified name by default (not yet), as this would be a backward incompatible change for folks who don’t want the new behaviour. We are definitely planning planning to make this as default behaviour down the line.
Please refer to the [docs](https://carvel.dev/kapp/docs/v0.52.0/configmap-migration/) for more details

[2022-09-19 19:26] praveenrewar commented on #595
@devthejo Thank you so much! We will try to figure out why this is not part of retry-able errors.

[2022-09-19 20:20] alexfouche commented on #146
It works !
Unfortunately i was searching for help within this issue and in `kapp (...) --help` CLI indications.
Hopefully now the link to the doc is within the issue for others to find.
Thank you

[2022-09-19 20:24] ChristianCiach commented on #146
To tell the truth: When this got merged back then, I actually learned from the source code how to enable this behavior. I think it was also mentioned on the [release notes](https://github.com/vmware-tanzu/carvel-kapp/releases/tag/v0.47.0). I didn't know this was part of the documention until today..

[2022-09-20 04:04] praveenrewar commented on #146
Hmm, that's a good point, we will try to mention the docs link in the issue for such cases :)

[2022-09-20 09:51] renuy commented on #605
Released as part of v0.53.0

[2022-09-20 09:52] renuy commented on #583
Released as part of v0.53.0

[2022-09-20 09:52] renuy commented on #579
Released as part of v0.53.0

[2022-09-20 09:55] renuy commented on #563
Released as part of v0.52.0

[2022-09-20 10:00] rohitagg2020 opened #615 "kapp deploy fails when K8s server host, port and kubeconfig is passed as env and port is empty."
**What steps did you take:**
kapp deploy fails when K8s server host, port and kubeconfig is passed as env and port is empty.

**To reproduce the issue**
[code]

**What happened:**
kapp deploy errors out with following error:
[code]

**What did you expect:**
kapp deploy to succeed.

**Anything else you would like to add:**
Issue is easily reproducible on GKE cluster.

**Environment:**

- kapp versi

[2022-09-20 11:53] devthejo commented on #573
We have too many issues on conflict with our CI

to resolve this I think we could have a tag to force `--force-conflicts` like here https://kubernetes.io/docs/reference/using-api/server-side-apply/#conflicts
I can make a PR adding conditions here (etc...)
https://github.com/vmware-tanzu/carvel-kapp/blob/9e863ee3668282e236e34142b221d75629e637a4/pkg/kapp/clusterapply/add_or_update_change.go#L151

Wh

[2022-09-21 20:10] praveenrewar commented on #573
I am trying to think how this would fit into kapp being explicit about how to merge things (https://carvel.dev/kapp/docs/v0.52.0/merge-method/#why-not-basic-3-way-merge) 🤔

BTW, is it the `kapp.k14s.io/identity` annotation that is causing the conflicts? For other fields, I think rebase rules should be helpful, but for the identity annotation we definitely need to look into how we can handle it pro

[2022-09-21 21:02] devthejo commented on #573
We have an instable cluster and the kube-controller-manager is always writing new resource version, field image is conflicting but many others too, not only when a pod is restarting (as I thought first, I've implented a mechanism to clean all failed resources before deploy, I thought that was fixing the problem, and we had less error, but, at the end, errors came back) but even when there is no pa

[2022-09-22 10:04] praveenrewar commented on #573
I can make a PR adding conditions here (etc...)

I think you are seeking something similar to this [this](https://github.com/vmware-tanzu/carvel-kapp/issues/388). I think we can have a flag to enable server side apply (and bypass rebase rules) and force through conflict with another flag (as suggested in the issue, we also have an open [PR](https://github.com/vmware-tanzu/carvel-kapp/pull/392) for

[2022-09-22 10:19] devthejo commented on #573
Totally agree, but I can't do that, and is not a random kube controller, it's the kube-controller-manager and is applying change on all restart of failed pod (until backofflimit), you think this is not a normal behavior (I don't know personally) ? We are on kubernetes 1.25

[2022-09-22 10:31] devthejo commented on #573
If I understand well there is no simple solution, like just bypassing the conflict report and just force to apply without implementing server-side apply. Okay, got it, I see that PR is in working in progress from a long time. We have too many issues on this at this time to wait for it, so we will think to make dirty rebase-rules (but it will be hard to be exhaustive, and we can't be sure that we'l

[2022-09-22 11:18] praveenrewar commented on #573
Personally, even I am not sure which fields the kube-controller-manager is reposible for. Also, just wanted to confirm, when you say that there are a lot random fields that are getting updated, do you mean all of them are causing the conflict or it's just that they are appearing in the diff both the times. For example, the diff shared in the first comment in the issue have a lot of fields getting

[2022-09-22 11:22] devthejo commented on #573
I think it's just that they are appearing in the diff both the times, the field are not changing, juste the old one appear in the conflict with the new.
For me there is no "real" conflict.

[2022-09-22 11:24] praveenrewar commented on #573
One of the fields might be a bit different, and therefore hard to notice, that could also lead to the conflict, so in that case, you would need the rebase rule just for that field, and not for others.

[2022-09-22 11:24] devthejo commented on #595
I also have this one:

  Errored:
    Listing schema.GroupVersionResource{Group:"batch", Version:"v1", Resource:"jobs"}, namespaced: true: an error on the server ("error trying to reach service: dial tcp 10.0.0.1:443: connect: connection refused") has prevented the request from succeeding

[2022-09-22 11:27] devthejo commented on #573
I'm looking for recent logs right now, but I remember, except the kube native resource version, there was no others field that was different (after added rebase-rules for thoses wich was different)

[2022-09-22 11:31] praveenrewar commented on #573
Do you have any rebase rule for this? If this is only different field, then I think adding the rebase rule for this should not produce the conflict.

[2022-09-22 11:37] devthejo commented on #573
for `.metadata.resourceVersion`, no I have not, but I thought that was against the principles to add rules for native fields that was inevitably updated, like `.metadata.uid` or `.metadata.managedFields`.
The last one change when conflicts are happening and I can find  `- manager: kube-controller-manager` in it, it's the reason that is doing me to say that is the kube controller manager that was c

[2022-09-22 11:48] praveenrewar commented on #573
kapp already has rebase rules for all these fields (including resourceVersion), I am not sure how that is causing a conflict. If you run `kapp deploy-config`, you can check the default configuration that kapp applies, and the first rebase rule copies all of the metadata from the existing resource.

[2022-09-22 12:03] devthejo commented on #573
Yes, exactly what I thought, so, in my actual knowledge there is no others fields in conflict, I continue to look for logs

[2022-09-22 12:10] praveenrewar commented on #573
Yep, and because of that rebase rule, the `metadata.resourceVersion` shouldn't even be coming up in the diff, so we might have a different issue here that we need to resolve.

Thank you 🙏  Logs would definitely help.

[2022-09-22 13:04] devthejo commented on #573
Here is one, as you can see, many of theses fields are defaults, we don't specify `terminationGracePeriodSeconds: 30` in our manifests, but it's the default, so kube-controller-manager seam to add it himself

[code]

[2022-09-22 13:07] devthejo commented on #573
here is an other:

in this one path is changing as image, but the conflict is only old vs new
[code]

[2022-09-22 13:09] devthejo commented on #573
here is the last one:
[code]

[2022-09-22 13:11] devthejo commented on #573
sorry, I don't have original diff, I will add the flags `--diff-changes=true --diff-context=4 ` today on kontinuous, se we will have theses on next errors occurences

[2022-09-22 13:13] praveenrewar commented on #573
Thank you. Just `diff-changes=true` should be fine, diff-context is used to show fields around the fields that are getting changed.

[2022-09-22 13:13] devthejo commented on #573
OK got it, thanks

[2022-09-27 05:48] sethiyash commented on #62
Here is the [Proposal](https://hackmd.io/VgeLq3yDRR67aLElFvjOyA) on the different approaches which is still in the discussion phase.

[2022-09-27 13:42] psschwei opened #620 "PodDisruptionBudget is policy/v1 in Kubernetes v1.25"
We use `kapp` in our e2e testing for Knative. When using it on v1.25 Kubernetes clusters, we get a `kapp: Error: Expected to find kind 'policy/v1beta1/PodDisruptionBudget', but did not:` error.

As the v1beta1 version [has been deprecated](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#poddisruptionbudget-v125), I'd assume that bumping the apiVersion to `policy/v1` [here](https:

[2022-09-27 14:32] praveenrewar commented on #620
Hi @psschwei! Thank you for bringing this to out notice, we definitely need to add `policy/v1` to the pod related matchers that you have specified, but I believe that's not the cause of the error you are getting.
[code]
The error indicates that you are trying to deploy a resource of kind `policy/v1beta1/PodDisruptionBudget`, but it was not found on the cluster.

I couldn't find the tests that was

[2022-09-28 19:50] psschwei commented on #620
We bumped the PDBs to `v1` at the beginning of the year, and we aren't currently testing any of the versions before the bump.

cc @skonto for more details on the failing test

[2022-10-02 19:27] praveenrewar commented on #620
I see. I am not sure what else could cause this issue. @skonto would you be able to share the yaml that was used when you got this error?

[2022-10-03 05:22] praveenrewar commented on #573
Hi @devthejo! Were you able to collect logs of errors with the original diff?

[2022-10-05 08:07] vicmarbev commented on #615
I'm willing to work on this. The issue asks that it succeeds if `KUBERNETES_SERVICE_PORT` is empty. Should we then default to 6443?

[2022-10-06 09:06] devthejo commented on #573
Hi @praveenrewar ! Here it is, sorry for the delay, I was in vacations:

[code]

[2022-10-06 09:25] praveenrewar commented on #573
Thank you!
Trimming the extra stuff and keeping the necessary details. Just like the first comment, it's the identity annotation that is causing the issue. As @100mik mentioned [previously](https://github.com/vmware-tanzu/carvel-kapp/issues/573#issuecomment-1218524822), we definitely need to find out and fix the issue with this annotation. I will bump the priority for this.
Meanwhile I will also t

[2022-10-06 18:06] devthejo commented on #595
And this one today:

    Listing schema.GroupVersionResource{Group:"", Version:"v1", Resource:"pods"}, namespaced: true: an error on the server ("error trying to reach service: read tcp 10.244.12.200:52952->10.0.0.1:443: read: connection reset by peer") has prevented the request from succeeding

[2022-10-07 07:42] praveenrewar commented on #595
I think I know why you are still seeing these. [isGeneralRetryableErr](https://github.com/vmware-tanzu/carvel-kapp/blob/150cea3967a18a9ab9439139c76aea35acca0298/pkg/kapp/resources/resources.go#L471) is used only while creating, updating or patching resources, but not while getting/listing them which is where you are getting this error.
Adding this retry logic in waiting stage would solve the issue

[2022-10-07 10:26] #224 closed, assigned to kumaritanushree

[2022-10-07 10:28] rohitagg2020 commented on #615
@vicmarbev Thanks for showing your interest. We would be more than glad to have PR from you.

Yes, it should succeed if `KUBERNETES_SERVICE_PORT` is empty. We can default it to `443`.

[2022-10-10 05:53] renuy commented on #595
cc: @cppforlife

[2022-10-10 15:44] sethiyash commented on #62
Internally we decide to start supporting `regex` in path similar to the [ `allIndexes`](https://carvel.dev/kapp/docs/v0.53.0/config/#paths) we had earlier.
[code]
The `regex` key will take the regular expression supported by Golang as a value. Please let us know your thoughts.
cc: @cwlbraa

[2022-10-11 05:28] #615 closed, assigned to nobody

[2022-10-11 07:05] 100mik commented on #595
One potential risk of retrying `GET` and `LIST` calls (especially `GET` calls) might be that we might make the cause of failure worse. Since we poll the cluster using `GET` requests repeatedly (unlike updates/creates), there is a higher risk of this happening.

[2022-10-17 12:20] praveenrewar opened #622 "Operation strategy in changes summary is missing for `fallback-on-update-or-noop`"
**What steps did you take:**
Tried deploying a resource with the `fallback-on-update-or-noop` create-strategy.
[code]

**What happened:**
The operation strategy in the changes summary table was shown as `???`.

**What did you expect:**
Correct operation strategy to be shown in the table.

**Anything else you would like to add:**
We just need to add value for `createStrategyFallbackOnUpdateOrNoopAn

[2022-10-18 23:50] revolunet opened #627 "kapp and kube API Server calls limits"
Hello,

I'm benchmarking some `kapp deploy` commands on a big manifest file with 6 containers and some wait-rules, without kapp-controller, and i'm facing 403 errors from the APIServer if i do multiple concurrent `kapp deploy`. Looks like these 403 make kapp stop with :

[code]

I've done various tests and set `kapp-api-qps` to 10 and `kapp-api-burst` to 10 and have no more ideas so i'd like to sh

[2022-10-19 05:52] praveenrewar commented on #627
Hi @revolunet! I am guessing that the server has a bunch of pending requests and therefore it's refusing the tcp connection.
You can try to increase the `--wait-check-interval` duration to a high number (say 5 seconds or 20 seconds) and see if that helps. Increasing it to 5 seconds would decrease the number of api calls made during the waiting stage to ~ 1/5th.

[2022-10-19 07:08] revolunet commented on #627
thanks @praveenrewar ! will try and report with these options

[2022-10-19 07:51] revolunet commented on #627
While it reduces the load in the long run it doesnt prevent 403s.

Looks like at the start of `kapp deploy`, theres a lot of requests made and it doesnt account the qps/burst/wait options

<img width="828" alt="Capture d’écran 2022-10-19 à 09 49 52" src="https://user-images.githubusercontent.com/124937/196629823-802795d0-99c3-4584-81a7-a7f09514c215.png">

[2022-10-19 08:14] praveenrewar commented on #627
I see. Would you be able to share any such error? If it's happening in the apply stage, then you could also try increasing `--apply-check-interval` and decreasing `--apply-concurrency` (default is 5). But I feel that it's happening much before that. You can also try reducing `--existing-non-labeled-resources-check-concurrency` to a smaller number like 5 (default is 100).

[2022-10-19 14:06] revolunet commented on #627
mmm thanks. i've tried many combinations without luck. looks like we have something wrong in our cluster. it fails as soon as we launch multiple parrallel kapp deploys; investigating...

[2022-10-19 15:02] praveenrewar commented on #627
Would you be able to share a couple of things which might help us in improving kapp performance (we are already working on a couple of things https://github.com/vmware-tanzu/carvel-kapp/issues/599)
- cluster configuration (RAM, CPU, number of nodes etc,.)
- permissions available to the user/SA being used
- couple of errors where you are seeing the 403 error
- Number of kapp apps you are trying to

[2022-10-19 15:54] revolunet commented on #627
Hi

Our cluster is 6x(6cpu + 32Go)

I tried with a superior account and got no 403 but still 499 or 500 from the API Server which make kapp stop.
So yes, the 403 are due to a limited serviceaccount that cannot query cluster-wide

We use Rancher and suspect it is our bottleneck here. We'll test directly on the API Server to see if it gets better.

It works well with one `kapp deploy`, sometimes two

[2022-10-19 18:47] praveenrewar commented on #627
So yes, the 403 are due to a limited serviceaccount that cannot query cluster-wide

I see, but usually if you get a forbidden error leads kapp to stop, I am wondering what caused these mani api calls then?

That is a possibility, because based on the cluster configuration, it should be able to handle these many requests.

[2022-10-24 16:46] #622 closed, assigned to nobody

[2022-10-26 12:09] gberche-orange opened #632 "Document FORCE_COLOR=1 in kapp --help"
**Describe the problem/challenge you have**

In order to include a shortcut for kapp in k9s (see https://github.com/derailed/k9s/pull/1830), I need to pipe kapp output to the less command.

Unless the `export FORCE_COLOR=1` prereq, the `kapp inspect | less -R` fails to display colors. Same with --color or --tty flags

After searching a while, finally found the flag in https://kubernetes.slack.com/

[2022-10-26 19:01] cppforlife commented on #632
related partial work: https://github.com/vmware-tanzu/carvel/pull/581

[2022-10-28 06:02] praveenrewar commented on #627
Hi @revolunet ! Were you able to find the root cause of the failures? Let me know if you need any help or if you would like to share some information which could be helpful to improve kapp performance.

[2022-10-28 06:08] praveenrewar commented on #426
Flags `exit-early-on-apply-error` and `exit-early-on-wait-error` are available as part of [v0.53.0](https://github.com/vmware-tanzu/carvel-kapp/releases/tag/v0.53.0)

[2022-10-28 06:11] praveenrewar commented on #457
Fix available as part of [v0.50.0](https://github.com/vmware-tanzu/carvel-kapp/releases/tag/v0.50.0)

[2022-10-28 06:17] praveenrewar commented on #479
Available in [v0.53.0](https://github.com/vmware-tanzu/carvel-kapp/releases/tag/v0.53.0)

[2022-10-28 06:22] praveenrewar commented on #521
Fix available in [v0.49.0](https://github.com/vmware-tanzu/carvel-kapp/releases/tag/v0.49.0)

[2022-10-28 08:07] revolunet commented on #627
Hello @praveenrewar,

After many tests we've confirmed that it comes from the rancher API; For some reason it throws "connection refused" when under load and we're unable to find the root cause or more logs.

The good news is kapp works flawlessly when talking directly to the kube API server !

I think this issue can be closed

[2022-10-28 10:08] #596 closed, assigned to praveenrewar

[2022-10-28 11:32] praveenrewar commented on #627
Thank you for the update @revolunet. Closing the issue for now, but feel free to re open it if you find something we can improve on.

[2022-10-28 11:32] #627 closed, assigned to nobody

[2022-10-28 13:56] revolunet commented on #627
Maybe kapp could have a better retry mechanism on API errors so it could also work with flaky clusters.

Thanks for your support !

[2022-10-28 14:02] praveenrewar commented on #627
We do have a set of retry-able errors, but currently retrying doesn't happen in the waiting stage. We are tracking that over [here](https://github.com/vmware-tanzu/carvel-kapp/issues/595). Hopefully we will find a suitable solution to it soon.

[2022-11-03 14:06] schmurfy opened #634 "diffAgainstLastAppliedFieldExclusionRules with Secret"
I am deploying a `Secret` which is updated at runtime, I tried to add a kapp config to not override the data set but I cannot make it works:

[code]

The first part for `MutatingWebhookConfiguration` works well so I know the config is really used but I cannot make the `Secret` rule works and I am at a loss as to why it does not work.

Here is an example of the targeted `Secret`:
[code]

[2022-11-03 14:14] praveenrewar commented on #634
Hi @schmurfy! If I understood correctly, you don't want kapp to overwrite/remove some fields of a Secret present on the cluster. If so, you can use [rebase rules](https://carvel.dev/kapp/docs/v0.53.0/config/#rebaserules) to copy the fields from the cluster that you don't want to overwrite.

[2022-11-04 09:07] schmurfy commented on #634
My initial idea is for kapp to see that the Secret has not changed between what I wanted:
[code]

and what is deployed:
[code]

I suppose rebase rules could work too but what I really wanted is for kapp to do nothing because with the `data` field ignored both manifests are the same.

[2022-11-04 09:43] praveenrewar commented on #634
kapp uses rebase rules instead of the basic [3 way merge](https://carvel.dev/kapp/docs/v0.53.0/merge-method/) to decide how to resolve conflicts. So if you want kapp to ignore a specific field, rebase rules are the way to go :)

[2022-11-04 17:01] schmurfy commented on #634
thanks, it works :)

[2022-11-04 17:01] #634 closed, assigned to nobody

[2022-11-06 11:21] criztovyl opened #635 "diff internals: Introducing a DiffResource(s) struct"
There are some methods in `changeset_with_versioned_rs.go` that could qualify for a dedicated type/struct:

_Originally posted by @100mik in https://github.com/vmware-tanzu/carvel-kapp/pull/571#discussion_r989791601_

The changes introduced in #571 actually introduced a conflict with "far-reaching" consequences to my #517 PR.
(71 and 17, what a coincidence!)

I thought about the following there, w

[2022-11-07 06:53] 100mik commented on #635
This seems reasonable to me, but I am not sure if it qualifies as a "Factory".
Worth noting, we do need to ensure that the resources stored in `DiffResourcesFactory` are updated post renewal of resources, as we would want versioning to be applied to any renewed resources that are versioned

[2022-11-07 08:09] criztovyl commented on #635
True, its not a factory just because it hss a complex constructor... ^^

[2022-11-07 08:48] 100mik commented on #635
I am totally for scoping these to a struct. I am wondering if a single struct (just like DiffResourcesFactory) which has functions returning appropriate values would suffice. Especially since most of these are called  at most twice.

I do not have a lot of context regarding the Kustomise suffix PR at the moment, but I am definitely for scoping and grouping related functions. If you think this chan

[2022-11-08 05:39] 100mik commented on #635
I am yet to go through the other PR, but I am assigning this to you for the time being 🚀

[2022-11-10 05:28] praveenrewar commented on #632
Hey @gberche-orange! Thank you for creating this issue. The environment variable addition to kapp help section sounds good to me. Would you like to work on a PR for this?

[2022-11-14 16:47] dprotaso opened #638 "Print more details about deployments that fail to deploy"
**Describe the problem/challenge you have**

When a deployment fails to progress - kapp just exits with a little bit of information

**Describe the solution you'd like**

It would be great for the if kapp could provide more information (ie. deployment status, replica set status, pod status and even pod logs) when a failure occurs.

**Anything else you would like to add:**

N/A

---
Vote on this re

[2022-11-25 08:59] praveenrewar opened #644 "Failure in `kapp delete` results in creation of app-change ConfigMaps with no limit on the number of app-changes"
**What steps did you take:**
- Deploy an app
- Delete the app (with no permission to delete ConfigMap, to simulate a failure)

Notice that the resources are deleted but the app metadata ConfigMap still exists and there is an additional app-change ConfigMap for the last change.

- Try to delete the app again

Notice that there is another app-change CM present now.

**What happened:**
`kapp delete`

[2022-11-28 06:05] rohitagg2020 commented on #644
Looking into it.

[2022-11-29 04:29] DimpleRajaVamsi opened #646 "App name cannot have more than 63 characters"
**What steps did you take:**
Created an app with the app name having more than 63 characters.

**What happened:**
App creation failed because the app-change ConfigMaps uses the app name as a label.
[code]

**What did you expect:**
App to be created successfully.

**Anything else you would like to add:**
This causes issues for App CRs and PackageInstall CRs from kapp-controller because a kapp app i