[2021-03-15 16:07] danielhelfand commented on #206
It does appear as if `kapp ls -A` is only showing one namespace in the namespace column:

[code]

@eduardoroliveira Is your proposal here to appropriately populate the namespaces column of `kapp ls -A`?

[2021-03-15 22:12] gcheadle-vmware commented on #89
This issue was discussed in the Carvel Community meeting on 3/15/21.   

The Carvel maintainers pointed to https://github.com/vmware-tanzu/carvel-kapp/blob/develop/pkg/kapp/config/default.go#L256
Which shows the template rules in kapp used to traverse resources with the purpose of finding and updating versioned resource labels. We noticed that many of the paths contained lists such as `containers`

[2021-03-17 21:12] gcheadle-vmware commented on #202
Hi @dprotaso,

You are correct, there is currently not a way to exclude certain keys from the `kapp config-map list` command. One strategy you could take in filtering the command's output is using the `--json` output flag and then piping that into a tool like `jq`.

We were able to produce this command that ignores a specific key from your kapp config-map command:
`kapp config-map list -a app --va

[2021-03-17 21:57] gcheadle-vmware commented on #201
Hey @RafPe,

You are correct that you cannot use the `-f` flag with the `kapp app-group` command. To include your rebase rules when deploying, you can place the kapp config in its own yaml file, and place that file in the directory which that config applies. Thus you would need to provide a kapp config for each directory (each dir is a kapp app in the `kapp app-group` command case) that needs one.

[2021-03-17 22:03] #140 closed, assigned to nobody

[2021-03-17 22:12] cari-lynn commented on #205
Hi @eduardoroliveira, I believe the `Forbidden: pod updates may not change fields...` error you see is because Kubernetes Pods `status` is immutable. kapp has a built in rule to prefer user specified values over cluster values for `status` when calculating the change set, and since it's provided in the manifest, kapp will try to apply that change. When you deploy the Pod, the cluster modifies the

[2021-03-18 09:53] RafPe commented on #201
Well this for me its a bit of cumbersome approach.I would like to avoid duplications. I recognize where we can have scenarios where separate rules per app may have a way of be. From my side I would suggest if possible:
* adding a switch which would apply provided rules file across iteration of applying into group
* adding switch to specify config map which holds the rules for evaluation

Yes - doc

[2021-03-18 23:50] gcheadle-vmware commented on #204
Hi @jstrachan,

Yes, we have seen this problem before. Deployment resources can have immutable fields (spec.selector) that kapp will try and update. For this case, you can add the `kapp.k14s.io/disable-default-label-scoping-rules: ""` annotation as a [kapp configuration](https://carvel.dev/kapp/docs/latest/config/) to prevent kapp from touching the immutable fields when adopting a resource.

We ar

[2021-03-24 17:22] aaronshurley commented on #205
@eduardoroliveira are you still encountering this issue? If not, can we close this out?

[2021-03-24 17:23] aaronshurley commented on #204
@jstrachan does the above help? Please let us know if you need any further assistance or if we can close this issue.

[2021-03-25 21:49] gabegorelick commented on #138
This seems pretty common when importing existing resources. It would be nice if kapp were smarter about not modifying immutable fields and if the docs provided more guidance about how to handle this.

[2021-03-28 11:52] StarpTech opened #207 "My apps are listed under the wrong namespace"
Hi, I deployed two applications in two different namespaces `staging` and `production`. Why are they listed under "default" in the first column?

[code]

Here is another case. It says `Apps in namespace 'default'` but it shows all my apps across all namespaces.

[code]

I didn't deploy with `kapp deploy -n $NS` but I specified the namespace in the manifests.

**Environment:**

- kapp version (use

[2021-03-29 23:15] ewrenn8 opened #208 "Add per change wait timeout"
**Describe the problem/challenge you have**
I want to lower the amount of time I wait for a change to take effect, but still allow longer running deploys to continue successfully.

**Describe the solution you'd like**
Currently, lowering the timeout lowers the amount of time allowed for the entire deploy to finish, regardless of if it is continuing successfully or not. I would like a way to specif

[2021-03-30 04:09] cari-lynn commented on #201
@RafPe, could you elaborate on what you mean by

This issue came up in our march 29th community meeting, this is what we talked about:
@pivotaljohn @joaopapereira

`kapp app-group` command has come up in a [ytt issue](https://github.com/vmware-tanzu/carvel-ytt/issues/260) in the past, in that issue it was brought up that `kapp app-group` could be done by a script iterating over directories to depl

[2021-03-30 08:01] RafPe commented on #201
With this one I was just tinkering if something like `kapp app-group --global-config-cm some-namespace/config-map-name` could be implemented. This of course is one of many approaches that could be taken.

I think this something we would like to address. We could try to get some feedback from community - however in scenarios where I came across this it makes sense that I do not replicate the kapp c

[2021-03-30 17:37] dprotaso commented on #202
Yeah I knew piping it to jq/yq is an option though I wanted the nice table output that `kapp` produces

[2021-03-30 21:57] gcheadle-vmware commented on #207
Hey @StarpTech,

I'm having trouble re-creating this issue, if you could provide some additional steps for reproducing this scenario, that would be helpful.

Do you know if the `production` and `staging` namespaces existed prior to your deployment of resources in these namespaces?

Based on the docs, using `-n` flag allows to control which namespace is used for finding and storing metadata ConfigM

[2021-03-31 07:46] StarpTech commented on #207
Yes, they existed prior.

I render my manifests with Skaffold. Kapp for deployment. Just to be clear. My apps are in the corrent namespace only the view is misleading.

[2021-03-31 17:19] aaronshurley commented on #208
Hey @ewrenn8, could you share a bit more about a specific use case that you'd like to improve?

[2021-03-31 17:24] aaronshurley commented on #206
hey @eduardoroliveira, any thoughts on the above question?

[2021-03-31 19:01] gcheadle-vmware commented on #207
I agree, I didn't fully understand the output of `kapp list` until today after a conversation with @cppforlife.

So, for your two kapp apps, `identity` and `API`, they each have a [state config map](https://carvel.dev/kapp/docs/latest/state-namespace/) that kapp creates. This config map tracks metadata about the respective deployed kapp app. You can control where (which namespace) these config map

[2021-04-01 16:48] ewrenn8 commented on #208
This is to improve kapp's ability to determine when a deployment has failed. Currently, the timeout toggle isn't granular enough to distinguish between a failing deployment and a successful deployment that takes a long time. By introducing a per wait timeout, users will be able to leave the overall timeout long enough to accommodate long running deployments without having to wait a long amount of

[2021-04-01 18:40] cari-lynn commented on #201
@RafPe would you mind sharing what your kapp `Config` is and what you have in your configuration so we can better understand your use case? I'm curious how you have your kapp `Config` wrapped in a `ConfigMap`.

I think we want to move forward with this issue of allowing a kapp `Config` that can be applied to all apps in an `kapp app-group` command. Currently kapp will ignore resources in the root

[2021-04-01 21:00] gcheadle-vmware commented on #204
@aaronshurley Keeping this issue open as a tracker for adding the question to FAQ doc.

[2021-04-01 21:31] RafPe commented on #201
So wrapping into ConfigMap was just an idea - its not something I did :) I have it as just flat file

Structure which Im working with looks following
[code]

What happens is that I'm working with 3 env - and what follows - 3 kubernetes clusters. Each of the app is templated using *gomplate* and custom data sources per env.

My motivation here is to have maybe one ( would be perfect ) or per env ka

[2021-04-02 14:49] cppforlife commented on #201
i would recommend this as well. in fact i would take this further and suggest just adding -f flag that can take any configuration (including kapp's Config). these -fs would be propagated to each kapp deploy executed.

[2021-04-05 19:30] aaronshurley commented on #208
Discussed at our community meeting on 4/5. For this issue:
- We're interested in keeping the timeout as a general timeout per change and not something more granular (i.e. specific change).
- We don't intend to change the global timeout as a part of this issue.
- Add this configuration as a command-line flag (similar to the existing global timeout).
- We didn't come to a conclusion on a whether thi

[2021-04-07 20:00] joaopapereira commented on #206
I deployed using `kapp` a couple of manifests in different namespaces and this is the output:
[code]
Looks like what is represented as `Namespace` in that column on the left is the place where the config-map that `kapp` uses to manage the deployment is placed.
If you notice the last one you will see that is the only one that has a namespace that is different from `default` and that happens because

[2021-04-07 20:08] joaopapereira commented on #206
Just another piece of information if you want these ConfigMaps to be created in a different namespace you can provide the `-n` flag when doing the deploy, and `kapp` will create the ConfigMap in that particular namespace. This way the first column of the output for `kapp ls -A` will have a different value.

[2021-04-07 23:05] gcheadle-vmware commented on #189
Documentation added in [carvel.dev#71](https://github.com/vmware-tanzu/carvel.dev/pull/71).

[2021-04-07 23:05] #189 closed, assigned to gcheadle-vmware

[2021-04-08 14:34] joaopapereira commented on #208
Given the above outcome, going to change the label to accept.
This feature includes the addition of the flag `--apply-resource-timeout`.

---

**Acceptance criteria**

🟢 Happy path
**Given** I have some manifests to install
**When** I execute `kapp deploy -a app1 -f manifests --apply-resource-timeout 1m`
**Then** I should see `Succeed`

🔴 Changes take longer than the timeout
**Given** I have some

[2021-04-08 14:57] cirocosta commented on #145
@danielhelfand I'm currently facing something really similar running `kapp deploy` on an eduk8s workshop session in a kind cluster:

[code]

where

[code]

After the failure, I can see that `kapp` was able to create the Role though (which makes me think that yes, it's an ordering issue).

(naturallly, `kubectl apply -f ...` works with no problems)

also:

[code]

and

[code]

ps.: having the `Role

[2021-04-08 15:32] cirocosta commented on #145
@jorgemoralespou suggested as a workaround using apply ordering annotations (ref https://carvel.dev/kapp/docs/latest/apply-ordering/):

[code]

which indeed does the trick 👍

[2021-04-08 22:24] danielhelfand commented on #145
For anyone running into this issue, as @cirocosta documented, it does seem like change-group/change-rule annotations for Role/RoleBinding is a nice workaround to force the creation of the RoleBinding to wait for the Role to be present. It might be worthwhile for `kapp` to consider adding RoleBindings waiting for Roles by default to help with this issue.

[2021-04-11 14:46] dprotaso commented on #76
I just encountered this as while using an idempotent [K8s job](https://github.com/knative/serving/blob/main/config/post-install/storage-version-migration.yaml#L18) with `kapp`

I can think of two potential approaches to solving this problem for K8s jobs
1) `kapp` generates the `name` based on `generateName`
2) `kapp`'s wait uses the `name` returned by the API server

[2021-04-14 00:26] cari-lynn commented on #201
Updated the acceptance criteria to reflect these changes

## Acceptance Critera
### Scenario 1: `Config` applies to all apps
**Given** I have a `Config` file I want to apply to all my apps
**When** I deploy using `kapp app-group deploy -g app-name`
**Then** I see my `Config` has applied to all apps

Given this directory structure:
[code]
where app1/deployment is:
[code]
and a `kapp-config.yml`
[co

[2021-04-14 16:57] gabegorelick commented on #204
https://github.com/vmware-tanzu/carvel.dev/pull/84 added the mentioned [FAQ entry](https://carvel.dev/kapp/docs/latest/faq/#migrating-from-kubectl-apply-to-kapp):

But I am confused why kapp doesn't handle this by default instead of erroring out.

[2021-04-14 17:10] aaronshurley commented on #201
Thanks for solidifying the acceptance criteria. We're going to move this to the Unprioritized Backlog for now. This signals that the maintainers are not planning to prioritize this soon but would accept contributions.

[2021-04-14 17:18] aaronshurley commented on #145
We're going to move this to the Unprioritized Backlog for now. This signals that the maintainers are not planning to prioritize this soon but would accept contributions.

[2021-04-14 22:38] cari-lynn commented on #204
When trying to update label selectors kapp will error when adopting existing resources not deployed by kapp and the person deploying currently needs to decide what strategy that is best for them to fall back on.

I can think of two strategies to choose from:
- Not update label selectors (using kapp.k14s.io/disable-default-label-scoping-rules: ""`). This has no effect on kapp's ability to track res

[2021-04-20 17:32] gcheadle-vmware commented on #207
Hey @StarpTech, did my explanation above help?

[2021-04-20 22:40] gcheadle-vmware commented on #202
Hi @dprotaso,

I understand the desire to have the nice table output. I tried piping the output into `grep -v -e _example`, and the lines were removed while remaining in table output. This may work in the meantime, however, I feel that there is an opportunity to improve the UI here.

I’m proposing a flag that could apply to kapp commands that print a table output (except kapp deploy). This flag, s

[2021-04-21 07:56] StarpTech commented on #207
Hi @gcheadle-vmware sry, yes it helps but it's still confusing. I'd rename it to `App configs` or remove it.

[2021-04-21 13:20] dprotaso commented on #202
Yeah that'd work for me

[2021-04-22 17:26] cari-lynn opened #214 "Don't update immutable fields when adopting resources deployed by other tools"
**Describe the problem/challenge you have**
Given I have deployed resources with `kubectl`
When I deploy updates to those resources with `kapp`
Then I expect that `kapp` is able to adopt those resources, apply the changes and not error

Currently, when deploying `kapp` will sometimes error with `field is immutable (reason: Invalid)` when it is updating a label for a resource where that field is im

[2021-04-22 17:27] #204 closed, assigned to gcheadle-vmware

[2021-04-24 17:58] lnhrdt opened #215 "orphan delete-strategy for child resources not created by kapp"
I have an app that I deploy and teardown all the time as part of an automated test process. Part of my app includes certificates generated by cert-manager and provisioned by Let's Encrypt.

Up until now, I excluded the certificate resources from the automated test environment  because the act of creating and deleting the certificate resources leads to exceeding Let's Encrypt's [rate limits](https:

[2021-04-24 20:33] cppforlife commented on #215
hey @lnhrdt,

thanks for a detailed question. here is whats happening: kapp knows about resources _it_ creates vs resources that get created by controllers/cluster as a response to kapp created resources.

if you take a look at the delete summary, there is a column called "Op" that indicates what operation kapp will take against that resource. in your case, 2 resources that were created by cert-ma

[2021-04-25 18:14] lnhrdt commented on #215
Hey @cppforlife

Your suggestion worked great! I applied the `kapp.k14s.io/owned-for-deletion: ""` annotation to my certificates. Something (presumably cert-manager) copied them over to the generated CertificateRequest and Order resources. When I used kapp to delete the app, it identified all 3 resources as having an orphan strategy and successfully deleted the app while leaving those 3 behind. Th

[2021-04-26 13:17] cppforlife commented on #215
since we marked them with "owned-for-deletion" they are owned by the app (for deletion at least) from kapp's pov. if you have a diff snippet (with summary) it might be useful to see how it looks.

can you tell me a bit more about this one? any errors that popped up?

[2021-04-26 18:01] pivotaljohn commented on #204
It wasn't 100% clear to me, reviewing this issue, but here's the status as of now:

- [x] as @gabegorelick said, the FAQ requested by this issue _was_ written an merged in vmware-tanzu/carvel.dev#84
- [x] @cari-lynn captured the desire for a better out-of-the-box experience with #214; how we go about doing this will be worked through _that_ issue.

[2021-04-26 20:46] pivotaljohn opened #216 "`kapp` How to Guides"
Current documentation lacks guidance on why and when to configure aspects of deployment as well as how to pull together the mechanisms to do so.

Some of this is captured in [the FAQ](https://carvel.dev/kapp/docs/latest/faq/) but users would be better served if they were organized into a bit of a narrative.

Topics include:
- Configuration Rules, in general
  - where do defaults come from? how can

[2021-04-26 20:48] pivotaljohn commented on #138
@gabegorelick pointed out:

Yes. #214 is where we're shaping the improved out-of-the-box experience. 👍🏼

Agreed. As a stopgap, we added an item to the FAQ (i.e. vmware-tanzu/carvel.dev#84 yielded https://carvel.dev/kapp/docs/latest/faq/#migrating-from-kubectl-apply-to-kapp) as a contextualized instance of this. Which _is_ helpful....

But there's evidence that the whole configuring rules mechanism

[2021-04-26 21:48] pivotaljohn commented on #214
Removed `carvel-triage` label: there's enough interest, there's identified value, and we have enough precision in the request to consider it
Added `discussion` label: we're hashing out what's the right approach to meet this need, generally.

[2021-04-27 16:36] ralbertsasrc commented on #23
A fix would be great!  Is there a work around?

[2021-04-27 22:36] pivotaljohn opened #217 "Differentiate between the namespace where state is stored vs. namespaces were App resources are deployed in `kapp list`"
**Describe the problem/challenge you have**
Multiple users have found the "namespace" portion of `kapp list` to be unintuitive (at best), confusing, or lead them to incorrect conclusions (at worst).

Examples:
- #206
- #207

**Describe the solution you'd like**
More clearly differentiate between:
- the namespace wherein the App state is stored, and
- the namespace(s) where Apps are deployed

Examp

[2021-04-27 23:07] pivotaljohn commented on #206
This ambiguity in the UI has yielded two issues and who knows how much unchecked confusion.
Addressing this with #217.

Marked this as "helping-with-an-issue" — because it was about explaining a confusing UI, not that the tool doesn't have the feature.

@eduardoroliveira, if you would like more support, please do not hesitate to request here or in [Slack](https://kubernetes.slack.com/archives/CH8K

[2021-04-27 23:07] #206 closed, assigned to nobody

[2021-04-28 12:30] cppforlife opened #218 "show that CRD deletion is waiting for all of its instances to be deleted"
**Describe the problem/challenge you have**

when deleting a CRD, k8s will initiate deletion of all of its instances. this may take time or even fail down the line. currently kapp progress log does not show info about this state.

**Describe the solution you'd like**

https://github.com/vmware-tanzu/carvel-kapp/blob/develop/pkg/kapp/clusterapply/converged_resource_factory.go#L35-L39 describes dele

[2021-04-28 15:24] pivotaljohn commented on #207
Tracking the merged request for a more intuitive UX in #217; closing this issue and tracking the work there.

[2021-04-28 15:24] #207 closed, assigned to nobody

[2021-04-30 23:58] pivotaljohn commented on #202
This sounds like a useful feature.

@dprotaso would you mind dropping a sample output of the `kapp config-map` output that triggered this issue?
It would help folks better connect with the experience?

[2021-05-03 17:42] dprotaso commented on #202
Knative has verbose comments in their configmaps under a `_example` key

ie.
https://github.com/knative/serving/blob/main/config/core/configmaps/autoscaler.yaml#L25

[2021-05-04 11:54] cameronbraid commented on #182
Since the proposal has been accepted, are you able to give an idea of the timeframe ?

[2021-05-05 18:08] caphrim007 commented on #49
not sure if this is the appropriate location to put this, but HorizontalPodAutoscaler will modify the HPA annotations like so

[code]

and kapp will always remove these and HPA will just add them back. I (personally) include a rebase rule to tell kapp to ignore this (because the HPA manages it). Here's the rule I use

[code]

[2021-05-07 14:18] iamhsk commented on #165
@cppforlife Is the intent behind this issue to move both the renamed app and the configmap to a different namespace? Or just the configmap? And in what situation a configmap would be dropped into a wrong namespace?

[2021-05-07 15:02] iamhsk commented on #125
@cppforlife Could you share how to reproduce this? In the code snippet you provided, don't see where it would panic.

[2021-05-07 19:28] aaronshurley commented on #11
Moving this issue to the Unprioritized Backlog until we have a sufficient definition of the intended solution.

[2021-05-16 17:01] bsctl opened #219 "kapp: Error: Blacklist errors on Config Maps"
**What steps did you take:**
I've a simple `yaml` file containing a `Config Map` like this `grafana.yaml` manifest

[code]
**What happened:**
Apply the manifest

[code]

**What did you expect:**
An application deployed

**Anything else you would like to add:**
[Additional information that will assist in solving the issue.]

**Environment:**

- kapp version `0.36.0`
- OS `ubuntu`
- Kubernetes versi

[2021-05-17 20:25] cppforlife commented on #219
hey @bsctl, kapp creates a configmap with the name given to -a to store some metadata like unique label it generated. because you are also creating ConfigMap with the same name kapp notices a conflict and isnt allowing you to proceed. i would recommend changing a name to something like `-a grafana-app`

[2021-05-17 20:31] bsctl commented on #219
@cppforlife thanks for comment. Any plan to fix this in short term? I love `kapp`. Thanks.

[2021-05-17 20:58] StarpTech opened #220 "kapp deploy with "--logs-all" doesn't stop after deployment"
**What happened:**
Sometimes when running `kapp deploy --allow-ns staging --allow-ns production -a ${profile} -f- -c -y --logs-all` in Github action the command will never stop and I see consecutive logs from the pods. When I remove `--logs-all` it works normally.

**What did you expect:**
Printing logs should stop after the successful deployment.

**Environment:**

- kapp version (use `kapp --ver

[2021-05-18 20:49] cppforlife commented on #23
@ralbertsasrc no workaround for this unfortunately. if you are always certain that there shouldnt be an app, then you can run kapp delete after --diff-run to remove created configmap.

[2021-05-18 20:51] cppforlife commented on #219
this comment [0] describes this same issue and potential improvement to kapp; however, we havent prioritized it yet. if you are feeling up for it we would welcome a PR implementing suggested approach.

[0] https://github.com/vmware-tanzu/carvel-kapp/issues/146#issuecomment-698960773

[2021-05-18 20:52] cppforlife commented on #219
(closing in favor of #146 -- forgot that we had this issue already)

[2021-05-18 20:52] #219 closed, assigned to nobody

[2021-05-18 20:57] cppforlife commented on #220
@StarpTech any correlation to anything going on? e.g. gets stuck when deployment has failed, or anything like that? how frequently does this happen?

[2021-05-18 21:05] cppforlife commented on #220
actually im not seeing how this could be possible since tailing of logs happens in a go routine so it doesnt block exit of deploy command. what is the last line of output you are seeing? are you sure that kapp deploy is blocking and not something else? are you seeing https://github.com/vmware-tanzu/carvel-kapp/blob/develop/cmd/kapp/kapp.go#L48 printed?

[2021-05-18 22:00] StarpTech commented on #220
No, the deployment was successful but the tailing process has never stopped.

Yes, after 7min and 300MB of logs in the Github action. According to the logs, the probes endpoints were called multiple times per second.

[code]

[2021-05-19 15:09] cppforlife commented on #220
so you are saying this is happening consistently? that's ultimately my question, does it happen all the time or occasionally?

thats all kubernetes. kapp has no idea what probes even are. it just puts a resource into k8s and waits for it to say im all done.

hmm it's a bit hard without output to understand what is happening. for example when is the last update for deployment status: there should b

[2021-05-19 15:52] aaronshurley commented on #182
@cameronbraid it's in our Prioritized Backlog but it's a bit of a way down. _If our priorities remain unchanged,_ we could get to this in a month or two. If you'd like to contribute a PR, we'd certainly prioritize a review.

[2021-05-19 15:57] StarpTech commented on #220
occasionally

Yeah, I'm also not sure if it is really caused by kapp. It started after we switched to Kapp. I'll keep an eye of it.

[2021-05-20 23:43] cari-lynn commented on #192
@johny-mnemonic Is this still an issue for you? This issue is very similar to the issue @StevenLocke linked to above #11, there is some discussion happening in that issue around ways to solve this. Does that other issue capture your problem? If so I would like to mark this as a duplicate and continue discussion in the other issue.

[2021-05-21 14:16] cppforlife commented on #220
here is a snippet i have from my own deploy with --logs-all. what im curious about is how certain markers show up to you:

[code]

as you can see there is `waiting complete` message and there is one line of log that is printed because stopping tailing of logs is racing with deploy command ending. can you tell me what you are seeing in your output. where is `waiting complete` relative to `Succeeded

[2021-05-24 06:41] johny-mnemonic commented on #192
@cari-lynn yes #11 looks very similar, but I am not sure what the dollar sign in "$.status" stands for.
In case it stands for the custom resource delivered by Kapp and is limited to it, then my request is maybe a bit more generic.
I wanted to be able to wait for any resource in the cluster.

[2021-05-26 01:03] cari-lynn commented on #77
Adding more detail as to the problem:

Some labels kapp uses to track resources are:
* `kapp.k14s.io/app` to track an app using an id
* `kapp.k14s.io/identity` to store info of the resource (combination of namespace, kind, etc), that can be used to compare against the resource returned from the cluster to see if it matches. It is used to determine transientiveness (if a app is owned by kapp or by

[2021-05-26 01:15] cari-lynn commented on #77
From the solution @cppforlife mentioned above regarding adding `kapp.k14s.io/identity.<guid>` label to all resources. Then the result of copying labels won't overwrite the identity label, instead it would add a label. Then kapp could check whether a resource has at least one identity label that 'matches' the resource to know its a kapp owned resource.

Please add other ideas to this thread :)

[2021-05-27 20:39] vijaykatam opened #222 "Lower/configurable kapp QPS and Burst limits"
**Describe the problem/challenge you have**
The current QPS and Burst limits on kapp are [really high](https://github.com/vmware-tanzu/carvel-kapp/blob/develop/pkg/kapp/cmd/core/deps_factory.go#L41-L61)(1000,1000) compared to defaults that client-go [rest client](https://github.com/kubernetes/client-go/blob/master/rest/config.go#L45)(5,10) or [controller-runtime](https://github.com/kubernetes-sigs

[2021-05-27 21:15] vijaykatam commented on #222
Looks like @cppforlife just addressed this in https://github.com/vmware-tanzu/carvel-kapp/pull/221

[2021-05-27 21:15] cppforlife commented on #222
fixed by https://github.com/vmware-tanzu/carvel-kapp/pull/221

[2021-05-27 21:15] #222 closed, assigned to nobody

[2021-06-01 16:07] cppforlife commented on #220
@StarpTech bump

[2021-06-03 15:14] StarpTech commented on #220
Sorry, nothing new to add for now. I will enable it again and see if I can report some details.

[2021-06-10 16:26] voor opened #224 "kapp deploy triggers a new versioned asset based on a predetermined interval"
**Describe the problem/challenge you have**
We currently use kapp versioning capability for several Custom Resources beyond just ConfigMap and Secrets, this is very easily done with [`templateRules`](https://github.com/voor/cluster-api-gitops/blob/default/management-cluster/workload/manifests/kapp-config.yaml#L4-L21) and allows for some super powerful capabilities like greatly reducing the complex

[2021-06-10 20:21] voor commented on #224
Some additional conversation on the topic:
https://kubernetes.slack.com/archives/CH8KCCKA5/p1623341126453800

Some relevant improvements:

* Instead of all the complexity of cron schedules, just have something that can fit into [ParseDuration](https://golang.org/pkg/time/#ParseDuration)
* Since versioned resources are created immutably, just leverage `creationTimestamp` instead of duplicating a fi

[2021-06-14 09:46] nak3 opened #227 "`kapp deploy` often fails when Aggregated ClusterRoles is used due to conflict"
**What steps did you take:**

#### 1. Install Knative resources

[code]

#### 2. Waiting for pod in knative-serving Running

[code]

#### 3. Modify the serving-core.yaml

[code]

#### 4. Run `kapp deploy --yes --app serving  -f serving-core.yaml` command

[code]

**What happened:**

- kapp command failed with the above error.

**What did you expect:**

- kapp command does not fail.

**Anything els

[2021-06-14 14:21] cppforlife commented on #227
@nak3 this to me looks like: https://github.com/vmware-tanzu/carvel-kapp/issues/140#issuecomment-684104068 (see kapp Config added to rebase aggregation rules). we havent added this as a default rule.

[2021-06-14 14:56] cppforlife opened #229 "kapp delete change should precondition on uid when waiting for resource to be gone"
**Describe the problem/challenge you have**

currently kapp when waiting for resource to be fully deleted off cluster, ignores that resource might have changed its uid. when uid changes it implies that resource has been deleted, and replaced by a different resource with a same name.

**Describe the solution you'd like**

we should _probably_ check on uid difference and see that if resource uid cha

[2021-06-15 01:33] nak3 commented on #227
Ah, thank you! Closing this issue.

[2021-06-15 01:33] #227 closed, assigned to nobody

[2021-06-15 14:21] dprotaso commented on #227
Is there a tracking issue for that?

[2021-06-16 00:34] jessehu commented on #119
We also have a use case that current 'ver-1' suffix doesn't work. We added versioned annotation for both the following configmap/secret, but the secret-name = "cloud-provider-vsphere-credentials" in the configmap still refer to the original secret name, not with the ver-1 suffix, so hit not found error.  It would be great if kapp could create the secret/configmap under its original name (in additi

[2021-06-24 12:52] StarpTech opened #235 "remove conditions column from inspect/diff since it's misleadingly colored for resources like HPA which always have a false condition"
**What steps did you take:**

[code]

[code]

**What happened:**

`ScalingLimited: false` is interpreted as an error.

**What did you expect:**
ScalingLimited indicates that autoscaling is not allowed because a maximum or minimum replica count was reached.

A True condition indicates that you need to raise or lower the minimum or maximum replica count in order to scale.

A False condition indicate

[2021-06-26 09:11] StarpTech opened #236 "Document "kapp app-group""
As titled. What's the exact difference between group and just deploy? I couldn't find any meaningful documentation.

[2021-06-26 14:20] danielhelfand commented on #236
We do have some documentation on it here: https://carvel.dev/kapp/docs/latest/gitops/

Are there other things you would like to see covered in this section?

[2021-06-26 15:52] StarpTech commented on #236
That's useful information I'd expect part of the CLI help page.

[2021-06-28 15:05] danielhelfand opened #237 "Add waiting behavior for PackageRepository/PackageInstalls"
**Describe the problem/challenge you have**

Similar to how kapp has [waiting behavior for kapp-controller's App custom resource](https://github.com/vmware-tanzu/carvel-kapp/blob/df3ca9ac4998c6f7861f2587d5aad435a6c16df4/pkg/kapp/resourcesmisc/kappctrl_k14s_io_v1alpha1_app.go#L34), kapp should wait for PackageRepository and PackageInstall custom resources.

Currently, PackageRepositories and Packag

[2021-06-29 01:05] GrahamDumpleton opened #239 "kapp inspect --raw should not generate header/footer informational message to stdout"
**What steps did you take:**

Run:

[code]

**What happened:**

This generates all the resources making up the application deployment, but the header/footer information messages are also generated to stdout, meaning they end up in the yaml file with the resources. This makes it impossible to then do further processing on the YAML file without first editing the file to remove the messages.

Eg., fi

[2021-06-29 01:12] GrahamDumpleton opened #240 "Add a "kapp images list" command."
**Describe the problem/challenge you have**

Want an easy way of being able to list all images used by an application deployment and what top most resource they were specified in, eg., Deployment, DaemonSet, StatefulSet, or if no owner they are created from, then the Pod.

**Describe the solution you'd like**

Would like to be able to say:

[code]

**Anything else you would like to add:**

There a

[2021-06-29 01:23] GrahamDumpleton commented on #240
And am aware that could feed resources into ``kbld inspect``, however would be nice to have self contained solution in ``kapp`` itself which provides simplified output. Using ``kbld inspect`` it shows images against all resources in chain and not just top most owner, which is what would really care about.

Also, due to #239, you can't do:

[code]

[2021-06-29 01:26] GrahamDumpleton commented on #239
Pointed out to me can do:

[code]

But still believe the purpose of ``--raw`` option should imply that the header/footer should not get in the way to begin with.

[2021-06-29 01:34] GrahamDumpleton opened #241 "kapp inspect --raw should not show managed fields by default."
**Describe the problem/challenge you have**

Using ``kapp inspect --raw`` and it outputs overly verbose managed fields from resource.

**Describe the solution you'd like**

Should adopt convention ``kubectl`` has taken of not showing managed fields by default and only show them when ``--show-managed-fields=true`` is passed as an option.

See ``show-managed-fields`` option in:

* https://kubernetes

[2021-06-29 01:39] GrahamDumpleton commented on #239
The simple solution to this would be that it auto detects when output is not a tty and implicitly set ``--tty=false`` instead of it being hardwired.

[2021-06-29 15:38] jorgemoralespou commented on #241
This was included in kubectl 1.21 as a response to the community (https://github.com/kubernetes/kubernetes/issues/90066).

[2021-07-05 16:13] cppforlife commented on #240
what do you mean by "top most owner" here?

[2021-07-05 16:14] cppforlife commented on #235
@StarpTech yeah, conditions coloring is a bit misleading. i wonder if we should remove coloring or may be even remove entire column -- ive not found myself using it at all. wdyt? (since conditions are very much resource specific there isnt a good pattern to follow here).

[2021-07-05 16:34] jorgemoralespou commented on #240
With that command:
[code]
you get all the images for the pods, replicasets and deployments as it's the output of what kapp returns. There's a lot of duplicated values here since we only care for the values of the top level elements, typically Deployments, but any of the 3 that has been actually the resource generated by the user and not the one that the system generated because of the wrapping.

A

[2021-07-05 16:45] StarpTech commented on #235
I mean if we can't determine if a condition is successful we should remove it. Otherwise, fix it. I think the information that all conditions are meet useful.

[2021-07-07 09:52] universam1 commented on #167
probably related to #213

[2021-07-09 00:41] #236 closed, assigned to nobody

[2021-07-12 03:53] jessehu commented on #119
Could we prioritize this bug? It's causing issues in our product.

[2021-07-12 20:09] #166 closed, assigned to nobody

[2021-07-13 05:42] renuy opened #246 "Target cluster could be highlighted to make it more visible"
**Describe the problem/challenge you have**
Kapp deploy gives an important information with regards to which cluster is being targeted for deployment.
However, the information is right under command line and there are not highlights.

**Describe the solution you'd like**
target cluster could be made more visible by adding a new line before it, and/or "bold"-ing the information.

![image](https://u

[2021-07-13 23:33] aaronshurley commented on #246
@renuy thanks for bringing up this idea! CLI UX is always a bit tricky to find the right way to display the right information. I haven't thought about this particular bit of information much before since my targeted cluster doesn't change very often. If this information was more visible, what types of use cases do you think would be most beneficial?

cc @cppforlife for any additional context/thoug

[2021-07-14 23:41] aaronshurley commented on #239
For some context, [the code](https://github.com/vmware-tanzu/carvel-kapp/blob/3f3e207d7198cdedd6985761ecb0d9616a84e305/pkg/kapp/cmd/ui_flags.go#L19-L20) points out to [an issue](https://github.com/vmware-tanzu/carvel-kapp/issues/28) that briefly describes why `--tty` was set to `true` by default.

_I think_ that there's a bit to unpack here to ensure that we take a consistent and holistic approach

[2021-07-14 23:47] aaronshurley commented on #229
This seems like a reasonable change or at least something to explore further. I'm going to move this to `carvel accepted` so that we can further discuss if/when to prioritize this.

[2021-07-14 23:55] aaronshurley commented on #224
I'm going to move this issue to `carvel accepted` as the [slack conversation](https://kubernetes.slack.com/archives/CH8KCCKA5/p1623341126453800) elaborated details and use cases.

Priority of this is still TBD but it looks like some work may have started ([#225](https://github.com/vmware-tanzu/carvel-kapp/pull/225)). @cppforlife any updates on this?

[2021-07-15 01:02] GrahamDumpleton opened #248 "Improve --json behaviour with interactive prompts"
**What steps did you take:**

Create an ``example.yaml`` file containing:

[code]

Run:

[code]

**What happened:**

It appeared to crash and generate a Golang stack trace.

[code]

**What did you expect:**

Am not sure. I was trying to work out what the ``--json`` option actually did when it occurred, so not sure if this is expected and normal, but it sort of looks wrong.

**Anything else you wou

[2021-07-15 02:53] GrahamDumpleton opened #249 "Better warning message when kapp things you gave it empty input."
**Describe the problem/challenge you have**

Run:

[code]

One will get an error message saying:

[code]

This isn't useful in understanding the obvious mistake you likely made.

**Describe the solution you'd like**

Reword the message to something like:

[code]

In other words suggest maybe the issue is they forgot to provide the ``-f`` or ``--file`` option.

In this case what was actually requir

[2021-07-15 11:06] GrahamDumpleton commented on #249
BTW, when would ``-f`` not be a mandatory option with ``kapp deploy``. So why shouldn't it just outright error when it is missing based on that?

[2021-07-15 11:28] jorgemoralespou opened #250 "Consistency between carvel tools for filtering"
**Describe the problem/challenge you have**
Carvel tool users have to learn filtering capabilities in some of the tools in the suite. The most prominent one is `ytt` where users have to learn filtering in the matchers. When a user goes to kapp, he finds a plethora of options to filter the resources which:
- are not aligned with the ones in `ytt`
- have like a gazillion different cli options to fil

[2021-07-15 21:54] cppforlife commented on #235
unfortunately kubernetes doesnt provide any foundation for describing something being "successful" or not. conditions are more like facts. they are either True or False but that does not indicate whether something is succesful or not. so ultimately today in kubernetes, only human can decide whether something is "succesful".

ive added conds. column long time as more of an experiment in determining

[2021-07-15 23:46] cppforlife commented on #248
--json is incompatible with interactive UI (that's what this error is trying to message `panic: Cannot ask for confirmation in JSON UI`). you either have to use -y for the full deploy or --diff-run since it ends before confirmation prompt pops in.

[2021-07-16 14:13] aaronshurley commented on #119
@jessehu Thank you for providing your use case. We're going to explore this a bit further to see when we could fit this into our backlog. I'm hoping we get some clarity on this within the next day or so.

[2021-07-16 14:17] jorgemoralespou commented on #248
If the flags are incompatible, or `-y` is required, the correct thing to do is to show that message and not a json rendered output and a panic.

[code]

This should be the only output. It should not even try to deploy and fail.

[2021-07-16 16:07] cppforlife commented on #249
that's a good point. ill have to think why isnt the case right now...

[2021-07-18 09:49] schmurfy commented on #17
I have been looking at ways to quickly see what is deployed by each Kapp applications, I thought about giving lens a try with a plugin but still have not found the time to do it. Is there other existing solutions ?
ArgoCD has a really nice display of what it deployed and it looks great but I don't really need argoCD so I am still looking for a light solution allowing our teams to quickly see deplo

[2021-07-19 16:42] cppforlife commented on #250
@jorgemoralespou interesting suggestion. we'll definitely have to chew on it collectively.

personally i think we have to be careful about over optimizing for consistency where it may not make sense. im not sure in this case it's appropriate to try to make them "same" because one tool (ytt) is designed to give you fine grained way of doing selection that's independent of k8s (generic) against yaml

[2021-07-20 05:34] renuy commented on #119
if we add a new annotation: versioned-keep-original, following are the test paths. this is not an exhaustive list. however, feel free to add more if missing some critical ones.

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=E

[2021-07-21 02:31] GrahamDumpleton commented on #249
Another example to take into consideration when changing this.

When piping from ``ytt`` and the error is in ``ytt`` you will get:

[code]

You aren't going to avoid the cascading errors in this case, so just need to be mindful of how changes in the message will appear in this sort of situation.

[2021-07-21 16:11] jorgemoralespou commented on #250
I agree about over-optimizing. Nevertheless this issue can serve to think about the way to optimize the experience through carvel tools.

[2021-07-26 14:44] #237 closed, assigned to sethiyash, danielhelfand

[2021-07-26 17:38] danielhelfand opened #257 "Show k8s API Deprecation Warnings"
**Describe the problem/challenge you have**

With the addition of #245, kapp by default will not show API deprecation notices as shown in this commit: https://github.com/vmware-tanzu/carvel-kapp/commit/4f554b03fa078119597f2005b43aff77c886040a

Users may want to see these deprecation notices as part of using kapp, so it might be helpful to provide an option to show deprecation notices in output. Th

[2021-07-27 15:00] cppforlife commented on #257
i would change the flag to `--deprecation-warnings=bool` with a possibly default of `true` since i think kubectl shows warnings by default as well. should we default to false? (if we do, who would turn them on?)

also we should only show same warning once to the user.

[2021-07-27 20:41] gabegorelick commented on #49
As discussed in https://kubernetes.slack.com/archives/CH8KCCKA5/p1611785343055300, `ValidatingWebhookConfiguration` and `MutatingWebhookConfiguration` need to be applied *after* the Service they reference.

This is breaking some deploys of Gatekeeper (ones that use https://github.com/open-policy-agent/gatekeeper/blob/master/deploy/experimental/gatekeeper-mutation.yaml, separate from the issues in

[2021-07-28 11:29] revolunet opened #258 "retry network errors"
**Describe the problem/challenge you have**

Hi, i occasionaly get  this error while trying to apply some manifests with `kapp` :

[code]

The deployment gets applied correctly though

Looks like this is some kind of network error that could be retried

**Describe the solution you'd like**

Would be nice to handle this corner case as others in [isGeneralRetryableErr](https://github.com/vmware-tanz

[2021-07-28 14:41] renuy commented on #248
We may have look at making changes generically in the library used: https://github.com/cppforlife/go-cli-ui

[2021-07-28 14:47] renuy commented on #249
Things we are planning to do as part of this issue:
1. Improve the warning message
2. make atleast one -f mandatory

[2021-07-28 14:51] renuy commented on #257
We will add the flag and show warnings (true) by default.

[2021-07-28 14:57] renuy commented on #258
Sounds reasonable. would you want to contribute this change, or if not we will include it in our backlog.

[2021-07-28 18:07] danielhelfand commented on #257
Would it make sense to change the flag then? To something like `--silence-deprecation-notices` with a default of false? I think the UX is a bit better to me this way.

[2021-07-29 03:23] praveenrewar commented on #257
I agree, this is also in line with Go's default value for bool.

Or, we can show a message to users along with the warnings, that they can silence them by using this flag.

[2021-07-29 12:09] renuy commented on #249
@cppforlife ,
Is the file  option not mandatory, because we want to support --dangerous-allow-empty-list-of-resources?

[2021-07-31 00:26] cppforlife commented on #249
nah, that flag just indicates that its ok if given file(s) has 0 resources inside. i think i just never added a validation check for -f for no good reason.

[2021-08-09 06:34] 100mik opened #261 "Test cases do not consider EndpointSlices mirrored from Endpoints"
**What steps did you take:**
Built the application, created the needed endpoint variables and ran `./hack.test-all.sh` locally (Minikube with Kubernetes v1.21)

**What happened:**
The following tests failed : `TestTransientResourceSwitchToNonTransient` , `TestTransientResourceInspectDelete`,  `TestInspect`

**What did you expect:**
The tests should expect an EndpointSlice mirroring the Endpoint wh

[2021-08-09 08:47] 100mik commented on #261
Reopening this issue on `vmware-tanzu/carvel-kapp`

[2021-08-10 14:14] 100mik commented on #261
Resolved with #265

[2021-08-10 14:14] #261 closed, assigned to 100mik

[2021-08-11 15:26] 100mik opened #268 "GitHub workflow test-gh.yml does not run tests against latest version of k8s"
The script seems to be fetching an older version of Minikube (v1.10.0) to run tests against :

[code]

This version does not use the latest version of K8s by default.
We should change the script to get the latest stable version of Minikube.

Tests that were failing on K8s v1.21 (#261 ) should have ideally failed in the pipeline.

[2021-08-12 08:33] sethiyash opened #269 "Increase Timeout of golangci-lint"
**Describe the problem/challenge you have** -
golangci-lint check fails sometimes on new PR's throwing timeout error

**Describe the solution you'd like**
Increasing the timeout to maybe 5 mins as we already have in kapp-controller

**Anything else you would like to add:**

Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "s

[2021-08-12 11:32] 100mik commented on #268
A similar change should be made in `vmware-tanzu/carvel-kapp-controller` I believe

[2021-08-12 22:58] jdef opened #272 "support filtering resources by label in kapp deploy"
**What steps did you take:**
[code]

**What happened:**
[code]

**What did you expect:**
I expected kapp to deploy all the resources in the yaml since none have a label w/ the key "undefined", and the expression in the attempted command line is supposed to be valid.

**Anything else you would like to add:**
[Additional information that will assist in solving the issue.]

**Environment:**

- kapp v

[2021-08-14 02:51] cppforlife commented on #272
@jdef `-a label:...` is not used to filter resources within given yaml. for deploy command it's used to determine what label to apply (add) to resources that will be deployed. (e.g. -a label:foo=bar will result in foo label being set on all created/updated resources). for inspect command `-a label:...` is used to determine what resources to select from the cluster. same goes for delete command.

i

[2021-08-14 12:04] jdef commented on #272
Thanks for clarifying

On Fri, Aug 13, 2021, 10:51 PM Dmitriy Kalinin ***@***.***>
wrote:

[2021-08-14 14:24] cppforlife commented on #272
per similar design, in a slightly different enhancement [0], we should probably introduce `--filter '{"resource": {"labelSelector": "x=y"}}'` (this builds on our existing way of specifying filters). additionally for as a convenience we could add a sugar flag: `--filter-labels 'x=y'`. in both cases full label selector syntax should be accepted.

/cc @renuy

[0] https://github.com/vmware-tanzu/carve

[2021-08-16 03:52] renuy commented on #190
Took another look at this issue along with cloudfoundry/cf-for-k8s#110
There are couple of things going on here.
Diff shown in the service account added by token controller: this is a valid diff. There is no way of handling it as of now. However there is a PR underway to use rebase rules accept the new token.
Diff with regards to empty annotations : this one is of no consequence and can be ignored

[2021-08-16 03:54] braunsonm commented on #190
The diff regarding empty annotations can be ignored but should not be printed in the diff or allow a rebase rule to toggle that. It creates noise which is what this issue is trying to resolve

[2021-08-16 12:03] renuy commented on #190
Agreed, its  noise to see empty annotation in diff like this, But it comes only when there is a valid diff elsewhere.

[2021-08-16 23:58] cppforlife commented on #269
PR was merged.

[2021-08-16 23:58] #269 closed, assigned to nobody

[2021-08-17 05:53] chenliu1993 commented on #119
Is it possitble we just remove the ver-{N} suffix by using versioned-keep-original annotation?

[2021-08-17 15:58] renuy commented on #272
Summarising: Introduction of a new resource filter flag (--filter-labels). This would be applicable for the following kapp commands:
- deploy
- delete
- inspect
- app-group deploy
- tools inspect

[2021-08-17 16:09] renuy commented on #272
@jdef , adding this issue to the backlog. It is currently not prioritised.
However, we could prioritise a review, if you want to put together a pull request for this.

[2021-08-17 17:43] jdef commented on #272
I'm still waiting for corporate approval on other OSS patches I submitted
for review, internally, *last year*. So while I'd like to be able to push a
PR for this, my hands are tied for now.

On Tue, Aug 17, 2021 at 12:09 PM Renu Yarday ***@***.***>
wrote:

--
James DeFelice
585.241.9488 (voice)
650.649.6071 (fax)

[2021-08-18 03:56] renuy commented on #119
@chenliu1993 ,this new annotation will be used in conjunction  with "versioned" annotation. That is, it will keep the original resource, as well as create a resource with version suffix.

[2021-08-18 06:13] chenliu1993 commented on #119
Thanks for the information, @renuy. So my understanding is both 'only-versioned-annotation' and 'both-versioned-with-versioned-keep-original-annotations' are going to change the resource name? Even keep-original is used, the name is also kept to adding suffix ver-1. Is my understanding from scenario 1 right?

[2021-08-19 04:51] renuy commented on #119
if only "versioned"  annotation is used, it will add the version suffix (ver-x) to the name.
If "versioned-keep-original" annotation is added, will have resource with original name, as well as resource with name  having version suffix. If the scenarios are confusing, I will re-work on those.

[2021-08-19 13:37] renuy commented on #165
Only, the state configmap should be renamed. Label stays the same. Everything inside the configMap should remain the same.

[2021-08-19 13:44] renuy commented on #145
Will try to reproduce this. (check with k8s slack channel).

[2021-08-19 14:00] renuy commented on #196
upgradability issue: If keys are introduced in newer version, validation will  fail older versions. (using new config with old kapp). Needs to be also seen how it will work with kapp-controller.

[2021-08-20 02:14] chenliu1993 commented on #119
Thanks @renuy, I am just trying to understand the usage of versioned-keep-original.
So from the table above, there will be two resources existing, one with ver-x and other without.
1. Which one is taking effect? ver-x one? or original name one? Which one should I modify when I want to update the content the resource?
2. Will they both keep the same content when I update any of them?

[2021-08-20 16:14] #257 closed, assigned to praveenrewar

[2021-08-23 04:49] renuy opened #285 "Document changes in v0.41.0"
Following needs document
286 - done
297 - in progress
182 - to do
ytt rebase rule

[2021-08-23 05:36] #258 closed, assigned to 100mik

[2021-08-23 05:39] #119 closed

[2021-08-23 05:45] #249 closed, assigned to renuy

[2021-08-23 05:45] #241 closed, assigned to renuy

[2021-08-23 11:57] chenliu1993 opened #286 "Restart deployment/daemonset when referred resources' content is changing"
Hi team, I met a senario when using kapp's versioned annotation.  Opened this issue to track the question.
The scenario is:
**config C refers a secret S in its data,  and this config C is referred by a Deployment D. Will update the content of secret S trigger restart of Deployment D?**

I get a solution that is referring the secret S directly in Depoyment D. But I think that may be not the best wa

[2021-08-23 16:09] cppforlife commented on #286
it will not today, since kapp does not support updating resource references within arbitrary content (data of ConfigMap). im not sure we want to extend kapp to try to update contents of ConfigMaps with new resource name. (we do something like this in kbld to update image refs but it only works for json/yaml content).

currently, that's the only way to make this work with versioned resources.  note

[2021-08-24 03:25] rohitagg2020 commented on #239
During digging down the code, it turns out that NonttyUI gets initiliazed only if we pass the cmd line argument tty as false. Otherwise, as mentioned above, by default it is set to true.

After discussion with Dmitry, it turns out that only for kapp deploy and delete only, we need the default value as true and for rest of the cases, we can set it as false by default. So, we have to implement this

[2021-08-24 12:08] 100mik opened #287 "All K8s warning displayed while running any command"
**What steps did you take:**
Run a `deploy`, `delete` or `inspect` command.

**What happened:**
All k8s deprecation warnings for the version are displayed.

[code]

**What did you expect:**
Warnings should be shown only when a resource being mentioned in the warnings are being operated on.

**Environment:**

- kapp version : 0.38.0
- OS : MacOS 11.5.2
- Kubernetes version 1.21

---
Vote on this re

[2021-08-24 17:53] cppforlife commented on #287
disabled --warnings by default in https://github.com/vmware-tanzu/carvel-kapp/releases/tag/v0.39.0

[2021-08-24 21:20] jduong-allscripts opened #290 "v0.39.0 checksum issue"
**What steps did you take:**
wget -O- https://carvel.dev/install.sh | bash

**What happened:**
Getting error saying checksum did not match for kapp. Error log below:

<html>
<body>

Installing linux-amd64 binaries...
--
369 | Installing ytt...
370 | 2021-08-24 19:19:41 URL:https://github-releases.githubusercontent.com/173207060/b43645a0-0717-41d8-aa41-8f39d2215234?X-Amz-Algorithm=AWS4-HMAC-SHA256&

[2021-08-24 22:03] cppforlife commented on #290
oops, that's our bad. corrected in https://github.com/vmware-tanzu/carvel/commit/5e8da622826935aded946c4d4f53e38a3695de29. (was a arm checksum vs amd64). we have automation of install.sh update on our roadmap, so that should be prevented in the future.

[2021-08-24 22:03] #290 closed, assigned to nobody

[2021-08-25 02:37] soumyapanigrahi-code commented on #12
I am able to reproduce this issue consistently on kapp version 0.23.0, here are the findings:

1. packaging-api  service exists in tanzu-system namespace as expected.
`NAME            TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)   AGE
packaging-api   ClusterIP   10.19.250.254   <none>        443/TCP   22m`

2. v1alpha1.data.packaging.carvel.dev api-service instance is correctly pointing to pa

[2021-08-25 06:20] chenliu1993 commented on #286
Thanks @cppforlife . The information is really detailed😊 and I would vote for the example solution `kapp.k14s.io/versioned-explicit-ref` if it is doable.

[2021-08-25 10:18] soumyapanigrahi-code opened #291 "package repositories failed to get reconciled on the cluster."
**What steps did you take:**
While deploying kapp on Kubernetes cluster we are encountering a scenario where data.packaging.carvel.dev api-service appears to unavailable. This seems to be the case even though the POD instance(kapp controller) seems to be running.

**What happened:**

Because of this issue package repositories failed to reconcile on the cluster.

**What did you expect:**

Package r

[2021-08-25 11:23] soumyapanigrahi-code commented on #291
non-issue. closing this issue as it was caused due to periodic overriding of ca certs used by kapp service.

[2021-08-25 11:23] #291 closed, assigned to nobody

[2021-08-25 12:41] cppforlife commented on #291
debugging steps

[code]

`error trying to reach service: x509: certificate signed by unknown authority` was indicating that something was wrong with cert setup for kc api server.

kc log had `I0824 16:56:17.455368      11 apiserver.go:188] Syncing CA certificate with APIServices` which indicates that it did setup certs.

turns out that APIService `k get apiservice v1alpha1.data.packaging.carvel.de

[2021-08-25 16:48] pivotaljohn opened #292 "Build and install Apple Silicon-targeted versions of kapp"
see vmware-tanzu/carvel#218

Do it like we do for ytt.

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would like to see this addressed as soon as possible"
👎 "There are other more important things to focus on right now"

We are also happy to receive and revi

[2021-08-26 07:30] renuy commented on #165
@cppforlife , how should the behaviour be for following commands
1. kapp rename -a app --new-name
--is this a valid case? currently we do not validate presence of name parameter, but error out anyways later on.  should we mandate the presence of new-name?
2. kapp rename -a app --new-name app1
--this is normal use case. no issues here.
3. kapp rename -a app --new-name app1 --new-namespace newNS
--c

[2021-08-26 07:39] 100mik commented on #292
Added the binary(kapp-darwin-arm64) and checksum to the [latest release](https://github.com/vmware-tanzu/carvel-kapp/releases/tag/v0.39.0). [This PR](https://github.com/vmware-tanzu/carvel-kapp/pull/293) adds the case to our `build-binaries.sh` script.

[2021-08-26 07:55] 100mik commented on #292
[This PR](https://github.com/vmware-tanzu/homebrew-carvel/pull/17) updates homebrew to support this as well.

[2021-08-27 13:47] #272 closed, assigned to renuy

[2021-08-27 13:51] #156 closed, assigned to nobody

[2021-08-27 14:30] #292 closed, assigned to 100mik

[2021-08-27 14:53] #246 closed, assigned to nobody

[2021-08-27 15:16] renuy commented on #292
will be included in release v0.40.0

[2021-08-27 15:19] renuy commented on #272
Will be available in release v0.40.0

[2021-08-27 15:21] renuy commented on #156
Available in release v0.39.0

[2021-08-27 15:21] renuy commented on #119
available in release v0.38.0

[2021-08-30 03:51] renuy commented on #165
few more things,
1. How should the history be treated for renaming?
2. should the history be also moved across namespace, if namespace is changed?

[2021-08-30 06:19] praveenrewar opened #297 "Granular ordering of CRDs/namespace-scoped resources"
**Describe the problem/challenge you have**
Currently the ordering of kapp is implemented in such a way that all the CRs are dependent on all the CRDs and all the namespaced resources are dependent on all the namespaces and so on.

**Describe the solution you'd like**
We should update the ordering graph in such a way that all the CRs are dependent on their respective CRDs, all the namespaced resou

[2021-08-30 10:17] sethiyash commented on #182
looks like we have closed the requirement of `localResource` filter of which @joaopapereira is talking about on closing [#272](https://github.com/vmware-tanzu/carvel-kapp/issues/272).
@cppforlife  so we just now have to add a new flag to filter the resources present on the cluster by label right ? and what all commands will be supporting it ?

[2021-08-30 10:26] 100mik opened #298 "Make result of tree inspect deterministic"
Tree inspect has indeterministic output due to UIDs being used to track parent resources.

This is an issue tracking ongoing work on [this PR](https://github.com/vmware-tanzu/carvel-kapp/pull/274).

[2021-08-30 15:51] #165 closed, assigned to renuy

[2021-08-31 14:06] #208 closed, assigned to sethiyash

[2021-08-31 14:26] #268 closed, assigned to nobody

[2021-08-31 14:26] #298 closed, assigned to 100mik

[2021-09-02 00:06] adriens opened #301 "🐦 Tweet about v0.39.0 🐦"
# Context

I've implemented CI on the chocolatey repos and releasing the v0.39.0 cf https://github.com/adriens/chocolatey-kapp/issues/6

Once moderated, I'd like to retweet the official release annoucement, but for now, I only have the [v0.38.0](https://twitter.com/carvel_dev/status/1429833478611349508) one.

# Action

- [x] Can you please tweet about the [v0.39.0](https://github.com/vmware-tanzu/

[2021-09-02 04:39] rohitagg2020 opened #302 "Bumping up direct dependency"
Bumping up direct dependency so that indirect dependency of "gogo/protobuf" gets upgraded to 1.3.2 or more.

[2021-09-02 04:46] renuy commented on #301
Thanks @adriens for bringing this up.
cc: @microwavables

[2021-09-02 05:58] adriens commented on #301
I'm in the starting blocks 😆

[2021-09-02 12:40] microwavables commented on #301
@adriens here ya go! thank you! https://twitter.com/carvel_dev/status/1433409493291896834?s=20

[2021-09-02 12:41] #301 closed, assigned to microwavables

[2021-09-02 14:16] rohitagg2020 commented on #120
Few steps came out of discussion:
1. See how the other tools do it. Do they specify range or separate field for Min and Max version. Also check if multiple ranges are allowed.
2. Also, should we have a CLI flag to override the min and max K8s version mentioned.
3. Also refine it more as a good first issue.

[2021-09-02 15:04] #106 closed

[2021-09-02 21:05] adriens commented on #301
Thanks, I'll retweet it today 😺

[2021-09-02 21:46] adriens commented on #301
Here we go https://twitter.com/rastadidi/status/1433546675327422465

[2021-09-06 06:33] renuy commented on #178
Better error message  - "Template of change-rule is : "

[2021-09-06 08:17] rohitagg2020 opened #303 "Fix Test cases failing due to removal of apiVersion v1beta1 from kubernetes CRD's definitition."
Fix Test cases failing due to removal of apiVersion from kubernetes. Certain CRD's test cases are failing which mentions apiVersion as v1beta1. Since it is removed from k8s version 1.22. We should adopt the same in our test cases.

[2021-09-06 08:19] rohitagg2020 opened #304 "Merge the PR (#226) to automate the release process."
Merge the PR (#226) to automate the release process.

[2021-09-07 06:37] renuy commented on #145
So far unable to reproduce this.
kind version: 0.11.1 and minikube version v1.21.0

Kubectl version: Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.3", GitCommit:"ca643a4d1f7bfe34773c74f79527be4afd95bf39", GitTreeState:"clean", BuildDate:"2021-07-15T20:58:09Z", GoVersion:"go1.16.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"21", G

[2021-09-07 09:53] rohitagg2020 commented on #67
Have to implement the same for other commands. https://carvel.dev/kapp/docs/latest/config/#diffmaskrules

[2021-09-08 05:38] #302 closed, assigned to rohitagg2020

[2021-09-08 05:39] #303 closed, assigned to rohitagg2020

[2021-09-08 13:53] renuy commented on #77
AI: Try and reproduce this and understand the issue more in depth. to reproduce: deploy two resoures one with kapp, another with kubectl. and copy the identity to the second resource.

[2021-09-08 14:04] renuy commented on #67
Pending: delete does not mask based on previously used config (used during deploy as diffmask config is not saved) and uses the default config (which is just secrets).
Option to close this issue and open an issue to address the pending task.

[2021-09-08 14:06] renuy commented on #286
Moving it to carvel accepted. Will try and prioritise this

[2021-09-08 14:16] #229 closed, assigned to rohitagg2020

[2021-09-09 13:49] #287 closed, assigned to 100mik

[2021-09-10 14:10] sethiyash commented on #119
Example:
Taking @jessehu use case. Here we have ConfigMap and Secret where ConfigMap is referring to Secret and Secret is a versioned resource.

[code]
Now to make kapp create Secret under the same name in addition to ver-N name (cloud-provider-vsphere-credentials-ver-1 for this example) user is supposed to add a new annotation `kapp.k14s.io/versioned-keep-original: ""` along with `kapp.k14s.io/ve

[2021-09-11 01:33] jessehu commented on #119
`kapp.k14s.io/versioned-keep-original` works great

[2021-09-13 05:42] renuy commented on #304
version flag to be sent during build command, so that locally also we can have a build with version, rather than "develop".  tihs will help with certain tests which maybe dependent on kapp version (eg: min supported version).

[2021-09-14 14:39] #178 closed, assigned to praveenrewar

[2021-09-16 04:27] renuy commented on #286
Pulling this issue for the next release v0.41.0 . @100mik , please update the approach here.

[2021-09-16 04:54] 100mik commented on #286
We can support a synthetic reference which mirrors the latest versioned name of a versioned resource.

For example, a synthetic reference like
[code]
will be assigned the following value on deployment
[code]
This leads to the referencing versioned resource being versioned whenever the referenced resource is. It can be used to explicitly refer a versioned resource from a non-versioned resource as w

[2021-09-20 05:37] rohitagg2020 opened #315 "Enable trivy scan as part of daily nightly build"
Enable trivy scan as part of daily nightly build to catch the vulnerability during development stage.

[2021-09-20 06:04] renuy commented on #22
@cppforlife , need more details on this. are we comparing this feature to -o wide of kubectl?

[2021-09-20 07:33] 100mik commented on #286
Addressing the questions raised in the ongoing [PR](https://github.com/vmware-tanzu/carvel-kapp/pull/311), we will allow users to reference a single or multiple resources in a JSON object with specified format.

[code]
- `references` can have multiple objects referring to different resources
- The `namespace` key should be omitted for cluster scoped resources

@chenliu1993 I believe this will sati

[2021-09-20 13:25] renuy commented on #23
We are intentionally saving the label for kapp commands. --diff-run is a special case in which we are not applying anything to the cluster, hence, the label need not be created.
This issue should handle only, --diff-run. deploy failures are behaving as expected.

[2021-09-20 13:35] renuy commented on #19
Option1: use a darker green or red to highlight the diff.
#109

[2021-09-22 20:53] iamhsk opened #318 "Update kapp Diff Stage Documentation"
### Why

- Received multiple feedback from users that they would like to see more code examples so that they can understand more quickly how things work by looking at the code snippet instead of just reading text describing them.
- In general, we want to improve the docs so that new users can easily grasps different kapp features

### Acceptance Criteria
- [x] Explain how `noop` is used for waitin

[2021-09-23 04:56] renuy commented on #303
release v0.40.0

[2021-09-23 04:56] renuy commented on #302
release v0.40.0

[2021-09-23 04:57] renuy commented on #292
release v0.40.0

[2021-09-23 04:57] renuy commented on #287
release v0.40.0

[2021-09-23 04:57] renuy commented on #272
release v0.40.0

[2021-09-23 04:58] renuy commented on #268
release v0.40.0

[2021-09-23 04:58] renuy commented on #229
release v0.40.0

[2021-09-23 04:58] renuy commented on #208
release v0.40.0

[2021-09-23 04:58] renuy commented on #178
available in release v0.40.0

[2021-09-23 04:59] renuy commented on #165
available in release v0.40.0

[2021-09-23 04:59] renuy commented on #106
available in release v0.40.0

[2021-09-23 16:26] #297 closed, assigned to praveenrewar, 100mik

[2021-09-23 22:31] aaronshurley opened #320 "Bump go version to latest"
**Describe the problem/challenge you have**
We want to ensure that the code remains compatible with the latest versions so that we do not risk falling behind and on an unsupported version (note: go supports n-1 versions).

**Describe the solution you'd like**
The code runs on the latest version of go.

**Anything else you would like to add:**

---
Vote on this request

This is an invitation to the

[2021-09-24 09:05] nicholasdille opened #321 "Remove branch v0.40.0"
For version 0.40.0 you created a tag as well as a branch but with conflicting revisions. My Homebrew package for kapp is unable to figure out the correct revision for the tag v0.40.0. See my [PR](https://github.com/nicholasdille/homebrew-tap/pull/678 ) for the failed action. It would be greatly appreciated to remove the branch v0.40.0. It looks like this was created by mistake. Thanks in advance :

[2021-09-24 09:12] praveenrewar commented on #321
@nicholasdille Unfortunately we can't access the PR link that you have shared. However, we have deleted the branch named v0.40.0 like you asked. Thanks a lot for bringing this to our notice. Also, do let us know if the issue is now resolved.

[2021-09-24 09:18] nicholasdille commented on #321
@praveenrewar, thanks a lot for addressing this so quick. You are awesome!

I fixed the link in case you still want to take a look 😀

[2021-09-24 09:30] nicholasdille commented on #321
The build now works correctly :-)

[2021-09-24 09:30] #321 closed, assigned to nobody

[2021-09-24 09:30] praveenrewar commented on #321
Awesome :)

[2021-09-27 03:54] #304 closed, assigned to rohitagg2020

[2021-09-29 13:21] rohitagg2020 opened #323 "Create a blog highlighting features of kapp for new kapp/k8s users"
Create a blog highlighting features of kapp for new kapp/k8s users.

[2021-09-29 13:32] cppforlife opened #324 "Indicate if deletion step is waiting on finalizers being removed"
**Describe the problem/challenge you have**
Currently kapp does not show users if deletion step is waiting on finalizers. This should be showed in the progress log.

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would like to see this addressed as soon as po

[2021-09-29 13:38] renuy commented on #320
@aaronshurley , planning to bump to version 1.17.1 (latest stable).

[2021-09-29 15:11] cppforlife opened #325 "investigate kyverno post-deploy diff"
**Describe the problem/challenge you have**

After first deploy with below yaml, try changing audit => enforce and see diff on the next deploy.

[code]

how can we improve this flow?

**Describe the solution you'd like**
[A clear and concise description of what you want to happen. If applicable a visual representation of the UX (ex: new CLI argument name, the behavior expected).]

**Anything else

[2021-09-30 09:03] 100mik commented on #325
On replicating this issue. In the diff we can see two objects on the `rules`  list that were not added by us:
[code]

Kyverno seems to generate additional rules when we define a rule for a Pod so that it applies to pod templates in Deployment, DaemonSet, StatefulSet, Job, and CronJob resources. This behaviour is documented [here](https://kyverno.io/docs/writing-policies/autogen/).
Both of the two

[2021-09-30 13:53] ChristianCiach commented on #146
We are using kapp for a few days now and already encountered this issue.

Fortunately, we don't use `kapp deploy` directly, but execute it from an Ansible playbook instead. As a workaround, I've modified the playbook to always append `.kapp` to the app name given to `kapp deploy -a`.

I really love kapp, but this design decision seems a bit shortsighted. This is just an accident waiting to happen.

[2021-09-30 14:08] renuy commented on #146
Pulling this into our prioritized backlog.

[2021-10-01 17:52] #286 closed, assigned to 100mik

[2021-10-02 09:47] 100mik commented on #286
As of v0.41.0+, versioned resources can be explicitly referred to by the `kapp.k14s.io/versioned-explicit-ref` annotations like
[code]
(a `namespace` key can be added for namespaces resources). Documentation regarding the same canoe found at the end of [this](https://carvel.dev/kapp/docs/latest/diff/#versioned-resources) section in our documentation.

[2021-10-04 05:37] renuy commented on #182
Available in release 0.41.0.

[2021-10-04 05:37] #182 closed, assigned to sethiyash

[2021-10-04 05:59] renuy commented on #145
in default.go we have a resource which is for rbac, we will divide it into two - 1. cluster-role/role and 2. cluster-role-binding/role-binding.
We will introduce change-rule for cluster-role-binding (and role-binding) to be dependent on cluster-role(and role)

[2021-10-04 09:21] renuy opened #328 "Command "kapp deploy --diff-summary=false -a test -f abc.yml", panics due to runtime error: invalid memory address or nil pointer dereference"
**What steps did you take:**
Ran the following command (--diff-summary=false)
kapp deploy --diff-summary=false -a test -f abc.yml

**What happened:**
Panic as follows:
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x22a1d1c]

goroutine 1 [running]:
github.com/k14s/kapp/pkg/kapp/clusterapply.(*ChangesCountsView).

[2021-10-04 13:56] #328 closed, assigned to renuy

[2021-10-04 13:56] renuy commented on #328
fixed in v0.41.0

[2021-10-05 05:03] 100mik commented on #43
We will need to make the value of a flag like this available as a part of :
1. [`ResourceImplOpts`](https://github.com/vmware-tanzu/carvel-kapp/blob/develop/pkg/kapp/resources/resources.go#L68)
    So that we can pass the DryRun option to `api-machinery` for `Create()`, `Update()`, `Patch()` and `Delete()` API  calls.
2. [`AddOrUpdateChangeOpts`](https://github.com/vmware-tanzu/carvel-kapp/blob/de

[2021-10-05 06:16] renuy commented on #328
fix available as part of v0.41.0

[2021-10-05 06:16] renuy commented on #304
available as part of v0.41.0

[2021-10-05 06:16] renuy commented on #297
available as part of v0.41.0

[2021-10-05 06:17] renuy commented on #286
Hi @chenliu1993, This feature is now available as part of v0.41.0 . Do provide feedback on this.
Thanks

[2021-10-05 06:20] renuy commented on #182
@cameronbraid, this feature is now available as part of v0.41.0 .
Do checkout it out, and provide your feedback.
Thanks

[2021-10-05 06:47] adriens opened #331 "🐦 Please tweet about v0.41.0 release 🐦"
Hi, could you please tweet about the [v0.41.0](https://github.com/vmware-tanzu/carvel-kapp/releases/tag/v0.41.0). So I can rewteet it. for the [choco announce](https://github.com/adriens/chocolatey-kapp/issues/8)

Thank you in advance. 🐱

[2021-10-05 06:47] adriens commented on #331
https://github.com/adriens/chocolatey-kapp/issues/8

[2021-10-05 07:12] renuy commented on #331
Thanks Adriens, will get this done asap.

[2021-10-05 11:59] nak3 opened #333 "`kapp deploy` fails when job sets `ttlSecondsAfterFinished: 0`"
**What steps did you take:**

Here is the simple step to produce the issue.

#### 1. Create job.yaml

[code]

### Run `kapp deploy`

[code]

**What happened:**

The kapp command above fails due to `jobs.batch "pi"` not found as following:

[code]

**What did you expect:**

- I know that the root cause is `ttlSecondsAfterFinished: 0` which cleans up the job.
- So the issue has a workaround by setti

[2021-10-05 12:03] nak3 commented on #333
The version info:

[code]

(I installed kapp by `go get -u github.com/k14s/kapp/cmd/kapp`)

[2021-10-05 12:19] praveenrewar commented on #333
@nak3 I tried reproducing the issue using the steps that you have mentioned, but I am not able to. The deployment took a while (7m), but it was successful.
Also, I am curious about which version of kapp you were using before updating to the latest one.

Version info:
[code]

[2021-10-05 12:23] nak3 commented on #333
@praveenrewar I wonder your cluster didn't enable TTLAfterFinished https://kubernetes.io/docs/concepts/workloads/controllers/ttlafterfinished/ ? It is a feature gate.
I tested the kapp from the https://github.com/vmware-tanzu/carvel-kapp/tree/8e1d1f706da29d9f31e003dcf7a7a413f54de75e build.

[2021-10-05 12:35] praveenrewar commented on #333
That could be the case, but the doc says that it is enabled by default. I will check this.

The explanation provided by you seems to be correct (to me), that the job is getting cleaned instantly with the ttl being 0. But then I am really curious about how it was working before.

[2021-10-05 12:42] praveenrewar commented on #333
Update: I can't find the job in the app that I had created, so it seems that it was removed.

[2021-10-05 13:13] dprotaso commented on #333
Note: it's very consistent in our CI environment GKE - 1.21

<img width="931" alt="Screen Shot 2021-10-05 at 9 13 14 AM" src="https://user-images.githubusercontent.com/18562/136029907-026d2bc8-4b03-4444-86a0-5ae6614608c2.png">

[2021-10-05 13:23] praveenrewar commented on #333
Based on the discussion on Slack.
The tests were working before on an earlier version of k8s, where ttl wasn't enabled. Starting 1.21, it's enabled by default and the test started failing.

[2021-10-05 18:27] rohitagg2020 commented on #324
When a resource deletion is waiting on finalizer, at that time, k8s add a field `deletionTimestamp` in the metadata to indicate that resource has gone into deletion and will be deleted once the finalizer field in metadata becomes empty.[Finalizer Doc](https://kubernetes.io/docs/concepts/overview/working-with-objects/finalizers/).

Currently, the kapp delete consist of two parts: deletion of k8s re

[2021-10-05 19:34] adriens commented on #331
Done 👏
Thanks 😸
https://twitter.com/rastadidi/status/1445472230662492169

[2021-10-05 19:34] #331 closed, assigned to microwavables

[2021-10-06 09:35] 100mik opened #338 "Add `app-change describe` command to allow the user to view diffs for deployed changes"
**Describe the problem/challenge you have**
As of today, `kapp app-change list -a app_name` lists the duration of changes deployed for an application and displays a summary of the operations performed. This feature could be extended to provide the user more insight by making the text diff for each change available.

**Describe the solution you'd like**
The config maps used to track app-changes can

[2021-10-06 09:41] 100mik commented on #338
We should be allowing users to easily exclude text-diff for certain resources. This could be done by:
- An annotation like `kapp.k14s.io/ignore-app-change-diff.
- Allowing the user to specify conditions in `Config`.

Does it make sense to have something like this in addition to `--app-change-diff` flag or should these be replacing it?

[2021-10-06 09:54] 100mik opened #339 "Improve how the user can sort and filter app-changes while listing them"
**Describe the problem/challenge you have**
Today we do not provide any flags with the `app-change list` command which allows the user to filter or list changes for a particular time frame easily.

**Describe the solution you'd like**
Allowing the following flags will allow the user to find specific app-changes more effectively.

- `--before=<timestamp>`, `--after=<timestamp>`
    - Can be used to

[2021-10-06 09:55] 100mik commented on #339
This goes hand-in-hand with #338 and helps improve how the user interacts with app-changes.

[2021-10-06 10:14] 100mik opened #340 "Add `app-change delete` command which allows easy decluttering of stored app changes"
**Describe the problem/challenge you have**
We do not have a command allowing easy decluttering of app-changes through `kapp` as of today.

**Describe the solution you'd like**
- The `app-change delete` command could have the same flags to filter through changes as those for `app-change list` mentioned in #339.
- Alternatively (or additionally) we could have a `--max-app-changes` flag which which

[2021-10-06 10:19] 100mik commented on #340
This issue is motivated by the fact that app-change config maps might be larger after resolution of #338

[2021-10-06 10:35] 100mik opened #341 "Enhance `kapp rename` to handle app-changes"
**Describe the problem/challenge you have**
As of today, on renaming an app using `kapp rename` the app-change config maps are not renamed and lost. They are not moved when the `--new-namespace` flag is used either.

**Describe the solution you'd like**
- Improve how rename works so that it handles `app-changes`
- This behaviour could be toggled with a flag.

Adding the following flags might give

[2021-10-06 10:37] 100mik commented on #341
This post is motivated by the enhancement in #338 which might lead to the user wanting to handle app changes better since they have more value.

[2021-10-06 10:45] 100mik opened #342 "[epic] Improving App Change details"
A set of changes intended to improve the observability that the `app-change` feature offers while improving how users interact with stored app changes.

This epic currently includes these issues:
- #338
- #339
- #340
- #341

We are open to suggestions about how we can add more value to stored app-changes. Feel free to put down your thoughts in this thread!

[2021-10-06 10:56] 100mik commented on #342
This epic currently includes these issues:
- #338
- #339
- #340
- #341

We are open to suggestions about how we can add more value to stored app-changes. Feel free to put down your thoughts in this thread!

[2021-10-07 05:27] rohitagg2020 opened #344 "While checking for resource existence with "Exist" function, exist func should also return the resource."
## Value Addition
Today, in the `resources.go` file, both the `Resources` interface and `ResourcesImpl` struct, has the following method definition for Exists method `Exists(Resource, ExistsOpts) (bool, error)`. It doesn't return actual Resource object. Thus, if the caller of the Exists method has to act on the Resource Obj, he has to do another `Get()` call to get the latest resource. By adding t

[2021-10-07 06:25] shubham14bajpai commented on #344
Hi @rohitagg2020 I would like to take this up.

[2021-10-07 06:31] rohitagg2020 commented on #344
Sure, feel free to make a PR.

[2021-10-07 08:11] renuy commented on #344
@shubham14bajpai , would love to hear more from you on kapp and other carvel tools. Here is our [website](https://carvel.dev/).  We are active on  carvel [slack channel](https://kubernetes.slack.com/archives/CH8KCCKA5) too. see you there.

[2021-10-07 13:37] #344 closed, assigned to shubham14bajpai

[2021-10-08 01:40] cppforlife opened #348 "verify kubernetes.io/metadata.name annotation on Namespace resource behaviour"
**Describe the problem/challenge you have**
I think in latest k8s, cluster started adding kubernetes.io/metadata.name annotation to Namespace resources. im not sure if we need to add a deafult rebase rule or it already just works (because it gets added by admission control) -- not sure. lets verify this behaviour.

---
Vote on this request

This is an invitation to the community to vote on issues,

[2021-10-08 05:23] praveenrewar opened #349 "Update tests to use testify/require instead of value comparisons and Fatal"
**Describe the problem/challenge you have**
Currently unit tests and e2e tests are using value comparisons and Fatal which is not very intuitive.

**Describe the solution you'd like**
We should update the tests to use testify/require which will make them more readable and the output would be very descriptive and concise in case the tests are failing.

**Anything else you would like to add:**
This

[2021-10-08 05:35] khan-ajamal commented on #349
Hi @praveenrewar i would like to take this up.

[2021-10-08 05:35] praveenrewar commented on #349
@khan-ajamal Sure, thanks for contributing!

[2021-10-08 15:49] cppforlife opened #350 "include FailedCreate condition in deployment waiting logic"
**Describe the problem/challenge you have**
currently Deployment waiting code looks at several conditions include FailedDelete [0]. there is another condition that would be useful to look at it FailedCreate. we should add that check in there so that we can show nice informational message to the users as part of the progress log. i do not think we need to consider progress as done though, in this c

[2021-10-11 12:27] rohitagg2020 commented on #348
I tried creating the namespace via "kapp" on k8s server version 1.22.2. It did added `kubernetes.io/metadata.name` but I was able to create and delete it successfully via kapp.
[code]

[2021-10-11 13:26] rohitagg2020 commented on #348
Tried to reproduce the scenario but deploying the same namespace again doesnt show anything on diff. Hence closing the issue

[2021-10-11 13:26] #348 closed, assigned to nobody

[2021-10-12 05:23] rohitagg2020 commented on #349
@khan-ajamal Please let us know how much you have progressed on the same.

[2021-10-12 13:56] 100mik commented on #349
Thanks for the PR @khan-ajamal ! We are still accepting PRs for the remaining packages:
 - pkg/kapp/resources
 - pkg/kapp/resourcemisc
 - test/e2e

Feel free to comment on this thread if you would like to contribute to these! The changes expected are similar to ones in the PRs:
 - #354
 - #347

[2021-10-12 13:59] khan-ajamal commented on #349
Hi, @100mik I would love to take on the remaining tasks, will send PRs for them soon.

[2021-10-12 14:05] 100mik commented on #349
That will be wonderful @khan-ajamal ! Putting your name against `pkg/kapp/resources`. We can tick them off as and when the PRs roll in.
Feel free to make a single PR or separate PRs for each package as per your convenience.
Cheers!

[2021-10-15 07:39] ShajithaMohammed commented on #349
Hi @praveenrewar @100mik I would like to take up remaining packages - pkg/kapp/resourcemisc and test/e2e

[2021-10-15 08:16] 100mik commented on #349
Sure! I will put your name against those.

[2021-10-15 08:20] 100mik commented on #349
@ShajithaMohammed let's put together a PR for the `pkg/kappresourcemisc` package and we will move onto `test/e2e`!

[2021-10-16 11:51] 100mik commented on #349
@ShajithaMohammed would you like to make a PR for the `test/e2e` package?

[2021-10-16 12:23] ShajithaMohammed commented on #349
Yes! @100mik

[2021-10-16 12:26] 100mik commented on #349
Go for it!

[2021-10-19 06:33] #315 closed, assigned to rohitagg2020

[2021-10-22 06:43] sethiyash commented on #333
Here we are seeking inputs from the community on behaviour you expect for `ttlSecondsAfterFinished: 0` from `kapp`.  Currently, `kapp` wait for `Job` to reconcile but irrespective of whether `Job` get succeeded or failed it immediately got deleted by TTL Controller and hence `kapp` throws NotFound error. These are different scenarios on which we need your inputs -  
- Job deployed successfully, Sh

[2021-10-22 07:32] nak3 commented on #333
Yes, I think so.

I would like kapp to consider operation as Failure and terminate immediately. It might be better to add an option to ignore the failure and continue with the rest of the resources, but I personally don't need it so far.

[2021-10-22 17:26] #349 closed, assigned to nobody

[2021-10-22 17:28] cppforlife commented on #333
@nak3 one challenge here is that Job is/will-be gone before we can take a look at it. that would make failure behaviour non-deterministic.

[2021-10-24 01:44] cppforlife opened #359 "restarted container logs are not picked up in logs -f"
**What steps did you take:**
i believe that when container is restarts (pod stays the same) logs are not retrieved as part of `kapp logs -f ...`. i think currently log tailing stops after container exits from the current run.

**Environment:**

- kapp version (use `kapp --version`): latest
- OS (e.g. from `/etc/os-release`): os x
- Kubernetes version (use `kubectl version`): 1.22

---
Vote on this

[2021-10-25 05:18] 100mik commented on #359
## To Reproduce
- Create the following manifest (`manifest.yaml`):
[code]
- Deploy the manifest
[code]
- Tail logs for pods in the `test` app
[code]
## Observed behaviour
`kapp` starts tailing the `pod`, waits for the pod to print "Carvel" 5 times before ending the tail. `kapp` does not exit.
[code]
## What would be a better behaviour
- `kapp` notifies user about container exiting, reconciles to s

[2021-10-25 12:46] cppforlife commented on #359
i dont think we would want this behaviour bit since pods may come up at a later point. (-f just keeps on watching forever. kapp logs without -f do end immediately.)

tiny nit, it's not that "pod is still present", it's more about container restarted.

[2021-10-26 13:37] 100mik commented on #359
Definitely makes sense to keep watching for pods! Will make the change to the comment so that it is clear.

[2021-10-26 14:41] dprotaso commented on #333
I think what makes sense to me is when `ttlSecondsAfterFinished` is set to `0` then kapp should take over ownership of the object's lifecycle

Thus - remove the `0` ttl from the spec when applying and wait for the job to succeed or fail and then capture logs/whatever and then delete it (unsure you can set the ttl after the job is finished)

[2021-10-27 16:12] sethiyash commented on #333
After discussion among us. We are uncomfortable changing the default behaviour in case of `ttlSecondsAfterFinished` is set to `0` as this can lead to different issues in long run.
This are the following workaround we suggest to handle this in kapp -
- Modify yaml given to kapp using [ytt](https://github.com/vmware-tanzu/carvel-ytt).
- Add [Config](https://carvel.dev/kapp/docs/latest/config/#format

[2021-10-27 16:46] dprotaso commented on #333
We perform `Modify yaml given to kapp using ytt.` currently

This option `Add Config to opt in kapp for this special behaviour.` would be nice

[2021-10-28 18:52] davidreuss opened #360 "Deploy failure tolerance knobs"
**Describe the problem/challenge you have**

For certain deploys your tolerance will be low for container restarts. It should be possible to exit out of the deploy early, but also include configurable behaviour to adjust timeout/tolerance.

**Describe the solution you'd like**
Similar to wait behaviours there should be health criteria for `kapp` to honor. For instance the number of restarts tolera

[2021-10-29 06:01] renuy commented on #360
Hey @davidreuss, first off thanks for the kind words.  this keeps us motivated. :)

This looks like a fair ask. Will triage this issue, and keep you posted here.

[2021-10-29 06:39] #145 closed, assigned to rohitagg2020

[2021-10-29 06:43] 100mik commented on #349
Great work on this @khan-ajamal and @ShajithaMohammed.
Would love to see you around on our [channel](https://kubernetes.slack.com/archives/CH8KCCKA5) on Kubernetes slack!

[2021-10-29 12:17] cppforlife opened #361 "enhance waiting for webhook to be available to accept a request"
**Describe the problem/challenge you have**
https://gist.github.com/cppforlife/2274082fef6a5e10cedfaa473238b441 -- newly registered webhook is preventing us to save bookkeeping annotations on the deployment, so we error. then we retry later to create resource again, but resource has been already created -- we just didnt save bookkeeping annotations.

---
Vote on this request

This is an invitation

[2021-11-02 07:18] #285 closed, assigned to renuy

[2021-11-02 12:11] renuy commented on #361
slack thread: https://vmware.slack.com/archives/C02D60T1ZDJ/p1635515232432700

[2021-11-03 10:16] ploef opened #366 "info: Resources: Falling back to checking each namespace separately (much slower)"
Hi,

I'm testing the "kapp app-group deploy ... " command and getting the warning:

"info: Resources: Falling back to checking each namespace separately (much slower)"

What can I do to make this warning disappear?

Kind regards,
Peter

[2021-11-04 01:33] cppforlife commented on #366
@ploef it's just a warning that it's going to take a slower path -- nothing wrong with that specifically. would you mind sharing your rbac setup and what is the scope you are wanting to have kapp operate in (as in is it deploying resources to single namespace, multiple namespaces, namespace+cluster)?

[2021-11-09 16:06] jdef commented on #194
@dims we've been watching this issue too, awaiting a solution. our current solution to this dependency is pretty hacky and we'd like to drop the hacks in favor of native kapp support for such things.

[2021-11-10 03:52] jdef opened #367 "--filter-labels isn't properly filtering CRD"
**What steps did you take:**
[A clear and concise description steps and any files that can be used to reproduce the problem.]
[code]

**What happened:**
[A small description of the result]
kapp complained about not finding custom resource types for several CRDs. the CRDs should have been filtered out (read: excluded from consideration) by the `--filter-labels` flag, but kapp was still processing t

[2021-11-10 03:53] jdef commented on #367
xref #272

[2021-11-10 04:58] renuy commented on #367
Hey @jdef ,
Could share your config please.
Thanks

[2021-11-10 08:52] renuy commented on #367
Also, please try kapp deploy -a someapp -y -f foo.yaml --filter-labels=a.b.c/bar!=qaz to exclude.
(the "not equal" to)

[2021-11-10 15:38] jdef commented on #367
Sorry I cannot share my yaml or copy paste the exact error messages. These nodes are airgapped, and copy/paste isn't possible. Here's a "by hand" re-typed version of the error message, redacted appropriately.

[code]

Consider the yaml configuration:
[code]

My expectation is that `--filter-labels a.b.c/bar=qaz` would mask the CustomType resource so that `kapp deploy ...` would only consider the C

[2021-11-10 15:50] cppforlife commented on #367
@jdef confirmed as a challenge with following setup

[code]

`kapp deploy -a test -f <(pbpaste) --filter-labels kind-lbl=cm` results in the same error as mentioned above due to `Foo` kind not being known to kapp (and to the cluster).

reason: filtering currently is done after preparation (internal step to fill in namespace, label resources, etc). one challenge i see with moving filtering to be don

[2021-11-10 15:56] jdef commented on #367
I'm actually trying to replace our existing preprocessing w/ the `--filter-labels` flag :)  So something like ytt isn't really a step forward at this point.

Happy to hear about #319 , we are interested in that too. In this case, our automation is trying to deploy something completely unrelated to gatekeeper - it just so happens that this is the "type not found" bump that we hit first.

[2021-11-12 13:52] cppforlife opened #369 "error message separator to indicate start of an error coming from the server"
**Describe the problem/challenge you have**
current output
[code]

proposed output:
[code]

im hoping this will be helpful in clearly identifying what part of error message is from CLI vs k8s server.

**Describe the solution you'd like**
[A clear and concise description of what you want to happen. If applicable a visual representation of the UX (ex: new CLI argument name, the behavior expected).]

[2021-11-16 12:56] renuy commented on #369
Thanks for adding this, @cppforlife.  This should help debug better.

[2021-11-16 14:51] sethiyash commented on #361
Triaging conclusions: In this issue the resource was created successfully, however the kapp metadata update had failed, triggering the retry for resource creation.
- The resource along with some metadata is created [Failures here, can lead to retry resource creation].
- As part of this we then proceed to update the metadata, once the resource creation is successful. However the metadata update can

[2021-11-18 15:07] universam1 opened #380 "support labels for app-groups"
**Describe the problem/challenge you have**
We like to annotate certain apps in order to filter them later for cleanup.

I see that kapp deploy --labels ... is supported, but that flag is not available under kapp app-group deploy.

Background:
We like to run a cronjob that removes test deployments that are older than a week, keeping production deployments.
Devs are able to create preview deploymen

[2021-11-19 14:54] #320 closed, assigned to nobody

[2021-11-22 05:55] renuy commented on #369
The new line starts only iff the error message has a "colon space capital letter"
(eg:-  ": InternalServerError").
It will not happen when its "colon space small letter" (eg:- ": internalServerError")
this is due to the CLI library being used. we could change the CLI library to change the regex to include small letters, to start new line.

[2021-11-26 13:33] cppforlife commented on #369
i think that would apply to too many cases where we dont want a line break

[2021-11-28 01:58] nak3 opened #381 "kapp deploy adds unnecessary selector to service"
**What steps did you take:**

#### Just create a svc with `kapp deploy`, for example:

- svc.yaml

[code]

[code]

**What happened:**

- The created svc has unnecessary selector `kapp.k14s.io/app: "1638062141457992726"` as:

[code]

- The service stops working due to the unnecessary selector.

**What did you expect:**

- The kapp should not add the selector `kapp.k14s.io/app: "1638062141457992726"

[2021-11-28 08:11] 100mik commented on #381
That label is added by `kapp` to track the association of the resource with an app. And I believe the selection behaviour would get scoped to that particular app as the pods deployed as a part of the app will have the same ownership label as well.

You can however disable the addition of the label by using the `kapp.k14s.io/disable-default-label-scoping-rules` annotation, something like:
[code]

I

[2021-11-28 11:28] nak3 commented on #381
Thank you. Hmm... We probably can use the workaround but if possible we don't want to add the label as we want to test the same yaml manifests which we will ship.

The service supports to have selector as `istio: ingressgateway` selector must be set. However, it does not support any additional selector as the service points to existing Istio deployments.

[2021-11-30 05:55] renuy commented on #369
@sethiyash , maybe we could look at adding a prefix with capital letter?

[2021-11-30 06:14] sethiyash commented on #369
Yeah. We can add some prefix (maybe `Message: `) to show error message in new line.

[code]

[2021-12-01 05:44] renuy commented on #380
https://kubernetes.slack.com/archives/CH8KCCKA5/p1637229778419800

[2021-12-01 05:55] renuy commented on #380
Two feature set
1. add --label flag on app-group command (only deploy)
2. add --filter-label and --filter-age flag for list (kapp ls) command.
Ideally, user should be able to
kapp deploy --labels dev=yes
...
kapp ls --filter-labels dev=yes --filter-age ... --column name | xargs -I{} kapp delete -a {}

[2021-12-01 06:00] renuy commented on #380
Hi @universam1 ,
This looks like a valid ask. We will add it to our unprirotized backlog. However, if you want to take up the issue and submit a PR for the same, we would love to help you out with reviews and pointers for code change!

[2021-12-01 13:21] 100mik commented on #381
Do you think a key in [kapp Config](https://deploy-preview-302--carvel.netlify.app/kapp/docs/latest/config/) which lets you disable label scoping for all resources is something that will help your use case better?

[2021-12-01 13:31] nak3 commented on #381
Hmm... Honestly I am not sure the answer. cc @dprotaso who introduced `kapp` in knative serving repo.

Hi @dprotaso :wave:  For the context of this issue, kapp inserts an additional selector `kapp.k14s.io/app: "1638062141457992726"` into k8s service so we need to [re-create the k8s service by kubectl after kapp created](https://github.com/knative/serving/blob/0a8ebfb242c8c3a0a58cd0b4bf3760e9d85928

[2021-12-01 15:01] dprotaso commented on #381
I think we can just use the annotation to opt out of this behaviour. We can create an ytt overlay to add it to the resources we need

[code]

[2021-12-02 05:27] 100mik commented on #381
@nak3 does this method work for you?

(Closing this issue for now. Feel free to reopen it if you feel like we can help you improve this workflow!)

[2021-12-02 05:27] #381 closed, assigned to nobody

[2021-12-02 05:34] nak3 commented on #381
@dprotaso Could you please send the PR? I am not familiar with the usage of kapp.

[2021-12-02 18:27] jigsheth57 commented on #187
I'm having the same issue ... I ran following command with no issue
 kapp completion zsh --tty=false > "${fpath[1]}/_kapp"
however, when I hit tab, I get following error:
kapp Completion\ ended\ with\ directive:\ ShellCompDirectiveNoFileComp

kapp --version
kapp version 0.42.0
macos: bigsur
using oh-my-zsh

[2021-12-03 11:06] dprotaso commented on #381
I do wonder, if by default, if the Service doesn't have a matching deployment/pod then the label shouldn't be applied.

[2021-12-06 06:00] rohitagg2020 opened #383 "Automate the kapp release, prepare checklist."
Automate the kapp release, prepare checklist.

1. Remove the go releaser and use build-binaries directly.
2. Prepere Release checklist.
3. See what else can be automated.

[2021-12-06 06:25] renuy commented on #369
without adding the "Message: " prefix, it will look like:
[code]

[2021-12-06 14:30] praveenrewar commented on #194
We have added support of [kapp.k14s.io/exists](https://carvel.dev/kapp/docs/latest/apply/#kappk14sioexists-available-in-v0430) annotation (available in v0.43.0) which can be used to wait for resources that are not owned by kapp.

[2021-12-06 14:30] #194 closed, assigned to praveenrewar

[2021-12-06 14:31] praveenrewar commented on #52
We have added support of [kapp.k14s.io/exists](https://carvel.dev/kapp/docs/latest/apply/#kappk14sioexists-available-in-v0430) annotation (available in v0.43.0) which can be used to wait for resources that are not owned by kapp.
For the above mentioned example of gatekeeper, we might wanna add a few change-groups and change-rules as well (to deploy the Constraint Templates after the pods go into t

[2021-12-06 14:31] #52 closed

[2021-12-06 14:31] praveenrewar commented on #192
We have added support of [kapp.k14s.io/exists](https://carvel.dev/kapp/docs/latest/apply/#kappk14sioexists-available-in-v0430) annotation (available in v0.43.0) which can be used to wait for resources that are not owned by kapp.

[2021-12-06 14:31] #192 closed, assigned to praveenrewar

[2021-12-07 15:05] cppforlife commented on #369
i think that's fine -- still solves the problem of delimiting whats being returned from the server.

[2021-12-08 06:18] renuy commented on #380
@cppforlife , do you think it would be a good Idea to add --show-labels flag, on the kapp ls command.
@sethiyash , @rohitagg2020
If yes, then If there are multiple labels, how do show all the labels in the table.

[2021-12-08 11:11] redbaron opened #385 "How do I opt-in for 3-way merge?"
Hi, I read https://github.com/vmware-tanzu/carvel-kapp/issues/58 and appreciate reasoning you gave there. There is however a problem I can't resolve, hence this question.

First, to specify conflict resolution rule I need to know exactly where conflict might happen. Given that neither app author nor app deployer might be aware of manual changes done to the cluster resources , it is hard to for the

[2021-12-08 13:04] #369 closed, assigned to sethiyash

[2021-12-08 13:26] rohitagg2020 commented on #385
Hi,

I am looking into the issue and will try to come up with a solution which will include [ytt rebase rule](https://carvel.dev/kapp/docs/latest/config/#rebaserules).

[2021-12-08 14:58] #195 closed, assigned to praveenrewar

[2021-12-08 17:29] redbaron opened #388 "Support additional apply mechanism -- server side apply"
**Describe the problem/challenge you have**
I'd like make use of server side apply feature, bypassing rebaseRule entirely.

**Describe the solution you'd like**

An optional support for server-side apply, enabled by the `--server-side` flag.

**Anything else you would like to add:**

When server-side apply is in use rebaseRules are entirely bypassed. Diff is generated using dry run and diffing res

[2021-12-08 17:33] redbaron commented on #385
There are more limitations of rebaseRule, for instance it doesn't support `listMap` , that is yaml list, where elements keyed by one of their properties. For example list of containers are keyed by container name, there can't be 2 containers in with the same name.

Thinking about it more, it looks like server side apply and it's conflict resolution framework is better approach. I opened https://gi

[2021-12-08 18:26] 100mik commented on #388
Interesting suggestion! We were working on having a `--dry-run` feature which would probably complement the [server side validation](https://github.com/kubernetes/enhancements/issues/2885) which just made it to alpha I believe. We did run into a few edge cases like where users were deploying CRDs and CRs using the same manifest.

Will definitely explore the Server Side apply feature to see how we

[2021-12-08 22:36] cppforlife commented on #385
_ytt_ rebase rules can do any kind of logic since it's a full blown language so it's definitely possible. in fact that's how service account's secret names are merged together in the default rebase rules. (not saying it's pretty as a first cut of this feature but it work -- There are more limitations of rebaseRule, for instance it doesn't support listMap , that is yaml list, where elements keyed b

[2021-12-08 22:50] cppforlife commented on #385
kapp tries to provide a guarantee that what gets applied results in same outcome regardless of what happened on the server. in server side apply world, for example, keys that are set by something else on the server side will never be unset by future apply that do not touch that section. this definitely "fights" against general philosophy of kapp. but lets take that convo to this other thread you s

[2021-12-08 22:56] cppforlife commented on #388
(copying my comment from https://github.com/vmware-tanzu/carvel-kapp/issues/385#issuecomment-989290669)

[2021-12-08 23:10] redbaron commented on #388
This is exactly what I want though. I want deploy tool to be concerned only with values provided to it to deploy, not anything else added by other actors, which is very well aligned with server side apply approach.

Given your strong preference for explicit rebase as it is now, would you still concider a PR implementing SSA?

Simple diff between resources  to apply and cluster state would show del

[2021-12-08 23:17] cppforlife commented on #385
im actually curious of this statement... how come folks dont know where conflicts are? it sounds like for your use case its ok if cluster resources drift from desired specified config?

[2021-12-08 23:27] cppforlife commented on #388
yes, we would (let us know if you want to work on the PR). we definitely would like to support it as an alternative apply mechanism -- just not as default.

yeah, fair enough -- if you are aware of the side effects thats really your call to make for your environments.

i was just pointing out that this specifically enables your cluster to "drift away" from your desired config. desired config doesn

[2021-12-08 23:30] redbaron commented on #385
Someone comes in and adds an env var, lets say to enable logging or tune some JVM params , on a next deploy this var is removed, because deployed manifests never specified this var. For a redeploy to keep vars as is, rebase config needs to be provided (either by  ci/cd deploy process or app author), but it is hard for them to know in advance where conflict might be.

exactly. I dont expect deploy

[2021-12-08 23:38] redbaron commented on #388
I am embedding kapp into our deploy tool (not as CLI) and started working on SSA  for it. I don't think it is going to be too much extra work to code it such that it is upstreamable.  I outlined rough user visible plan in the opening comment.

[2021-12-09 07:42] #318 closed, assigned to praveenrewar

[2021-12-09 08:05] renuy commented on #52
@nlewo, Do try this out, and let us know how it goes.
Thanks

[2021-12-09 08:06] renuy commented on #145
released as part of v0.43.0.
@galamiram, do try it out and let me know how it goes.
Thanks

[2021-12-09 08:08] renuy commented on #344
released as part of v0.43.0

[2021-12-09 08:09] renuy commented on #344
@shubham14bajpai, thank you for your contribution

[2021-12-09 08:11] renuy commented on #195
closed as part of v0.43.0

[2021-12-09 09:06] nlewo commented on #52
@renuy I'm sorry, i moved to some other stuffs and no longer use kapp (not because i find something better, just because i no longer have the need).

btw, thx for the ping ;)

[2021-12-09 18:08] cppforlife commented on #385
i see, makes sense as dedicated use case.

on a separate note, i ended up playing around with ytt rebase rule:

- here is an example of 2 way merge -- https://gist.github.com/cppforlife/27fd51290e73db2bd68b476dd2f750f5
- 3 way merge is tougher since we "clear out" original annotation so it's not available in ytt execution (might be a possible future if there is enough demand).

since it sounds lik

[2021-12-09 18:08] #385 closed, assigned to nobody

[2021-12-15 10:14] rohitagg2020 commented on #360
Hi @davidreuss ,

I have gone through the slack discussion and the issue description. I need certain clarifications. Please share your thoughts on the same:

1. Are you looking for exit based on timeout. If yes, we already have something like this: `--wait-resource-timeout duration                         Maximum amount of time to wait for a resource in wait phase (0s means no timeout)`

 `e.g. ka

[2021-12-15 14:58] ranfysvalle02 commented on #120
@rohitagg2020 - I'd like to help, but would like more details as to what the success criteria for this issue is. Could you please define what would need to be accomplished in order for this issue to be closed?

[2021-12-16 05:43] rohitagg2020 opened #394 "Perf Enhancement"
We need to look into what are the possible ways to improve the kapp performance.

To Do Task:
1. Figure out all the places we are making calls to k8s server and if we can reduce them.
2. Another possible place:
When kapp deploy is using configmaps (vs. kapp deploy -a label:my-app-name=xxx), is the usedGVs property in the main configmap an optimisation so that when querying based on labelKey/labelV

[2021-12-16 06:46] rohitagg2020 opened #395 "kapp unnecessarily create change configmap in kapp controller even when there is no change."
1. kapp unnecessarily create change configmap in kapp controller even when there is no change.
2. https://kubernetes.slack.com/archives/CH8KCCKA5/p1639520576191700 - One more issue where CRD is modified by the tool itself and kapp shows it in diff next time

To replicate the issue, do a kapp deploy twice:
1. kapp deploy -a rmq -f "https://github.com/rabbitmq/cluster-operator/releases/latest/downlo

[2021-12-16 07:56] rohitagg2020 commented on #235
### Task

Remove conditions column from `kapp inspect` and during `diff stage` since it's misleadingly coloured for some of the resources like HPA which always have a false condition.
Currently this condition comes in the GUI output as mentioned in the description of the issue. So we need to remove it.
### Code Changes

- We have to make the changes in the places where we are feeding the data to t

[2021-12-17 21:12] neil-hickey commented on #146
Hey Team! I plan on submitting a PR / requesting some help on a PR to drive out a solution for this use case.

The proposal is as follows:

- Always append `.apps.k14s.io` by default globally to the configmap created by apps deployed via `kapp deploy ...`

**Example user flows:**

**New application with name `foo`:**
  - `kapp deploy -a foo`
  - App name is: `foo`
  - Configmap generated is: `foo.

[2021-12-18 09:59] armenr commented on #187
Same as @jigsheth57 -- MacOS Monterey 12.0.1, M1 Pro - Python 3.9.1

[code]

[2021-12-20 05:42] renuy commented on #395
cc: @voor we will be trying to analyse the app change in this issue

[2021-12-20 21:21] StarpTech opened #398 "Can't deploy two apps into the same namespace"
**What steps did you take:**
As titled.

[code]

**What happened:**

[code]

**Environment:**

- kapp version (use `kapp --version`): 0.43.0

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would like to see this addressed as soon as possible"
👎 "There are oth

[2021-12-21 04:03] praveenrewar commented on #398
@StarpTech The `into-ns` flag is used to place all the resources into the provided namespace, i.e. it overrides the `metadata.namespace` of every resource with the flag value. If you want to deploy the app in a specific namespace you should use the `--namespace` flag.

As for the error, you can't have one resource part of multiple kapp applications. So, when you try to deploy the second app with t

[2021-12-21 09:39] StarpTech commented on #398
@praveenrewar you're absolutely right. I mixed it up a bit. I could resolve it. Thank you!

[2021-12-21 09:39] #398 closed, assigned to nobody

[2021-12-22 15:59] praveenrewar commented on #367
@jdef I would like to understand more about what kind of preprocessing you are trying to do.

In case you just want kapp to ignore the CustomResources and you are comfortable doing it without the labels, then you can use the [kapp.k14s.io/noop](https://carvel.dev/kapp/docs/latest/apply/#kappk14sionoop) annotation.
However, you would have to provide the basic details of the CustomeResourceDefinitio

[2021-12-30 07:33] Rock981119 commented on #187
Same issue:
[code]

kapp version 0.43.0
zsh version 5.8

[2022-01-04 08:12] ahoehma opened #404 "kapp deploy suddenly doesn't work anymore"
**What steps did you take:**

Yesterday I started working with kapp (nice tool! :D) in my win-10 docker-desktop-k8s ... simple setup, using lens to look into it, simple application to deploy (deployment, service, nginx-ingress, ....) nothing special so far ... And everything works well ...

kapp deploy -a "foo" -f .

I did this many many many times ... changed my yaml's, re-deployed etc.
I also de

[2022-01-04 08:18] ahoehma commented on #404
OMG ... Shit ... sorry ... was my fault! :)

I was in the wrong directory today ... there are no yaml's at all ... and this cause this "result".

Mayb it would be good if kapp shows a different warning if no input files at all given?

Could be rejected.

[2022-01-04 08:18] 100mik commented on #404
Glad you are enjoying kapp!
Could you share the YAML that you are trying to deploy?
It'll be a big help.

[2022-01-04 08:21] ahoehma commented on #404
That was the problem :D I run kapp deploy with "nothing" *g*

[2022-01-04 08:28] 100mik commented on #404
Oh I see! I am sorry I did not notice the comment you made later.
Keep having fun with `kapp` 🚀
Closing this issue.

A better error message would definitely help. We will take note of this!

[2022-01-04 08:33] 100mik commented on #404
The error I get while trying to deploy an empty directory is
[code]
I am curious about what conditions led to that error message as we would definitely want it to be more helpful 🤔

[2022-01-04 08:42] 100mik commented on #404
Is it possible that this directory had YAML files that were improperly formatted or created for some other purpose?

[2022-01-04 08:56] ahoehma commented on #404
You are right @100mik  ... there was a "EXPORT.yml" ... its just a configuration file.
So its seems I did it 100% wrong :D

[2022-01-04 09:04] 100mik commented on #404
Oops! Thanks for bringing this up.
Closing this for now, seems like Murphy's law is at play!

[2022-01-04 09:04] #404 closed, assigned to nobody

[2022-01-05 04:33] GrahamDumpleton commented on #394
The ConfigMap in this case should not use some special format. It would be better to record the list of resources in a format which is also compatible with what could be supplied in a kapp Config resource object passed to kapp. This means that even when using `kapp deploy -a label:my-app-name=xxx` a manually constructed kapp Config with the list of resources could be manually passed to kapp when r

[2022-01-05 15:05] gyj0825 commented on #395
Hello, the app has not changed. Each app will create many seemingly useless configmaps, resulting in very slow access to the configmap API. Are there any plans for further optimization?

[2022-01-05 20:53] cppforlife commented on #395
here is the diff from second deploy

[code]

this diff is due to following config on CRD in cluster-operator.yml:

[code]

kapp reads this as set status to following value which would reset what was populated in the cluster. you can either get rid of that portion of yaml manually or remove it via ytt overlay (or other overlaying tool). (this YAML gets generated )

kapp deploy does have --app-chang

[2022-01-06 23:10] GrahamDumpleton commented on #394
Worth noting when I first raised this issue on Slack, but which isn't noted in the issue, is how this whole problem could be getting exacerbated by the fact that `kapp` by defaults keeps a deployment history of size 200 (`--app-changes-max-to-keep`). As the number of applications deployed using `kapp-controller` grows then eventually for each of those you get 200 config maps stored. So if you have

[2022-01-10 03:26] andrewrothstein opened #406 "Add checksums.txt to release artifacts"
**Describe the problem/challenge you have**
Trying to validate checksums on released artifacts. No checksums.txt file published with release artifacts for kapp releases. See [here](https://github.com/vmware-tanzu/carvel-kapp/releases/tag/v0.43.0).

**Describe the solution you'd like**
In many of the other carvel tool repos the releases come with a checksums.txt file. For example ytt:0.38.0 publish

[2022-01-10 03:59] sethiyash commented on #406
Hi @andrewrothstein
In kapp we generally put down the checksums in the release notes itself instead of putting them in checksums.txt file wouldn’t that help ? Any particular reason for which you want us to put them in checksums.txt file also ?

[2022-01-11 06:40] rohitagg2020 commented on #394
**Service Account Scoping - to see what permissions does SA have and how APP CR's are consuming them.**
Details: Looked into APP CR. Each APP CR's has one service account associated with it. If service account has cluster wide full permissions, then we wont see any 403's. But for the SA with limited set of perms, we can see the 403's when kapp make HTTP calls. Next question is how can we limit the

[2022-01-12 15:30] scothis opened #408 "Gracefully accept resource defaults and other value defined during admission"
**Describe the problem/challenge you have**

`kapp deploy` will take a blob of k8s yaml and do its best to make resources on the server match the desired state. The command's behavior is idempotent. That is a second running of the command should be a noop assuming the resources have not been updated since they were created. Unfortunately this is often not quite true, which causes near-meaningless

[2022-01-12 18:37] cppforlife commented on #408
(suggested behaviour is already what kapp does. i reached out to @scothis to see what prompted him to think otherwise. waiting for a reply here.)

[2022-01-13 16:23] gabegorelick opened #410 "disable-original by default if"
**Describe the problem/challenge you have**

When a resource is exceeds Kubernetes' max annotation length, you need to set `kapp.k14s.io/disable-original`.

From https://carvel.dev/kapp/docs/latest/diff/#kappk14siodisable-original:

**Describe the solution you'd like**

kapp should automatically disable original when saving it would exceed Kubernetes' limit.

**Anything else you would like to add:

[2022-01-14 02:19] andrewrothstein commented on #406
I'm trying to author an Ansible role that downloads and installs the release executables from GitHub. The Ansible get_url module can check the downloaded executables against a checksums file. Adding the checksums file to the release artifacts will make this easy. I like easy. Of the other carvel tools ytt, kbld, and imgpkg already include a checksums file in the release artifacts. Kapp and vendir

[2022-01-17 05:13] renuy commented on #410
@sethiyash , Please take a look at this.

[2022-01-17 06:03] sethiyash commented on #410
Sure @renuy.

[2022-01-17 15:16] sethiyash commented on #410
Possible Approach: We can stop adding `kapp.k14s.io/original` annotation and its value in case when resource bytes exceed max length of 262144 and hence it will not record the applied resource changes and we will be unable to do smart diffing of the change made.

[2022-01-18 04:15] renuy commented on #410
@cppforlife, @rohitagg2020 , @sethiyash ,
Would we need to add one more annotation (say, `kapp.k14s.io/original-remove-on-error`) so that users can opt-in for the required behaviour? If they don't opt-in we continue to fail on error.

[2022-01-18 04:45] rohitagg2020 commented on #410
My two cents:

As of today, this is the user flow when he has a resource > 256 KB.
1. User is unaware of the resource size and while doing the `kapp deploy`, `kapp deploy` fails. Thus user becomes aware that resource size is > 256 KB. e.g.
[code]
2. User adds the annotation `kapp.k14s.io/disable-original` and now kapp deploy runs successfully.

As we already have the `kapp.k14s.io/disable-original

[2022-01-18 10:11] sethiyash commented on #410
Findings on how diffing will be impacted if we don't record applied resource changes in `kapp.k14s.io/original` -
- Unable to perform smart diffing on the changes and it fallback to dumb diff which may show several deleted fields even though these fields are not specified in the original file.
- Redeploying with the unchanged configuration file will show operation as an update due to dumb diffing.

[2022-01-19 10:05] praveenrewar commented on #410
I think it would be much better to add a possible value for the `disable-original` annotation (something like onMaxLength), which will enable the annotation only when the size of the ConfigMap goes beyond max length.

@gabegorelick Do you think that would solve the problem that you are facing?

[2022-01-19 14:20] sethiyash commented on #406
@andrewrothstein Firstly thanks for sharing the detailed usecase. We have decided to add checksums file in our subsequent releases. If you are willing to raise a PR we are open to that as well.

[2022-01-19 15:04] sethiyash commented on #410
@gabegorelick Firstly, I'm curious to know about the scenario when you face this applied resource limit exceed and how this can benefit you?
To summarize we can think of two approaches I want to know your preferred way out of these two -
- Approach1: As mentioned by @praveenrewar to add a possible value for the disable-original annotation.
  - This will just apply disable annotation when the resou

[2022-01-22 00:08] #383 closed, assigned to rohitagg2020

[2022-01-24 18:35] gabegorelick commented on #410
I had a big CRD. I don't remember the exact flow, but it was something like `kapp deploy` failed -> we realized we had to add the annotation -> confirmed with the docs that when deploying big CRD you will have to add said annotation -> annotation added -> subsequent deploy succeeded.

My immediate problem (`kapp deploy` not working) is already solved by adding the `disable-original` annotation. I

[2022-01-26 15:29] cppforlife commented on #408
im going to close this @scothis. feel free to reopen with more info.

[2022-01-26 15:29] #408 closed, assigned to nobody

[2022-01-27 06:12] rohitagg2020 opened #425 "Identify and Automate the test cases execution before doing a release"
**Describe the problem/challenge you have**
There are certain test cases that should be run every time before we release a kapp to ensure that it behaves as expected.

**Describe the solution you'd like**

- [x] Identify the test cases to be run.
- [x] Identify what all can be automated.
- [x] Automate them and add to the release process.

[2022-01-27 07:59] rohitagg2020 commented on #425
Will be working on this as well as part of this:

`Add checksums.txt to release artifacts` #406

[2022-01-27 16:36] N00BEST opened #426 "Don't exit at first error but continues and summarizes all the found ones at the end of execution"
**Describe the problem/challenge you have**
We want to use kapp to reconcile our e2e tests. We're trying to deploy multiple CRs that don't depend on each other, they can be deployed in parallel. There's no dependency between CRs, so if any of those fails it should not stop the other ones from being reconciled. Currently the kapp command is exiting as soon as it finds an error, with a message like

[2022-01-27 18:15] scothis opened #427 "Waiting for interdependent resources to become ready"
**Describe the problem/challenge you have**

I have two resources that are part of an app. Resource A will not be ready without resource B, and resource B will not become ready without resource A. I'd like to know for `kapp deploy` when both resources are ready.

If I define no wait rules or change rules then everything will come up, but I don't know when that happens via `kapp`.

If I define wait

[2022-01-28 10:14] praveenrewar commented on #427
So we would need a different version of change group and change rules, and rather than waiting for the _dependee_ to be `ready`, we just wait for it to `exists`.
I will think more about it while going through the examples and gist in detail.

[2022-01-28 11:52] rohitagg2020 commented on #426
@N00BEST, I have a couple of clarifications I needed to ask:

- Is this behavior required during the reconciliation only or lets say If we want to deploy 10 resources, and few of them fails(e.g in case say,  `CRD for CR doesn't exist on server`). Then also we should continue to reconcile or abort like we do today?

[2022-01-28 12:09] sethiyash commented on #410
@gabegorelick, Thanks for sharing. Your inputs make lots of sense in making `kapp` a smooth experience. We will just discuss this internally and keep you posted.

[2022-01-28 14:58] scothis commented on #427
`exists` can get a bit sticky, especially for updates. I was thinking something like `seen` might be better, so if a resource has  `supportsObservedGeneration` set to true, then we can wait for the observed generation to match the generation. That we we can know the resource has at least been reconciled even if the resource is not ready.

It might also be useful to have the ability to order the co

[2022-01-28 16:51] N00BEST commented on #426
Hello, @rohitagg2020

It's ok for the behavior to happen just during reconciliation. If the error happens before reconciliation, kapp can abort like it does today.

[2022-01-28 21:25] cppforlife commented on #427
i see this as whether waiting phase is blocking (currently) vs non-blocking (wanted in this case).

this is an interesting bit. in your example is it required for "The SB will not become ready until the S exists." to work out. im trying to think of examples where "partial waiting" would be necessary (which does shift idea of blocking-vs-non-blocking a bit).

[2022-01-28 21:29] cppforlife commented on #426
one thing that's been on my mind some time ago... currently kapp aggressively exits on first failure, even though there might be more resources that can be applied to the cluster (because they dont depend on other resources via change rules). i was thinking should we actually change default behaviour to apply as many resources as possible and report all collected failures.

[2022-01-30 07:35] praveenrewar commented on #427
@scothis I followed the steps mentioned by you to reproduce the issue and I noticed that an external Service and an Ingress are created once the S and SB are in the desired state. So, I was wondering if you would be able to use the [exists annotation](https://carvel.dev/kapp/docs/v0.45.0/apply/#kappk14sioexists) on the external Service and wait for it's existence instead of waiting for S and SB. I

[2022-01-31 05:16] rohitagg2020 commented on #426
Thanks @N00BEST and @cppforlife, will incorporate above feedback.

[2022-01-31 13:10] renuy commented on #410
Adding this to the Unprioritized Backlog. @gabegorelick , We will try to get to this soon. However, if you want to submit a pul request for this, we could prioritize the review for this.

[2022-01-31 13:11] renuy commented on #425
Moving this to the prioritized backlog

[2022-02-01 22:53] #380 closed, assigned to sethiyash

[2022-02-02 18:59] scothis commented on #427
@praveenrewar I haven't used the exists annotation before, but I don't see how that would solve the race condition that exists between the S and SB resources becoming ready. The existence of a child resource it not an indication that the parent resource is completely ready, but is certainly part of that resource becoming ready.

[2022-02-03 09:12] 100mik commented on #394
Just noted that we `Get()` and `Update()` the app config map each time we update the app meta. Previously, we were making these calls while updating the app meta with UsedGVs and with LastChange details.

The GK scoping will introduce 4 more calls per run.

(The pros of GK scoping outweighs this by a landslide. Just taking note of it.)

[2022-02-03 17:03] praveenrewar commented on #427
Does the race condition occur even when S and SB are deployed together (without any change rules)?

I am exploring the non-blocking behaviour suggested by @cppforlife, and I saw this error in the SB description

```Warning  UpdateFailed  34s (x14 over 75s)  servicebinding-controller  Failed to update status for "spring-petclinic-db": admission webhook "defaulting.webhook.bindings.labs.vmware.com"

[2022-02-03 20:50] scothis commented on #427
The race surfaces when defining wait rules for either resource, as either resource may flip to Ready=False before the system stabilizes on Ready=True. You should be able to simulate this by removing either resource from the app being deployed.

I haven't seen this particular error before. Do you have any other context for how it surfaced?

[2022-02-04 04:43] praveenrewar commented on #427
I see. In my case, the SB is not getting updated, so I am not able to simulate the exact behaviour, but if try to deploy the S alone, it does indeed wait indefinitely for the SB.

I actually followed the steps mentioned by you on a minikube cluster. I will try to deploy it on a fresh cluster again and see if the problem persists.

[2022-02-14 12:43] schmurfy opened #432 "kapp creates state configmap on --diff-run"
**What steps did you take:**
kapp deploy -a myapp -f . --diff-run

**What happened:**
kapp shows the diff but created an empty configmap for this app, when running `kapp list` afterwards the app is shown in the list with "-" as namespace, an inspect list nothing, as it should

**What did you expect:**
nothing changed on the cluster

**Anything else you would like to add:**
[Additional information

[2022-02-14 13:56] #324 closed, assigned to sethiyash

[2022-02-14 15:17] #394 closed, assigned to nobody

[2022-02-15 05:56] 100mik commented on #432
Looks like this issue is also being tracked in this one #23

[2022-02-15 06:26] rohitagg2020 commented on #432
@rohitagg2020 Please check: When `diff-run` is performed against the labeled app, we don't create configmap. Can we convert recorded app to labeled app and do the `diff-run`.

[2022-02-15 10:33] schmurfy commented on #432
@rohitagg2020 What are labeled apps and recorded apps ?

[2022-02-15 17:44] cppforlife commented on #432
rohit is referring to using `-a label:x=y` (labeled) instead of `-a app-name` (recorded). currently only recorded apps get "created" even for --diff-run. (*note: i always recommend using recorded apps in 99% cases. labeled apps were introduced as an advanced/specialized option, especially useful for browsing cluster e.g. `kapp inspect -a label:`)

i think your ask is totally reasonable and we shou

[2022-02-15 21:37] dpb587 opened #435 "Support for condition-level `observedGeneration` wait rule"
**Describe the problem/challenge you have**

Hi - I'm trying to configure a resource wait rule including `observedGeneration` from the condition-level, but I don't think it's possible. I'd be interested if there is an alternative, but seems like this might be a feature request from looking into it more.

For a specific scenario, I'm using [cert-manager](https://cert-manager.io) and have a custom w

[2022-02-16 06:50] praveenrewar commented on #435
Hi @dpb587, thanks for bringing this to our notice, this seems like a reasonable ask.

We would be happy to review it on priority.

[2022-02-17 05:33] rohitagg2020 commented on #432
@schmurfy I apologize for being ambiguous. It was a note to self.

[2022-02-17 15:43] #410 closed, assigned to nobody

[2022-02-18 03:35] praveenrewar opened #437 "Rename module from "github.com/k14s/kapp" to "github.com/vmware-tanzu/carvel-kapp""
**Describe the problem/challenge you have**

We've moved our git repos from the k14s org to the vmware-tanzu org.
The module path of a project to match that of the GitHub repo where it lives.

**Describe the solution you'd like**
Rename the module and all references to it.

**Anything else you would like to add:**
This is part of vmware-tanzu/carvel#153

---

To Do:
- [ ] Perform the rename
- [ ]

[2022-02-18 04:23] renuy commented on #437
linked to  https://github.com/vmware-tanzu/carvel/issues/153

[2022-02-18 04:31] praveenrewar commented on #427
I was able to get rid of this ^ issue on a gke cluster.

I have one question related to the ordering of (S) and (SB) though.

Based on this, my assumption was that we would want to create the (S) first, wait for it to be _seen_, create the (SB) and then wait for both the resources to be ready. But based on the change rule defined defined in the gist, we are trying to create the (SB) first, which I

[2022-02-19 00:00] gabegorelick commented on #48
With https://github.com/vmware-tanzu/carvel-kapp/pull/430 merged, deploying large resources should no longer be an issue.

[2022-02-19 06:17] adriens opened #438 "Please 🐦 about v0.46.0 release"
Hi,
can you please tweet about [v0.46.0](https://github.com/vmware-tanzu/carvel-kapp/releases/tag/v0.46.0) so i'll can retweet it ❔ 🙏

[2022-02-19 10:32] praveenrewar commented on #438
cc @microwavables

[2022-02-22 19:05] microwavables commented on #438
Done! https://twitter.com/carvel_dev/status/1496199210286338055?s=20&t=mOF4eQhI0OZPclY1YclECg
Thanks @adriens

[2022-02-22 19:05] #438 closed, assigned to microwavables

[2022-02-22 21:17] adriens commented on #438
🐦 ✔️

[2022-02-23 05:11] mohansitaram opened #442 "Add waitRules for Custom Resources that don't have the "conditions" field in their status."
**Describe the problem/challenge you have**
kapp's waitRules currently only supports conditionMatchers for resources that have the "Conditions" field in their status. We are using kapp to deploy a Custom Resource that has no "Conditions" field in its status so we are not able to detect if the CR actually got deployed successfully. The CR does have a Status field though which could be used for addi

[2022-02-24 04:55] renuy commented on #442
@mohansitaram,
Thanks for creating this issue. adding it to our backlog. We will try and get it to it soon.

ps:related to #11

[2022-02-25 11:11] renuy opened #446 "Improve error message"
**Describe the problem/challenge you have**
Reconcile failed for a package install. with kapp error
'kapp: Error: Timed out waiting after 5m'
Would be helpful to have which resource it was waiting on

**Describe the solution you'd like**
Improve error message:
"Timed out waiting after ..." error with some additional info on what was at least one resource it was waiting on.

**Anything else you wou

[2022-02-27 12:50] itaytalmi opened #447 "The "source <(kapp completion bash)" command outputs an error message"
**What steps did you take:**
[A clear and concise description steps and any files that can be used to reproduce the problem.]

Added `source <(kapp completion bash)` to my `/etc/profile` so it would automatically load.

To reproduce the issue, you can simply run `source <(kapp completion bash)`.

**What happened:**
[A small description of the result]

Got the following error message:

[code]

This

[2022-02-28 06:23] renuy commented on #447
Thanks @itaytalmi  for bringing this up. Adding it to our un-prioritised backlog for now.
We would be happy to prioritise a review, if you want submit a PR for the same.

[2022-02-28 06:32] rohitagg2020 opened #448 "Deployment with strategy RECREATE doesn't wait for reconciliation during redeploy."
**What steps did you take:**
Create a deployment with `strategy: Recreate` and `replicas: 1`. Do the initial `kapp deploy`. Make some changes to deployment. Redeploy with `kapp deploy` again. This time, you will see that it didn't wait for reconciliation.

For more information, check https://github.com/vmware-tanzu/carvel-kapp/discussions/434

[2022-02-28 06:35] rohitagg2020 commented on #448
cc @ChristianCiach, please add if I have missed anything.

[2022-02-28 19:58] ChristianCiach commented on #448
One more thing worth mentioning: This issue doesn't happen *always*. It just happens *often*.

This gist should be helpful to reproduce this issue: https://gist.github.com/ChristianCiach/77bd050b79fae61a71e8cb9b52ddc702

[2022-03-04 23:30] ciberkleid opened #452 "Allow `kapp delete` even if default namespace was part of the application configuration"
**Describe the problem/challenge you have**
If the default namespace is included as a resource in a kapp-deployed application, you can then not delete the application. You get the following error and you are stuck:

[code]

**Describe the solution you'd like**
I don't think it is realistic to prevent the default namespace to be part of an application configuration, so maybe one of these two approa

[2022-03-07 05:24] 100mik commented on #452
Adding steps to reproduce this issue using `kctrl`

1. Add the TCE repo
[code]
2. Install cert-amanger into default ns
[code]
3. Attempt a delete
[code]

[2022-03-07 05:53] rohitagg2020 commented on #425
Completed. Version 0.47.0 should be an automated release.

[2022-03-07 05:54] #425 closed, assigned to rohitagg2020

[2022-03-07 05:55] rohitagg2020 commented on #406
Done as part of https://github.com/vmware-tanzu/carvel-kapp/issues/425

[2022-03-07 05:55] #406 closed, assigned to nobody

[2022-03-07 09:54] 100mik commented on #452
There are a few ways forward from here,
1. We could make it so that `kapp` apps do not adopt namespaces that are already created as a guardrail against unintended deletions and that will help in situations like these. The downside is that some users migrating existing resources into `kapp` applications might want to adopt namespaces in which case a flag toggling this behaviour might become handy.

[2022-03-07 17:15] joe-kimmel-vmw commented on #452
I could be wrong but the most appealing to me was option (1) which keeps the logic in kapp.  There's a couple related issues in kc right now:

https://github.com/vmware-tanzu/carvel-kapp-controller/issues/523

and

https://github.com/vmware-tanzu/carvel-kapp-controller/issues/535

[2022-03-07 23:05] #359 closed, assigned to renuy, rohitagg2020

[2022-03-07 23:21] cppforlife commented on #452
i do think that kapp should be owner of whatever behaviour we decide on. (kapp-controller doesnt interact with any resource kapp deploys directly).

im not a huge fan of "skipping" deletion of default namespace since it seems like user should never have configured app to include default namespace (though i could see how one may want to apply some labels to default namespace via kapp).

i think wit

[2022-03-15 10:25] rohitagg2020 commented on #442
Design Proposal: https://hackmd.io/hfgsE5v2QoyDjyu3VD0H4g

[2022-03-16 11:33] 100mik commented on #452
Since it is a hard rule that the default namespace cannot be deleted from the cluster. It does make sense for `kapp` to have a set of such resources hardcoded, for which it uses the "orphan" strategy for deletion.

We should probably add other similar resources to such a list as well.
We will be adding this to our unprioritized backlog  and work towards it🚀

[2022-03-17 13:06] praveenrewar opened #457 "Getting ownership error when using `exists` annotation for resources created by kapp-controller App CRs"
**What steps did you take:**
`kapp deploy -a myapp -f one.yaml -f two.yaml`

`one.yaml` has an App CR which internally creates a CRD (C).
`two.yaml` has a mock CRD (C) with the [exists](https://carvel.dev/kapp/docs/v0.46.0/apply/#kappk14sioexists) annotation and a CR of kind (C)

**What happened:**
When I tried deploying myapp again I got ownership error
[code]

**What did you expect:**
The app sh

[2022-03-17 13:12] praveenrewar commented on #457
We get the ownership error because App CRs would internally use kapp to deploy resources, hence they would have a kapp ownership label present for them. So when a consecutive deployment is done, kapp throws an error for the placeholder resources that they are already part of another kapp app.
As a workaround for now, we could use `--dangerous-override-ownership-of-existing-resources` flag, which w

[2022-03-17 14:50] ramkrishna2k3 opened #458 "- struct has no .scrapeTimeout field or method"
I have a weird issue. Unable to resolve, Kindly help

error :
**ytt: Error:
- struct has no .scrapeTimeout field or method
    in <toplevel>
      config.yml:257 |       scrapeTimeout: #@ data.values.podMonitor.scrapeTimeout**

 I pass the value in config.yml from values.yml

**config.yml**
---
#! Source: tomcat/templates/podmonitor.yaml
#@ if data.values.podMonitor.enabled:
apiVersion: monitoring

[2022-03-17 16:52] ramkrishna2k3 opened #459 "Expected to find at least one version (details: all=0 -> after-prereleases-filter=0 -> after-constraints-filter=0)))**"
**What steps did you take:**
As per the customer requirement we needed to remove **helm.sh/chart: tomcat-10.1.12** from the yaml file.

**What happened:**
got an error:
**kapp: Error: waiting on reconcile packageinstall/tomcatapp-demo (packaging.carvel.dev/v1alpha1) namespace: default:
  Finished unsuccessfully (Reconcile failed:  (message: Expected to find at least one version, but did not (detai

[2022-03-17 20:54] lnhrdt opened #460 "deploy logs always display logs for existing pods"
**Issue**

I've noticed that for resources annotated with `kapp.k14s.io/deploy-logs`, kapp is printing logs for all of my new and existing pods. This is true both with the default value of `""` and with the specified valued `"for-new"`. According to the docs, both values should omit logs for existing pods and only show logs for new pods.

**Environment:**

- kapp: 0.46.0
- OS: alpine 14 (container

[2022-03-17 20:58] lnhrdt commented on #460
Here's an example resource (template) that is having this issue:

[code]

[2022-03-17 21:40] 100mik commented on #459
It looks like this issue belongs to the `kapp-controller` repo.
Looks like you were trying to wrap a helm chart in a package.
Could you elaborate on the issue?

[2022-03-18 04:58] #339 closed, assigned to sethiyash

[2022-03-18 06:23] renuy commented on #460
@lnhrdt  adding this to our prioritized backlog. Thanks for bring this up

[2022-03-20 17:04] lnhrdt opened #461 "Allow versioned resources to have failed previous versions."
**Describe the problem/challenge you have**

When I use versioned job resources for data migrations, it would be useful to allow failed previous versions. In my development workflow these data migrations often fail and require developers to diagnose and deploy new versions. Ideally in this workflow:
- Developers don't need to manually modify (i.e. delete) k8s resources. Our deployments are all man

[2022-03-21 06:11] renuy commented on #461
@lnhrdt , adding this to the unprioritized backlog.  hoping to get to it soon, however feel free to raise a PR and we could get it reviewed in priority.
Thanks

[2022-03-21 06:21] praveenrewar commented on #461
I also noticed that using the `--diff-changes` flag when there is already a failed version present in the app results in a panic as shown below.
[code]

[2022-03-21 09:03] renuy commented on #410
Release v0.46.0

[2022-03-21 09:11] renuy commented on #380
Release v0.46.0

[2022-03-21 09:17] #235 closed, assigned to kumaritanushree

[2022-03-21 09:41] #446 closed, assigned to kumaritanushree

[2022-03-23 05:44] rohitagg2020 commented on #447
Hi @itaytalmi

kapp sets `--tty=true` by default which results in the extra "Succeeded" at the end of the file.

We have added a fix in the `develop` branch. To avoid printing extra "Succeeded" in the end, add `--tty=false` flag to the kapp command. e.g. `source <(kapp completion bash --tty=false)`.

This fix will be available from the next `kapp` release i.e. `>=0.47.0`.
Once, a next kapp release

[2022-03-24 07:21] #447 closed, assigned to rohitagg2020

[2022-03-24 10:49] cppforlife opened #467 "Lcs col is not updated to true when deploy failed, but recovered"
**What happened:**

this is probably because Lcs is set to false on the failed deploy, eventually resources succeed reconciling and subsequent kapp deploy results in being a noop (no changes). i dont believe in this case we "double check" that Lcs is switched back to true because we do not generate new app change -- should we?

**Environment:**

- kapp version (use `kapp --version`):
- OS (e.g. fr

[2022-03-24 11:00] praveenrewar commented on #467
I thought of creating this issue a while back but later on didn't because I thought it doesn't make sense to generate a new app change when there is no _change_, and the column itself says `Lcs` and `Lds` (Last Deployment...). But I have seen a user getting confused because of this, so we should definitely give some thoughts to it.

[2022-03-24 11:28] renuy commented on #467
So the scenario is.

1. We do kapp deploy — which fails and LCS is set to false
2. Reconcile in the background succeeds after some time.
3. We do kapp deploy again (subsequent deploys as in case of kapp-controller), since there is no change we do not deploy.
     - But suggestion here is that if LCS is false, check the status of each resource and if its successful mark LCS as true?
what happens to

[2022-03-24 17:32] cppforlife commented on #467
i think we should do an app change which should just record that reconcile succeeded "behind the scenes".

[2022-03-28 04:39] rohitagg2020 opened #469 "kapp should skip waiting on transient resources when delete strategy is orphan."
**Describe the problem/challenge you have**
While doing a kapp delete, if `delete-strategy` is `orphan` for a resource, kapp doesn't delete that resource and its transient resource which is expected behavior. But `kapp` output continues to print the message which implies that it is waiting for the transient resource to get deleted and ultimately, it errors out. This leads to ambiguity.

**Describe

[2022-03-29 15:37] renuy commented on #469
related to #452

[2022-03-30 18:04] ciis0 commented on #366
Same warning/info here, simply trying to deploy resources to a single NS. :)

[code]

[2022-03-30 18:06] ciis0 commented on #366
https://github.com/vmware-tanzu/carvel-kapp/blob/6bca22dd864f60f1d36b9b499d0c5226adf3d07d/pkg/kapp/resources/resources.go#L551
seems to have been added here: https://github.com/vmware-tanzu/carvel-kapp/pull/327/files#diff-4bf6c9b48383fc3b53344634e9527785c014d0aa647140a49c63d76bc1b22918R549

[2022-03-30 18:13] ciis0 commented on #366
https://gist.github.com/ciis0/e032866b877ea0341fa5c49a328fb0ba

[2022-03-31 10:18] kumaritanushree commented on #435
[dpb587](https://github.com/dpb587), would you be able to a submit a PR for this? If you don't have cycles to take this up, let us know. we could take it up

[2022-03-31 13:28] dpb587 commented on #435
I don't see myself getting back to this in the short-term as I originally planned, though do still look forward to the change. Feel free to pick this up if you/others are able.

[2022-04-05 00:04] dprotaso opened #471 "Conflicts should show some diff"
**Describe the problem/challenge you have**
When a conflict occurs it's not actionable

[code]

**Describe the solution you'd like**
It would good to show what the diff is so I could potentially write a rebase rule

**Anything else you would like to add:**
N/A

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley fac

[2022-04-05 03:28] dprotaso opened #472 "kapp deploy mutates created/updated resources twice causing conflicts"
**What steps did you take:**

Create a deployment yaml

[code]

In another terminal watch deployments
[code]

**What happened:**
After the deployment is applied kapp immediately updates it - you can see `generation: 2`.

Looking at my k8s service API logs it causes `Conflicts` on creating and updating resources

This is causing to fail deploying at times

[code]

**What did you expect:**
`kapp` do

[2022-04-05 06:56] rohitagg2020 commented on #471
@dprotaso , Can you share the steps to reproduce the issue?

[2022-04-05 08:03] universam1 opened #473 "HPA: keep the server chosen values per default"
Thank you for providing a great tool!

**Describe the problem/challenge you have**

The fix to add [custom rebaseRules to “prefer” server chosen value for spec.replicasUsers](https://carvel.dev/kapp/docs/v0.46.0/hpa-deployment-rebase/) on each repo is often unknown or forgotten by developers. It requires additional training and makes it harder for the developers to use Kapp for their deployments.

[2022-04-05 08:55] rohitagg2020 commented on #473
Thank you for the encouraging words @universam1

[2022-04-05 11:50] praveenrewar commented on #472
I think the additional update is the one happening to add/update the `kapp.k14s.io/original` annotation which can be disabled by using the [kapp.k14s.io/disable-original](https://carvel.dev/kapp/docs/v0.46.0/diff/#kappk14siodisable-original) annotation.

@dprotaso Would you be able to share some details on the specific scenario that leads to the conflict?

[2022-04-05 14:05] praveenrewar commented on #472
Relavant slack discussion: https://kubernetes.slack.com/archives/CH8KCCKA5/p1649116160660209

[2022-04-05 14:48] dprotaso commented on #472
#### Background
From [slack thread](https://kubernetes.slack.com/archives/CH8KCCKA5/p1649116160660209)

Originally I was encountering the conflict because my deployment has an HPA adjusting it's `spec.replicas`

[code]

But I wanted `kapp` to ignore the property so I created a rebase rule where I `remove` it.

[code]

This rebaseRule _still_ leads to the above conflict - (`copy:[existing,new]` doe

[2022-04-05 14:56] cppforlife commented on #472
i think that's expected because deployments are annotated with revision annotation by deployments controller.

[2022-04-05 15:15] dprotaso commented on #472
Reasons for the conflict

- k8s controller adds status conditions
- I see something adds `deployment.kubernetes.io/revision` annotation

I guess should adding the annotation `kapp.k14s.io/original` be a PATCH instead of an update

[2022-04-05 16:03] dprotaso commented on #471
Have a deployment with an HPA and no rebaseRules

[2022-04-06 05:44] rohitagg2020 commented on #473
@universam1 I would like to understand more about this scenario. Can we hop on a jump a zoom call if possible?

[2022-04-06 17:17] ciis0 commented on #81
Hi,

kustomize by default applies a "name suffix hash" to all ConfigMaps and Secrets it generates via `configMapGenerator`/`secretGenerator`, so maybe a "use at your own risk"-flag like `diffStripKustomizeNameSuffixHash: yes`, simply stripping the `-suffix` from *all* CMs and Secrets, might already be quite useful?

Unfortunately custom-written-YAML CMs/Secrets will *not* get a name-suffix-hash (a

[2022-04-06 20:38] georgevad opened #474 "Deploy with ConfigMap fails when it has the same name with the app - disallowed label 'kapp.k14s.io/is-app'"
**What steps did you take:**
Tried to deploy this example https://github.com/vmware-tanzu/carvel-kapp/blob/develop/examples/simple-app-example/config-2.yml

Ran : `kapp deploy -a simple-app -f examples/simple-app-example/config-2.yml`

**What happened:**
Received the following error:
[code]

**What did you expect:**
I would expect the application deployed successfully.

**Anything else you would l

[2022-04-07 05:26] praveenrewar commented on #474
Duplicate of #146.
[PR](https://github.com/vmware-tanzu/carvel-kapp/pull/403) has been merged with a fix and hopefully this will be present in the next release (i.e. v0.47.0)

[2022-04-07 05:26] #474 closed, assigned to nobody

[2022-04-07 11:18] sethiyash commented on #442
Acceptance Criteria -
- User should be able to configure arbitrary waitRules with the help of a function with predeclared name (eg. is_done) in starlark. Below is the example where we are adding waitRules for the Custom Resource which have `status.currentState` -
[code]
- Kapp should internally use ytt package to call that function and get the result.

[2022-04-07 17:34] rochacon commented on #81
I stumbled upon this recently and the way I "fixed" it was by delegating the `ConfigMap`/`Secret` versioning to `kapp` instead of `kustomize`, like this:

[code]

Example output:

[code]

[2022-04-07 17:48] cppforlife opened #476 "augment default rules with ordering for App/PackageInstall"
**Describe the problem/challenge you have**

want App/PackageInstall CR to work nicely (in context of ordering with service account/RBAC) out of the box in kapp deploy/delete.

**Describe the solution you'd like**

add default rules?

upsert:
- upsert clusterrolebinding after service account and clusterrole
- upsert PackageInstall/App should after service account and RBAC

deletion:
- delete Packa

[2022-04-07 21:50] jdef commented on #442
prior art: https://github.com/kubernetes/kubernetes/pull/105776

[2022-04-08 01:36] scothis commented on #427
Proposing the addition of a new condition for the ServiceBinding resource in https://github.com/servicebinding/spec/pull/218

If we can wait for this status condition to become true in a change-group, we can side step the race condition between resource for their health wait rules.

[2022-04-08 07:00] kumaritanushree commented on #452
Acceptance criteria:

- [x] Despite of type of delete strategy what we have applied to inoperable resources(like default namespace) kapp should orphan the resource in delete operation.
- [x]  For plain delete strategy (for operable resources) kapp should delete the resources on delete operation.
- [x] For orphan delete strategy (for operable resources) kapp should orphan the resources on delete op

[2022-04-08 14:53] unknownzone96 opened #477 "Documentation link not working"
**What steps did you take:**
Opened official documentation https://carvel.dev/kapp-controller/docs/v0.34.0/private-registry-auth/#packagerepository
and followed the link to "fetch docs":
<a href="config.md#image-authentication">fetch docs</a>

**What happened:**
Was redirected to non existing url
https://carvel.dev/kapp-controller/docs/v0.34.0/private-registry-auth/config.md#image-authentication
<

[2022-04-08 15:13] ciis0 commented on #448
<s>maybe linked to this section in code?

https://github.com/vmware-tanzu/carvel-kapp/blob/e0bf1c9d485c5c59a23b4cfe75915782e7fb4b42/pkg/kapp/resourcesmisc/apps_v1_deployment.go#L65-L71
</s>
if the image is not yet pulled, no new replicaset is there yet <s>and it seems like the method runs into the return here https://github.com/vmware-tanzu/carvel-kapp/blob/e0bf1c9d485c5c59a23b4cfe75915782e7fb4b42

[2022-04-09 15:18] criztovyl commented on #448
I have a funny idea I would like to check:

1. run a local registry
   `docker run -d -p 5000:5000 --restart always --name registry registry:2`
2. put a throttling proxy in front of the registry and make it *terribly* slow:
   <code><a href="">devd</a> /=http&colon;//127.0.0.1:5000/ --tls --up 16 --down 16 --latency 5000</code> (--up/--down in KBs)
3. run minikube
4. create and update a `strategy:

[2022-04-10 02:01] criztovyl commented on #448
A reproducible test-case: https://github.com/criztovyl/kapp-448

My observation is that the actual problem does not seem to be the new ReplicaSet but the old one, i could *not* reliably reproduce the issue with the slow/throttled registry. While toying around I then discovered that the time the *old* RS takes to terminate its pods (gracefully) seems to be the actual problem.

Below a table which s

[2022-04-10 02:10] criztovyl commented on #448
this is btw how kubectl seems to check deployment state:

https://github.com/kubernetes/kubectl/blob/652881798563c00c1895ded6ced819030bfaa4d7/pkg/polymorphichelpers/rollout_status.go#L58-L92

[2022-04-11 05:16] rohitagg2020 commented on #471
We can improve the error to show what is causing the conflict:

[code]

[2022-04-11 05:19] rohitagg2020 commented on #471
Note to Self: Error originates from https://github.com/vmware-tanzu/carvel-kapp/blob/a1a44c0d7f0fea302f77e091cf5bc4d9e3a3779e/pkg/kapp/clusterapply/add_or_update_change.go#L120

`OpsDiff` doesn't have any compare method to compare two `OpsDiff` and get output in a readable manner. Most probably, we have to enhance the code.

[2022-04-11 16:30] cppforlife opened #479 "kapp should add namespaces used by resources to fallback namespaces"
**Describe the problem/challenge you have**
currently fallback namespace for finding existing resources is only single namespace that is specified via --namespace flag. fallback namespaces are needed by kapp cannot find deployed resources easily (across all namespace). this becomes important if configuration is deployed across multiple namespaces but kapp does not have perms to list all namespaces

[2022-04-11 16:40] #452 closed, assigned to kumaritanushree

[2022-04-12 04:54] renuy commented on #479
adding to unprioritized backlog as of now.

[2022-04-12 04:55] renuy commented on #476
adding to un-prioritized backlog for now.

[2022-04-13 04:23] praveenrewar opened #484 "e2e tests should not have hardcoded namespace `kapp-test`"
**What steps did you take:**
[code]

**What happened:**
A few tests failed because they have hardcoded namespace `kapp-test` and hence require using a ns with the same name for running the e2e tests.

**What did you expect:**
Tests should have ran successfully.

**Anything else you would like to add:**
If we currently use
[code]
the tests run successfully as the namespace from the environment vari

[2022-04-13 06:53] EdwinWalela commented on #484
This is a good improvement and I would like to take it up. To confirm, does this seek to address the hardcoded `kapp-test` namespace instances in `annotations_test.go` only?

[2022-04-13 11:42] praveenrewar commented on #484
@EdwinWalela Thanks a lot.

There are some e2e tests in other files as well, but all of them are in /test/e2e only. For example, [this](https://github.com/vmware-tanzu/carvel-kapp/blob/4efc4822852b4077de8a3e6d3887d67529ff30f6/test/e2e/app_filter_test.go#L66) one is in `app_filter_test.go`

[2022-04-13 13:31] EdwinWalela commented on #484
@praveenrewar  The `kapp-test` namespace is hard coded [here](https://github.com/vmware-tanzu/carvel-kapp/blob/4efc4822852b4077de8a3e6d3887d67529ff30f6/test/e2e/diff_test.go#L309-L356), yet the namespace is provided as an environment [here](https://github.com/vmware-tanzu/carvel-kapp/blob/4efc4822852b4077de8a3e6d3887d67529ff30f6/test/e2e/diff_test.go#L256). Could this cause the test to fail as wel

[2022-04-13 14:29] praveenrewar commented on #484
@EdwinWalela Yep, this is one example where the tests would fail if a different namespace is used for running the tests. I will add some more details to the description.

(Updated the description)

[2022-04-14 07:44] EdwinWalela commented on #484
@praveenrewar Thanks for the update. I have submitted a PR to fix this issue. Let me know if there is something I have missed out :)

[2022-04-14 13:41] praveenrewar commented on #472
@dprotaso  Can you please through some light on this. I was trying to understand how PATCH would be of help here but haven't figured it out yet 😅

[2022-04-14 15:20] dprotaso commented on #472
See: https://kubernetes.io/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch/

Essentially you can apply a patch to an existing object and you shouldn't receive the API conflicts.

[2022-04-15 07:59] praveenrewar commented on #472
Thanks for sharing this. I will try out a few scenarios and update here.

[2022-04-15 21:51] warroyo opened #488 "ability to show complete yaml with dry-run"
currently when deploying with kapp I can only get a diff of changes this makes it hard to do comparisons of generated yaml outside of kapp as well as hard to see the impact of rebase rules etc.

**What I would like:**
when using kapp to deploy I would like a dry-run feature similar to kubectl that outputs all of the yaml that will be applied. right now I can see a diff but I want to be able to see

[2022-04-19 05:45] renuy commented on #488
related discussion https://kubernetes.slack.com/archives/CH8KCCKA5/p1650058772827969

[2022-04-19 10:08] kumaritanushree commented on #435
Acceptance Criteria:

- Users can define wait rule for status.condition level
**Reference(tested with CR cert-manager's certificate https://cert-manager.io/docs/usage/certificate/)**
_I have used kapp config while deploying certificate :_
[code]

In this scenario what kapp will do is, kapp will check if conditionMatchers.supportsObservedGeneration = true then it will match Metadata.Generation with

[2022-04-19 14:34] praveenrewar opened #491 "Using --diff-changes when a failed version of a resource is already present in the cluster results in panic"
**What steps did you take:**
`job-fail.yaml`
[code]
[code]

**What happened:**
When deploying an app which already consists of a failed job, kapp panics when using the `-c` option.

**What did you expect:**
kapp shouldn’t panic and show an empty since there's no change made to the resource.

**Anything else you would like to add:**

**Environment:**

- kapp version (use `kapp --version`): v0.46.0

[2022-04-19 14:35] praveenrewar commented on #461
Created a separate [issue](https://github.com/vmware-tanzu/carvel-kapp/issues/491) for the panic.

[2022-04-21 15:41] #471 closed, assigned to praveenrewar

[2022-04-25 12:32] #146 closed, assigned to neil-hickey, praveenrewar

[2022-04-25 13:25] #435 closed, assigned to kumaritanushree

[2022-04-25 20:13] dpb587 commented on #435
Thanks, @kumaritanushree and team!

[2022-04-27 04:12] absoludity opened #498 "kapp public API should not hide error types"
**What steps did you take:**

As a codebase which uses the public kapp go API, we call the public `RecordedApp.UsedGVs()` which in turn calls the private `RecordedApp.meta()` which in turn uses the k8s API to fetch the config map:

https://github.com/vmware-tanzu/carvel-kapp/blob/3486b0b61553e4cd1ebfc2fed3f95d81c1f65d10/pkg/kapp/app/recorded_app.go#L281-L287

So the code neatly checks if the error

[2022-04-27 05:48] sethiyash commented on #498
Hi @absoludity,
Thanks for raising this. We will be putting in our un prioritised backlog. In the meanwhile, if you are willing to raise a PR for this we will be happy to review it on priority.

[2022-04-28 08:51] kumaritanushree commented on #448
**Acceptance Criteria:**

- [x]  Fresh deploy of an application
- [x]  Update in existing deployment (like change image)
- [x]  Increasing number of replicas (scaleUp)
- [x]  Decreasing number of replicas (scaleDown)
- [x]  Delete

- [x]  Fresh deploy of an application
- [x]  Update in existing deployment (like change image)
- [x]  Increasing number of replicas (scaleUp)
- [x]  Decreasing number o

[2022-05-05 04:17] #448 closed, assigned to kumaritanushree

[2022-05-05 06:25] ciis0 commented on #448
Is there a plan when the next release that contains this fix will be available?

[2022-05-05 07:18] praveenrewar commented on #448
@ciis0 We are planning to make a release today (if we are not able to do it today, then probably in a couple of days).

[2022-05-05 07:31] ciis0 commented on #448
ok, then I was just impatient ^^

Thank you!

[2022-05-05 10:47] #461 closed, assigned to praveenrewar

[2022-05-05 10:47] #491 closed, assigned to praveenrewar

[2022-05-05 16:29] #442 closed, assigned to sethiyash

[2022-05-05 17:49] renuy commented on #452
Fix available as part of kapp v0.47.0

[2022-05-05 17:50] renuy commented on #491
Fix available as part of kapp v0.47.0

[2022-05-05 17:50] renuy commented on #461
Available as part of kapp v0.47.0

[2022-05-05 17:51] renuy commented on #448
Fix available as part of kapp v0.47.0

[2022-05-05 17:51] renuy commented on #435
Fix available as part of kapp v0.47.0

[2022-05-05 17:52] renuy commented on #146
Fix available as part of kapp v0.47.0

[2022-05-05 17:53] renuy commented on #447
Fix available as part of kapp v0.47.0

[2022-05-05 17:54] renuy commented on #235
Available as part of kapp v0.47.0

[2022-05-05 17:54] renuy commented on #339
Available as part of kapp v0.47.0

[2022-05-05 17:55] renuy commented on #359
Available as part of kapp v0.47.0

[2022-05-06 20:48] daneov opened #507 "Previous deployments' `status` is send and rejected by admission webhook"
**What steps did you take:**
I tried to use `kapp` to upgrade a Tanzu Kubernetes Cluster object to use a new API version for a cluster: `run.tanzu.vmware.com/v1alpha2`.

Attached:

<details>
<summary>kubectl get tkcs/tanzu-work -o=yaml</summary>

[code]

</details>

<details>
<summary>The state of the cluster I want to reach </summary>

[code]
</details>

<details>
<summary>kapp apply -a "<app_nam

[2022-05-07 05:09] praveenrewar commented on #507
Thank you so much for creating the issue @daneov. We will move this to our prioritised backlog.

[2022-05-09 15:14] #460 closed, assigned to sethiyash

[2022-05-12 09:14] praveenrewar opened #512 "Custom waitRules should work with default waiting rules of other resources like deployments"
**Describe the problem/challenge you have**
When I provide a custom `waitRule` for resources like Deployment, ReplicaSet, etc,. then the default waiting behaviour provided by kapp doesn't work. This is because we [return early](https://github.com/vmware-tanzu/carvel-kapp/blob/develop/pkg/kapp/clusterapply/converged_resource_factory.go#L47) when a custom waiting resource is found.

**Describe the s

[2022-05-16 10:38] #432 closed, assigned to sethiyash

[2022-05-20 01:20] GrahamDumpleton opened #514 "deterministic ordering of kubernetes.io/service-account-token secrets and SAs"
In Kubernetes 1.24 there have been changes to how REST API access tokens are handled. This affects use of `kapp-controller` as described in separate issue https://github.com/vmware-tanzu/carvel-kapp-controller/issues/687. With such changes one can expect people to start using secrets of type `kubernetes.io/service-account-token` more often, but `kapp` appears to experience intermittent failures wh

[2022-05-20 01:34] GrahamDumpleton commented on #514
So using:

[code]

appears to solve the issue.

The question is whether the expectation is that users are going to have to know this and add the annotations themselves, or whether kapp could somehow accomodate this automatically.

[2022-05-20 01:43] GrahamDumpleton commented on #514
A solution to this if possible would be an inbuilt rule to create secrets of type `kubernetes.io/service-account-token` after creating any service accounts, where as current behaviour seems to be to create all secrets before service accounts.

[2022-05-20 04:14] renuy commented on #514
@GrahamDumpleton , thank your for the full analysis and way to reproduce the issue. This really helps. will take up on priority.

[2022-05-20 12:29] cppforlife commented on #514
it's not that it's not visible, it's that it's deleted by k8s immediately (with tiny delay for some controller to notice) since k8s sees that there is no associated SA.

you can repro this reliably just by creating this single resource

[code]

kapp deploy may actually succeed but if you look just a tiny second later secret is gone from k8s. if you rerun kapp deploy it will show you that it's tryi

[2022-05-20 14:33] abubakarm94 opened #521 "Intermitent failure when executing kapp deploy command"
**What steps did you take:**
Occasionally, executing kapp deploy command fails with the following error

**What happened:**
[code]

Kapp version: `kapp version 0.47.0`

[2022-05-20 15:30] semoac commented on #366
Hi! I have the same issue with a deployment to a single namespace. Anyone knows how to avoid this?

[2022-05-20 19:57] GrahamDumpleton commented on #514
Initially I didn't know what was going on so that was best guess, but as I got to in the end I did surmise it was purely ordering requirement. :-)

The question is whether kapp can embody a rule that if a secret is of type `kubernetes.io/service-account-token` and includes the `kubernetes.io/service-account.name` annotation, that it is only created after service accounts, or is the upsert rule goi

[2022-05-21 12:40] voor commented on #457
It's not ideal, but as a workaround I'm slapping everything into an App CR that is in a different changegroup:

[code]

[2022-05-23 00:15] #473 closed, assigned to rohitagg2020

[2022-05-25 12:54] boogi commented on #246
@aaronshurley

I'll piggy back on this one, adding that I'd like to see not only IP (or very long and saying nothing dns name in case of EKS clusters) but also user-friendly name/alias that is set up in .kube/config for a cluster we're operating in.

[2022-05-25 16:38] cppforlife commented on #514
my 2c: this use case seems pretty rare, i think its worth seeing how common this problem becomes/is before promoting this behavior to a default rule.

[2022-05-26 00:44] dmitrynovik opened #516 "Expected to find kind 'packaging.carvel.dev/v1alpha1/PackageRepository' error on kapp deploy"
**What steps did you take:**
Trying to deploy Tanzu RabbitMQ as per guide: https://docs.vmware.com/en/VMware-Tanzu-RabbitMQ-for-Kubernetes/1.2/tanzu-rmq/GUID-installation.html#installation

**What happened:**
Installing the PackageRepository: `kapp deploy -a tanzu-rabbitmq-repo -f repo.yml -y -n tanzu-rmq --debug`
produces an error:
[code]

**What did you expect:**
Installation to succeed as per g

[2022-05-26 01:05] #516 closed, assigned to nobody

[2022-05-26 01:38] cameronbraid commented on #182
@renuy This is fantastic - sorry it took me a while to reply.

This feature makes my development workflow so much better.

I can now kapp deploy into a cluster with okteto enabld deployments, and have them ignored, using the following filter :

[code]

[2022-05-30 00:32] cameronbraid commented on #182
Actually, my previous filter wasn't quite right as it filtered out new resources, and had wrong label selector.

The following works

[code]

[2022-05-30 11:42] kumaritanushree commented on #488
Acceptance criteria

- As the solution of this issue, kapp will have a flag like diff-dry-run(this could be something else as well, putting here now just for reference) with `deploy` . If this flag is set to true, kapp will print the full yaml that's generated after applying rebase rules etc to the screen and exit.
-  Command will look like: **kapp deploy -a app1 -f xyz --diff-dry-run=true**
-  If

[2022-05-31 13:13] renuy commented on #442
available in v0.48.0

[2022-05-31 13:14] renuy commented on #460
available as part v0.48.0

[2022-05-31 13:16] renuy commented on #432
fix available as part of v0.48.0

[2022-05-31 14:46] rohitagg2020 commented on #395
After looking at the various packages, we have figured out that one rebase rule can be added to the default set of rebase rules. (PR: https://github.com/vmware-tanzu/carvel-kapp/pull/411). The rest of the packages have to define their own rebase rules as they need custom-tailored rebase rules.

[2022-05-31 14:46] #395 closed, assigned to rohitagg2020

[2022-05-31 22:02] cppforlife commented on #521
@abubakarm94 looks like we missed this issue. this seems a kapp issue, so im going to transfer it to that repo...

[2022-06-01 17:39] cppforlife commented on #488
- i'm not sure "dry run" is good term to use here since there is also server side dry run feature in k8s.
- something to think about is whether this bit is more related to diff or apply. one way to think about is what is the yaml to be applied.

[2022-06-02 07:11] praveenrewar commented on #521
@abubakarm94 Thank you for creating the issue.
`kapp: Error: error converting YAML to JSON: yaml` suggests that something is wrong in the yaml provided to kapp, but I don't see any issue with the kapp-controller release.yml. Does the error happen while using `https://github.com/vmware-tanzu/carvel-kapp-controller/releases/latest/download/release.yml` or with a modified version of the yaml?

[2022-06-02 12:04] kumaritanushree commented on #488
@warroyo
Let we deployed an app having two resources service and deployment. Now in second time we remove service and redeploy the app with deployment by making some update. In this case kapp will print the yaml only for deployment as the service will be deleted  in this case. Although if we want can print the yaml for both deployment and service but what kind of operation is getting applied on th

[2022-06-02 14:05] abubakarm94 commented on #521
Hi @praveenrewar, It happens when using `https://github.com/vmware-tanzu/carvel-kapp-controller/releases/latest/download/release.yml`

[2022-06-02 15:34] praveenrewar commented on #521
I see. Just a few more follow up questions while I am trying to reproduce the issue...

- Does the issue happen randomly or under some specific conditions.
- Does it get resolved automatically by re running the command?
- I am also curious about your specific use case :)  (as you are using an if condition so I am just guessing that you have some sort of a script running on regular basis?)

[2022-06-02 15:49] abubakarm94 commented on #521
Hi @praveenrewar, happy to help. here are my responses to your questions:

- It happens randomly, I've not observed that it happens under certain conditions.
-  It does get resolved if I continue to re-run the command, it takes up to 3-4 tries on occasion.
- We have a test on our CI that attempts to install a particular application via Kapp.  And if Kapp is already installed on the test cluster, i

[2022-06-02 17:20] praveenrewar commented on #521
Hey @abubakarm94 Thanks a lot for the quick answers.

I see. Initially I thought that some rate limiting or networking issue might be causing it, but I think that that would have lead to a different error message.

At this point I am not sure what could be causing this issue, so throwing in a couple of more questions (which might sound silly)
- How frequently does the error occur and how frequentl

[2022-06-02 17:53] abubakarm94 commented on #521
Not silly questions at all.

- The error doesn't occur frequently, it's possible to go weeks without seeing it. However, on the days it occurs, it happens multiple times.
- And yes, the error is always the same.

I'll update our script to download the file and use it the next time it happens. Thanks for the suggestion.

[2022-06-02 20:43] cppforlife commented on #521
i bet this would correlate to github having occasional spike of errors/outages for downloading assets. looking at the code seems like we are missing status 2xx check: https://github.com/vmware-tanzu/carvel-kapp/blob/e0bf1c9d485c5c59a23b4cfe75915782e7fb4b42/pkg/kapp/resources/file_sources.go#L58-L72. /cc @jtigger same in ytt.

[2022-06-02 20:51] cppforlife commented on #488
interesting twist :), is this now more of a --diff-changes but in a YAML format (e.g. --diff-changes-as-yaml)?

[2022-06-02 20:53] cppforlife commented on #366
@semoac im assuming your RBAC allows to list namespaces? does it need to?

[2022-06-02 20:56] semoac commented on #366
It does. Right now yes but we are working to reimplement  the "reason why" as an Operator.

[2022-06-03 03:31] praveenrewar commented on #521
I did think of something similar, but couldn't find any issue related to this anywhere, but this is the only reason that makes sense.

[2022-06-03 06:17] kumaritanushree commented on #488
@cppforlife

- dry-run is used just for reference for now. We will change it.
- This is more related to apply as we are going to print complete yaml (as shown in acceptance criteria) which is being generated by kapp after applying rebase rules and all to make changes in resources in cluster.

[2022-06-03 06:22] praveenrewar commented on #521
Adding reproduction steps for something similar:
[code]

Expected error should be something like this:
[code]

[2022-06-03 12:49] cmoulliard commented on #457
I also I struggle with a package to be deployed as kapp always reports
[code]
Is there a workaround ?

[2022-06-05 08:38] lnhrdt commented on #461
@renuy and @praveenrewar I got to try this out today.

I was looking for mention of the behavior in the docs, but couldn't find anything. Through experimentation it appears to me that it's the default new behavior, and no configuration is necessary. Is that correct?

[2022-06-05 08:41] praveenrewar commented on #461
That's correct, this is the default new behaviour.

Do you think it would be helpful to mention this in the docs?

[2022-06-05 09:00] lnhrdt commented on #461
Hey @praveenrewar! Thank you so much for this change. I know it was done a couple months ago but it's a great change for my pipelines.

Since it is the default behavior I don't think it's important to mention in the docs. I believe a new user who never saw the old behavior would find no surprises. I think I was just confused because I had an assumption it was going to be configurable. It's nice an

[2022-06-06 11:46] 100mik commented on #49
Looks like something that might belong here #514

[2022-06-07 14:32] ciis0 commented on #366
Hi,

in our test-environment our Jenkins has one, single SA for all namespaces.

We have a large number of (dynamic) namespaces, maintaining one credential per NS would be quite cumbersome.

[2022-06-08 10:27] kumaritanushree commented on #507
Acceptance criteria:

After going through all the slack discussion found that copying `status` from existing to new resource(current default behaviour of kapp) is not needed. Hence as a solution for this issue the three things going to do are:
1. Add functionality to apply `remove` rebase rule to existing resource. Currently kapp does not have support of this.
2. Add  `remove` rebase rule to remov

[2022-06-08 17:16] #521 closed, assigned to praveenrewar

[2022-06-08 20:48] anders-swanson opened #530 "Dependencies and Hooks"
Hi, this is a general question on a user story for carvel kapp. Is there a way to define dependencies or hooks on an app? E.g.,

- Run custom logic before the kapp-controller processing the YAML and deploys the app
- Run custom logic after the kapp-controller marks the app as healthy
- Define a list of selectors (i.e., matchLabels) for apps. All apps matching the selectors must be healthy before k

[2022-06-09 00:46] cppforlife commented on #366
@semoac if you are deploying stuff to a single namespace, you may be able to make use of "--dangerous-scope-to-fallback-allowed-namespaces" flag to limit kapp to only look at the namespace that is provided via `-n`.

@ciis0 if you have a SA for all namespaces, does it not have cluster level priveleges to list certain resources? (if you can share gist of Role/ClusterRole, it would be helpful).

[2022-06-09 05:03] ciis0 commented on #366
Hi,

our cluster admin set that up, I'll check.

[2022-06-14 10:49] #239 closed, assigned to nobody

[2022-06-14 10:55] #457 closed, assigned to praveenrewar

[2022-06-14 22:34] Turbots commented on #12
Getting the same error when installing TAP on EKS using `tanzu` CLI... so cannot control what kapp does...

`kapp` version `0.42.0`
`kubectl` version `1.22.10`
`tanzu` version `0.11.1`

[2022-06-16 06:06] 100mik commented on #12
Hey @Turbots !
Could you share the entire error message? Also, is this error recurring?
The version of kapp-controller running on your cluster will help out as well!

[2022-06-17 12:35] praveenrewar commented on #512
Currently Custom waitRules are triggered only after waitRules for app cr, package cr and package repo, ideally we would want to be able to use custom wait rules for these resources too.

[2022-06-21 15:33] praveenrewar opened #538 "Set e2e namespace variable in e2e tests if it is not set"
**Describe the problem/challenge you have**
[A description of the current challenge that you are experiencing.]
Currently the [e2e tests ](https://github.com/vmware-tanzu/carvel-kapp/blob/develop/hack/test-e2e.sh) need an environment variable (`KAPP_E2E_NAMESPACE`) to be set, which is basically the name of the namespace used to run all the tests. Most of the times we forget to set it and get an er

[2022-06-22 12:07] #538 closed, assigned to nobody

[2022-06-23 06:57] sethiyash commented on #23
We have stopped creating kapp app while doing `kapp deploy` with `--diff-run` flag.  The fix is available from release v0.48.0

[2022-06-23 06:57] #23 closed

[2022-06-23 10:52] #427 closed, assigned to praveenrewar

[2022-06-23 15:22] praveenrewar opened #541 "Add validations for matchers used in kapp config"
**Describe the problem/challenge you have**
Currently we don't have any validations for the matchers (e.g `apiGroup` in `apiGroupKindMatcher` can have a `/`).
This causes unexpected behaviour instead of an error.

**Describe the solution you'd like**
Adding validations for these matchers would help in erroring out at an early stage instead of unexpected behaviour.
We can add the following validati

[2022-06-29 09:26] ciis0 commented on #366
Hi,

we haven't used the cluster setup in a while, but I am also facing this issue when running kapp with my personal account which has access to large number of namespaces.

I am only deploying to a single namespace, maybe a flag or default to scan the current NS from kubeconfig could be added?

[2022-07-03 12:31] praveenrewar opened #547 "Bump Go version to latest (v1.18)"
**Describe the problem/challenge you have**
We want to ensure that the code remains compatible with the latest versions so that we do not risk falling behind and on an unsupported version (note: go supports n-1 versions).

**Describe the solution you'd like**
The code runs on the latest version of Go.

**Anything else you would like to add:**

---
Vote on this request

This is an invitation to the

[2022-07-05 18:09] #547 closed, assigned to kumaritanushree

[2022-07-05 18:29] praveenrewar commented on #366
Hi @ciis0
Just like @cppforlife has mentioned, if you are deploying stuff to a single namespace, you may be able to make use of `--dangerous-scope-to-fallback-allowed-namespaces` flag to limit kapp to only look at the namespace that is provided via -n.

[2022-07-05 22:33] ciis0 commented on #366
missed that, the warning does not appear with that, thanks for the hint!

[2022-07-07 11:00] #488 closed, assigned to kumaritanushree

[2022-07-16 10:31] voor commented on #224
This issue has come up again recently in discussion again around cert-manager Certificate rotation.

[2022-07-18 04:36] praveenrewar opened #557 "❄️ Flaky Test Collection ❄️"
Flaky Test Collection: Name and shame flaky or flakey tests in this issue, provide any ongoing hints/remediation, remove.

- [ ] `TestIgnoreFailingAPIServices` - [Error](https://github.com/vmware-tanzu/carvel-kapp/runs/7380063296?check_suite_focus=true#step:4:2054)
- [x] `TestYttWaitRulesWithUnblockChanges`
- [x] `TestSupportUnblockingChanges`
- [x] `TestYttRebaseRule...`
- [ ] Add `TestYttRebaseR

[2022-07-18 05:16] renuy commented on #224
thanks, @voor. Adding it to prioritized backlog.  @praveenrewar let's discuss more and see if we can come with a proposal for this.

[2022-07-20 09:59] praveenrewar commented on #73
Related to #491. Fix available as part of kapp v0.47.0+

[2022-07-20 09:59] #73 closed

[2022-07-20 18:38] voor commented on #89
Bump.

We've been putting this into our ytt templates to work around this, but would love to not need to do this:

[code]

[2022-07-21 05:49] praveenrewar commented on #89
@voor Thanks for the bump :)

What is the implication of providing a null value instead of an empty array? Is it okay to relax the constraint for all arrays in template rules, or should the functionality scope to only certain keys?

We will set a priority for this soon.

[2022-07-21 15:44] #476 closed, assigned to kumaritanushree

[2022-07-28 04:47] kumaritanushree commented on #224
### Acceptance Criteria:

- Kapp will have new annotation called `kapp.k14s.io/max-duration` which will accept `duration string` (like [ParseDuration](https://pkg.go.dev/time#ParseDuration) ) as value.
- Resource which has annotation `kapp.k14s.io/max-duration` set, kapp on every `kapp deploy` operation will create a new resource for that resource only if,  **CreationTimestamp  +  value of kapp.k1

[2022-07-28 12:54] #498 closed, assigned to kumaritanushree

[2022-07-28 14:21] universam1 opened #561 "filename reference in error output"
**What steps did you take:**

Deploying a set of spec files where one of them has an error. No idea which one...

**What happened:**

There is no reference in the error message to the file or even line to be able to trace back the issue.

[code]
or:
[code]

**What did you expect:**

like kubectl reference the filename and the line where this problem occurs

**Environment:**

- kapp version 0.50.0

[2022-07-28 14:29] praveenrewar commented on #561
Hi @universam1!
The error
[code]
generally means that the file is empty or doesn't have a resource present in it. Would you be able to share the file(s) content that you are trying to apply for better understanding of the issue?

[2022-07-28 15:06] praveenrewar opened #562 "Use kapp config to orphan delete resources"
**Describe the problem/challenge you have**
Currently if we want to remove resources from a kapp app, we have to either manually remove the kapp labels from the app or first add the orphan-delete strategy annotation to the resources and then delete them, thus requiring 2 deploys.

**Describe the solution you'd like**
We would want a way to specify which resources to be orphan deleted using the kap

[2022-07-28 15:12] praveenrewar opened #563 "Add flag to disable default label scoping rules"
### Discussed in https://github.com/vmware-tanzu/carvel-kapp/discussions/212

<div type='discussions-op-text'>

<sup>Originally posted by **cppforlife** April 17, 2021</sup>
Currently it's possible to disable label scoping feature per resource via annotation. We've seen that when users are migrating and they have existing Deployments it results in an annoying error for changing immutable field (sp

[2022-07-28 15:13] praveenrewar commented on #563
Related: #214

[2022-07-28 15:18] praveenrewar commented on #563
We can probably add a flag to disable label scoping for all the resources present in an app. Relevant [slack thread](https://kubernetes.slack.com/archives/CH8KCCKA5/p1659016664874299).

[2022-07-28 15:39] universam1 commented on #561
@praveenrewar Thanks, you and Kapp, are right that there is an empty file, errorously generated through our helm templating. However we do not know which file, this information is missing in the error log.
So this issue is only about enriching the error output with file name and line reference

[2022-07-28 15:41] cppforlife commented on #561
i think it's saying that it was not given _any_ resources in any of the files.

[2022-07-28 15:43] universam1 commented on #561
Ok, I'll check that, thanks

[2022-07-29 06:59] universam1 commented on #561
Another instance where the filename is missing, leaving one puzzled:

[code]

Also running in --debug does not give any hint either

[2022-07-29 07:56] praveenrewar commented on #561
[code]
Yeah, I agree that file source description should be added in this case.
Thanks for pointing it out 😄 And feel free to create a PR for the same :)

(BTW, the error would typically mean that there is a doc in one of the files in `kappsvc/services` which isn't a valid yaml.)

[2022-07-29 08:01] praveenrewar commented on #561
I think we can wrap [this](https://github.com/vmware-tanzu/carvel-kapp/blob/f58aae5136ea24663c7af968d74ab26856358be2/pkg/kapp/resources/file_resources.go#L85) error to include the fileSrc.Description and the doc index. We might just have to see how the error looks in different scenarios (for example stdin source).

[2022-07-30 14:19] universam1 opened #564 "use kapp as a Go Module"
**Describe the problem/challenge you have**

We'd be very excited if we would not have to shell out to Kapp from an orchestration tool but use as a Go module, which would dramatically improve the error handling and resilience.

**Describe the solution you'd like**

Similar to https://github.com/vmware-tanzu/carvel-ytt/blob/develop/examples/integrating-with-ytt/apis.md#as-a-go-module there could be

[2022-08-01 15:21] universam1 commented on #564
Due to repo move a go.mod replace is required:

[code]

[2022-08-02 06:39] praveenrewar commented on #564
Ah, yes. @benmoss is working on a [PR](https://github.com/vmware-tanzu/carvel-kapp/pull/567) to update this :)

[2022-08-02 21:16] adriens opened #570 ":loudspeaker: Please tweet about v0.51.0 release so I can RT it :bird:"

[2022-08-03 04:33] praveenrewar commented on #570
I believe we can close it with this: https://twitter.com/carvel_dev/status/1554607553195163650?t=iSPcnl4E0ZrkqfbvALBSog&s=19

[2022-08-03 04:33] #570 closed, assigned to nobody

[2022-08-03 04:45] adriens commented on #570
Sure we can @praveenrewar  😸

[2022-08-03 08:22] universam1 commented on #564
as @praveenrewar mentioned the current requirement to build is `k8s.io/client-go` < v0.23

From my test a simple approach is to leverage the cobra command including all Kapp app per se.
Disadvantage here is that the commands are to be generated via a string generator which is a dynamic not very safe interfacing.
Example
[code]
I'll research what it takes to do an explicit call to the pkg

[2022-08-04 10:52] universam1 commented on #564
Alternative approach is to avoid spf13/cobra as dependency and call the structs and methods natively. Advantage is less dependencies and thus a little smaller binary, but with the rather challenging requirement to disassabmle all the default values of the structs.

Example for app-group only run:

[code]

[2022-08-08 17:19] #563 closed, assigned to praveenrewar

[2022-08-09 10:28] universam1 commented on #561
@praveenrewar as another instance - would this error also be extended with the affected filename?
[code]

[2022-08-09 10:58] praveenrewar commented on #561
Seems like it. Although I am wondering about `error="error converting...`, we usually have errors wrapped with `kapp: Error: ...` 🤔

[2022-08-09 11:39] universam1 commented on #561
😊 This is due to us using Kapp as module now https://github.com/vmware-tanzu/carvel-kapp/issues/564#issuecomment-1203639470

[2022-08-09 16:37] revolunet opened #573 "Conflict on weird fields"
Hi, i dont really understand some conflict errors, maybe someone can help

Heres an example; these fields appear in the diff :

 - `kapp.k14s.io/nonce` : sounds legit
 - `image` : legit as its a new version
 - `initialDelaySeconds` and `cpu` : i guess its been "rewritten" by kube API

These changes looks legit but make kapp fails, any idea how to prevent this ?

[code]

[2022-08-09 17:31] 100mik commented on #573
`nonce` is something only another `kapp` deploy would change.

Could you tell us more about how is kapp being used here?

Is it via `kapp-controller`?
Are there more than one users/clients interacting with it using `kapp`?

To clarify: I mentioned "clients" because `kapp` might be being used by a CI pipeline, etc.

[2022-08-09 17:52] praveenrewar commented on #573
Hi @revolunet!

Is this error consistent or only happens sometimes?

Are you certain about this? Because the error
[code]
would typically mean that after kapp calculated the diff and before it started applying those changes, something updated the resource in the background and hence we get a conflict. Comparing the recalculated diff and the original diff (can be seen using `--diff-changes` or `-c`

[2022-08-09 19:24] revolunet commented on #573
in this case, kapp is used in a github action and apply some manifests produced with this :

https://github.com/SocialGouv/kube-workflow/blob/27ea1ad20b75fe0b4d5f472fa7d650db8b584436/packages/workflow/src/deploy/index.js#L172-L179

i dont think there is some kapp-controller and yes, many kapp could run in parallel but on different namespaces and this error happen quite often these days, maybe betw

[2022-08-09 19:57] praveenrewar commented on #573
Yeah, comparing the original diff with the recalculated diff would give us an idea of the fields that are getting updated in the background and we could then try to figure out a way to resolve it (maybe a rebase rule to not update those fields).

[2022-08-10 09:23] revolunet commented on #573
So here's the full diff for the deployment that fails

[code]

[2022-08-10 10:54] praveenrewar commented on #573
And the recalculated diff is the same as what you have shared in the first comment?

If so, I am seeing these 2 differences:
[code]
When kapp initially calculates the diff, it tries to remove these fields, but before it could apply the change, the fields are getting removed by something else. Can you think of anything that might be removing these fields?
(I am not sure what could be causing kapp t

[2022-08-10 21:03] revolunet commented on #573
No its not the same logs, but i can see this on new fails too

[code]

Hi, mmmm maybe the cattle.io annotation comes from our rancher when the ingress is provisionned.

can annotations be the cause of a conflict ?

[2022-08-10 22:01] 100mik commented on #573
If an annotation is added after the initial diff, it might lead to this error.
We can configure `kapp` to use[ `rebaseRules` ](https://carvel.dev/kapp/docs/v0.50.0/config/#rebaserules)and ask `kapp` to copy that particular annotation from the resource on the cluster to the resource being applied before calculating the diff.

This would involve adding something like this to your manifests:
[code]
T

[2022-08-10 22:46] 100mik commented on #573
10,  9       kapp.k14s.io/disable-original: ""
 11     -     kapp.k14s.io/identity: v1;env-xxx-1-5dc5hx/apps/Deployment/app-strapi;apps/v1

Was the value of the label being used to identify the app (`kubeworkflow/kapp`) changed at some point?

I can reproduce something similar by doing something like:
- Create labelled app
[code]
(succeeds!)
- Change the label being used to identify apps
[code]

[2022-08-10 22:52] revolunet commented on #573
its possible that it changed at some point in the past yes, but now its stable

[2022-08-12 06:20] firgavin opened #577 "Skip checking resources when `--wait=false` is specified"
**What steps did you take:**
I currently use Kapp as a CI tool to manage lots of YAML files. I used `--wait=false` when I deleted the app because sometimes deleting custom resources will take a long time.

**What happened:**
 kapp exits with non-zero code which makes CI fail.

[code]

**What did you expect:**
Kapp could skip checking resources when `--wait=false` is specified.

**Anything else you

[2022-08-12 07:23] praveenrewar commented on #577
Yeah, it seems like setting the wait flag to false would currently lead to an error while deleting recorded apps. So definitely it's a bug.

It does makes sense to allow that behaviour, I am just trying to think of any side effects it could have. One obvious thing that could happen is that one or more resources are not deleted but the app itself (metadata configmap) is deleted.
@cppforlife Any tho

[2022-08-15 04:33] renuy commented on #224
[Proposal](https://hackmd.io/Es98h5LuQCq_VtTZTKAo_g)

[2022-08-15 10:44] Zebradil commented on #381
I bumped into this issue while deploying kube-prometheus-stack.

I render kube-prometheus-stack helm chart and then pipe the output to `kapp deploy`.
The source yaml files contain only a Service, but not the corresponding StatefulSet, which is created later by the prometheus-operator. The generated StatefulSet doesn't contain `kapp.k14s.io/app` label in its template. So, the service points to nowh

[2022-08-15 14:05] praveenrewar commented on #381
Hi @Zebradil !

Thanks for sharing your feedback. Currently we are trying to figure out the best way to disable this. Since the existing kapp apps would already have these selector labels, disabling them would result in immutable field errors for Deployments, so we need to figure out a way to make this backward compatible.
As a first step we have introduced a flag `default-label-scoping-rules` (in